example.html
[
    {
        "id": "9ff2143d9824fc33",
        "type": "function",
        "z": "0b6ebac63bd94e18",
        "name": "Pseudo Active Node",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 1280,
        "wires": [
            [
                "570aed0726bdf91e"
            ]
        ]
    },
    {
        "id": "6e3e8dd7f232825e",
        "type": "function",
        "z": "0b6ebac63bd94e18",
        "name": "Filter Active Node Req",
        "func": "if (msg.payload == \"ACTIVE_NODE\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 1280,
        "wires": [
            [
                "9ff2143d9824fc33"
            ]
        ]
    },
    {
        "id": "570aed0726bdf91e",
        "type": "function",
        "z": "0b6ebac63bd94e18",
        "name": "Filter Active Node Res",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "c44a764a83369c8c",
        "type": "function",
        "z": "0b6ebac63bd94e18",
        "name": "Pseudo All Node",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 1180,
        "wires": [
            [
                "8fa38a9d69e7af66"
            ]
        ]
    },
    {
        "id": "c7caa23b62b63179",
        "type": "function",
        "z": "0b6ebac63bd94e18",
        "name": "Filter All Node Req",
        "func": "if (msg.payload == \"ALL_NODE\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1180,
        "wires": [
            [
                "c44a764a83369c8c"
            ]
        ]
    },
    {
        "id": "8fa38a9d69e7af66",
        "type": "function",
        "z": "0b6ebac63bd94e18",
        "name": "Filter All Node Res",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 1180,
        "wires": [
            []
        ]
    }
]