node_red_implement_flow.JSON
[
    {
        "id": "b3b8ecd799d30c85",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "99ec2049aa92cef2",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "900f497ddebf0e50",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 760,
        "y": 660,
        "wires": [
            [
                "d4fcd5d95be2e565",
                "56395d3b0be28b48"
            ]
        ]
    },
    {
        "id": "5887b4adf93b1470",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 1860,
        "y": 580,
        "wires": [
            [
                "f9f42e4c63df0a76"
            ]
        ]
    },
    {
        "id": "d4fcd5d95be2e565",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 840,
        "y": 700,
        "wires": [
            [
                "73d49cad1dd7b1ac",
                "7bc873d7d611386f"
            ]
        ]
    },
    {
        "id": "87dfdad4b25206c1",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 1780,
        "y": 700,
        "wires": [
            [
                "5887b4adf93b1470"
            ]
        ]
    },
    {
        "id": "3c42b227c1aa2bb7",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 1720,
        "y": 860,
        "wires": [
            [
                "87dfdad4b25206c1"
            ]
        ]
    },
    {
        "id": "56395d3b0be28b48",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 840,
        "y": 500,
        "wires": [
            [
                "051cee756b138980"
            ]
        ]
    },
    {
        "id": "6260e6119df9d7e0",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 360,
        "y": 1720,
        "wires": [
            [
                "0dd9168cfd9af294",
                "ce0853cd4962a4da"
            ]
        ]
    },
    {
        "id": "d1fc3bea9334bb94",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 2260,
        "y": 1640,
        "wires": [
            [
                "86cede2f276633ce"
            ]
        ]
    },
    {
        "id": "0878253b7ff13863",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 860,
        "y": 2520,
        "wires": [
            [
                "2f806ecf0c030b29"
            ]
        ]
    },
    {
        "id": "b88b06462ea35a80",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 1780,
        "y": 2520,
        "wires": [
            [
                "ff8c22b69e64cc9e"
            ]
        ]
    },
    {
        "id": "45a857a5bad7777e",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 1500,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "0611756acbbaaa4f",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 600,
        "y": 1300,
        "wires": [
            [
                "b414c5559ade0156",
                "445d3ce62a6a8e74"
            ]
        ]
    },
    {
        "id": "6f7138c8f04fe656",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 780,
        "y": 2380,
        "wires": [
            [
                "0878253b7ff13863",
                "0c85e029daa19a7c"
            ]
        ]
    },
    {
        "id": "2f6fdefd884f6432",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 1960,
        "y": 1300,
        "wires": [
            [
                "645efe99bc3facd5"
            ]
        ]
    },
    {
        "id": "ff8c22b69e64cc9e",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 1860,
        "y": 2380,
        "wires": [
            [
                "b7e177baa7685ff2"
            ]
        ]
    },
    {
        "id": "a781063deabc8f6a",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 1880,
        "y": 1160,
        "wires": [
            [
                "2f6fdefd884f6432"
            ]
        ]
    },
    {
        "id": "8a414ee2be0c2898",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 520,
        "y": 1420,
        "wires": [
            [
                "0611756acbbaaa4f",
                "54051d1e590ed2ce"
            ]
        ]
    },
    {
        "id": "8def934bbb914688",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 700,
        "y": 2240,
        "wires": [
            [
                "6f7138c8f04fe656",
                "1235a3d667f0d975"
            ]
        ]
    },
    {
        "id": "b7e177baa7685ff2",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 1940,
        "y": 2240,
        "wires": [
            [
                "cc65aefead53f49d"
            ]
        ]
    },
    {
        "id": "cc65aefead53f49d",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 2020,
        "y": 2120,
        "wires": [
            [
                "bcd46b29073d8e7a"
            ]
        ]
    },
    {
        "id": "1d237bbac7ca547b",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 620,
        "y": 2120,
        "wires": [
            [
                "8def934bbb914688",
                "eeba7f8bf906658b"
            ]
        ]
    },
    {
        "id": "0dd9168cfd9af294",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 440,
        "y": 1540,
        "wires": [
            [
                "8a414ee2be0c2898",
                "1eba4313b884e52a"
            ]
        ]
    },
    {
        "id": "48e72e5b2129f756",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 2160,
        "y": 1540,
        "wires": [
            [
                "d1fc3bea9334bb94"
            ]
        ]
    },
    {
        "id": "ce0853cd4962a4da",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 440,
        "y": 1820,
        "wires": [
            [
                "061558749cc34152",
                "bd3a9f63f36332fe"
            ]
        ]
    },
    {
        "id": "b8c7da12e7a6e7c8",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 2180,
        "y": 1820,
        "wires": [
            [
                "d1fc3bea9334bb94"
            ]
        ]
    },
    {
        "id": "061558749cc34152",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 540,
        "y": 1960,
        "wires": [
            [
                "1d237bbac7ca547b",
                "6f728d19281e256a"
            ]
        ]
    },
    {
        "id": "bcd46b29073d8e7a",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 2100,
        "y": 1960,
        "wires": [
            [
                "b8c7da12e7a6e7c8"
            ]
        ]
    },
    {
        "id": "01eebb577f170fea",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 1760,
        "y": 500,
        "wires": [
            [
                "5887b4adf93b1470"
            ]
        ]
    },
    {
        "id": "7bc873d7d611386f",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 920,
        "y": 860,
        "wires": [
            [
                "2db846783e73c1da"
            ]
        ]
    },
    {
        "id": "445d3ce62a6a8e74",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 680,
        "y": 1160,
        "wires": [
            [
                "e010e2cccd9f697e",
                "91f18d5786c39ce9"
            ]
        ]
    },
    {
        "id": "91f18d5786c39ce9",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 760,
        "y": 1040,
        "wires": [
            [
                "b85940fc7fbdaac2"
            ]
        ]
    },
    {
        "id": "645efe99bc3facd5",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 2060,
        "y": 1420,
        "wires": [
            [
                "48e72e5b2129f756"
            ]
        ]
    },
    {
        "id": "0251988901198b69",
        "type": "junction",
        "z": "99ec2049aa92cef2",
        "x": 1800,
        "y": 1040,
        "wires": [
            [
                "a781063deabc8f6a"
            ]
        ]
    },
    {
        "id": "cc4d597ebc76b350",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.122",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9c6816c5eb8f8852",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "6ba0f05d9b3e74ec",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#a2af9b",
            "primary": "#dccfc0",
            "bgPage": "#faf9ee",
            "groupBg": "#eeeeee",
            "groupOutline": "#e3e3e3"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "3cc17b58e22c4a2b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7af8c7f9721493d4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "94f387a4a6733eaf",
        "type": "mongodb4-client",
        "name": "",
        "protocol": "mongodb",
        "hostname": "",
        "port": "",
        "dbName": "smart_home",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "mongodb+srv://tuwaris:5D4Wyu40hIK64EFh@tuwaris.5ynbx.mongodb.net/?retryWrites=true&w=majority&appName=Tuwaris",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    },
    {
        "id": "255c633a4d55cf90",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "951d9b87fce84136",
        "type": "mqtt-broker",
        "name": "",
        "broker": "nubdown.net",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "567041d939132082",
        "type": "mqtt-broker",
        "name": "",
        "broker": "nubdown.net",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2d92e86cd386fc67",
        "type": "ui-page",
        "name": "Scan",
        "ui": "9c6816c5eb8f8852",
        "path": "/scan",
        "icon": "wifi",
        "layout": "grid",
        "theme": "6ba0f05d9b3e74ec",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "b40f685e1cdf5ae7",
        "type": "ui-page",
        "name": "Home",
        "ui": "9c6816c5eb8f8852",
        "path": "/home",
        "icon": "home",
        "layout": "grid",
        "theme": "6ba0f05d9b3e74ec",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "f2db7c9c0a1d0c5c",
        "type": "ui-group",
        "name": "Scan Group",
        "page": "2d92e86cd386fc67",
        "width": 12,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9283d0b6537f090b",
        "type": "ui-group",
        "name": "Home",
        "page": "b40f685e1cdf5ae7",
        "width": 12,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5cd9399b89f0de57",
        "type": "ui-page",
        "name": "Login",
        "ui": "9c6816c5eb8f8852",
        "path": "/login",
        "icon": "login",
        "layout": "grid",
        "theme": "6ba0f05d9b3e74ec",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "3f837437b7794c6a",
        "type": "ui-group",
        "name": "Login Group",
        "page": "5cd9399b89f0de57",
        "width": 12,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "af42bb77e60c025c",
        "type": "mongodb3",
        "uri": "mongodb+srv://tuwaris:5D4Wyu40hIK64EFh@tuwaris.5ynbx.mongodb.net/smart_home?retryWrites=true&w=majority&appName=Tuwaris",
        "name": "smart_home",
        "options": "",
        "parallelism": -1
    },
    {
        "id": "d119f2dced3a1356",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "Send Ping",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "ping",
        "payloadType": "str",
        "x": 500,
        "y": 460,
        "wires": [
            [
                "a0b909d93cea9564"
            ]
        ]
    },
    {
        "id": "a0b909d93cea9564",
        "type": "mqtt out",
        "z": "b3b8ecd799d30c85",
        "name": "Ping ESP8266",
        "topic": "esp/ping",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "951d9b87fce84136",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "e0970301eb8c2d4b",
        "type": "mqtt in",
        "z": "b3b8ecd799d30c85",
        "name": "ESP8266 Pong",
        "topic": "esp/pong",
        "qos": "0",
        "datatype": "auto",
        "broker": "951d9b87fce84136",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 480,
        "y": 520,
        "wires": [
            [
                "bbb3b47afa8a2727"
            ]
        ]
    },
    {
        "id": "bbb3b47afa8a2727",
        "type": "debug",
        "z": "b3b8ecd799d30c85",
        "name": "Pong Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "21b0af2ed8a72597",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "Get Active Nodes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "active_node",
        "payloadType": "str",
        "x": 460,
        "y": 580,
        "wires": [
            [
                "54d6d9aff1b5c4de"
            ]
        ]
    },
    {
        "id": "06f155522d2ea9bf",
        "type": "mqtt in",
        "z": "b3b8ecd799d30c85",
        "name": "ESP32 Give back list of Nodes",
        "topic": "res/mesh/nodes",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "567041d939132082",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 430,
        "y": 680,
        "wires": [
            [
                "cbc1af0f9ec0c03a"
            ]
        ]
    },
    {
        "id": "cbc1af0f9ec0c03a",
        "type": "debug",
        "z": "b3b8ecd799d30c85",
        "name": "Nodes Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 680,
        "wires": []
    },
    {
        "id": "54d6d9aff1b5c4de",
        "type": "mqtt out",
        "z": "b3b8ecd799d30c85",
        "name": "Send Request to ESP32",
        "topic": "req/mesh/nodes",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 730,
        "y": 580,
        "wires": []
    },
    {
        "id": "95775530427af735",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "Searching for new Node",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "ping",
        "payloadType": "str",
        "x": 460,
        "y": 780,
        "wires": [
            [
                "219369115b655aaa"
            ]
        ]
    },
    {
        "id": "219369115b655aaa",
        "type": "mqtt out",
        "z": "b3b8ecd799d30c85",
        "name": "Send Request to ESP32",
        "topic": "req/mesh/scan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 750,
        "y": 780,
        "wires": []
    },
    {
        "id": "279b39b4128a24ef",
        "type": "mqtt in",
        "z": "b3b8ecd799d30c85",
        "name": "ESP32 Give list of Found Nodes",
        "topic": "res/mesh/scan",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "567041d939132082",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 430,
        "y": 840,
        "wires": [
            [
                "167b98155f614fd9"
            ]
        ]
    },
    {
        "id": "167b98155f614fd9",
        "type": "debug",
        "z": "b3b8ecd799d30c85",
        "name": "Found Node Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 840,
        "wires": []
    },
    {
        "id": "87cd7d96feb0539f",
        "type": "mqtt out",
        "z": "b3b8ecd799d30c85",
        "name": "Connect to Node",
        "topic": "req/mesh/pair",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 730,
        "y": 940,
        "wires": []
    },
    {
        "id": "b04e3720c531d528",
        "type": "mqtt in",
        "z": "b3b8ecd799d30c85",
        "name": "Callback result",
        "topic": "res/mesh/pair",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "567041d939132082",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 440,
        "y": 1240,
        "wires": [
            [
                "edcec0fdd57448d3"
            ]
        ]
    },
    {
        "id": "edcec0fdd57448d3",
        "type": "debug",
        "z": "b3b8ecd799d30c85",
        "name": "report result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1300,
        "wires": []
    },
    {
        "id": "fcd9e74fa46b5bfa",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "A8:46:74:46:18:D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "A8:46:74:46:18:D0",
        "payloadType": "str",
        "x": 450,
        "y": 940,
        "wires": [
            [
                "87cd7d96feb0539f"
            ]
        ]
    },
    {
        "id": "8df997a309bd87ae",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "A8:46:74:46:18:DC",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "A8:46:74:46:18:DC",
        "payloadType": "str",
        "x": 450,
        "y": 980,
        "wires": [
            [
                "87cd7d96feb0539f"
            ]
        ]
    },
    {
        "id": "d4f489d621d90b2c",
        "type": "mqtt out",
        "z": "b3b8ecd799d30c85",
        "name": "Unpair node",
        "topic": "req/mesh/unpair",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 710,
        "y": 1080,
        "wires": []
    },
    {
        "id": "1e435d1132dbd2e6",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "1950750929",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1950750929",
        "payloadType": "str",
        "x": 470,
        "y": 1080,
        "wires": [
            [
                "d4f489d621d90b2c"
            ]
        ]
    },
    {
        "id": "5095253c85f342a9",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "1950750941",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1950750941",
        "payloadType": "str",
        "x": 470,
        "y": 1120,
        "wires": [
            [
                "d4f489d621d90b2c"
            ]
        ]
    },
    {
        "id": "93687f29ab519f24",
        "type": "mqtt in",
        "z": "b3b8ecd799d30c85",
        "name": "Callback result",
        "topic": "res/mesh/unpair",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "567041d939132082",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 440,
        "y": 1300,
        "wires": [
            [
                "edcec0fdd57448d3"
            ]
        ]
    },
    {
        "id": "64f7040f3e7422af",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "Custom",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "10:b4:1d:14:1e:ba",
        "payloadType": "str",
        "x": 710,
        "y": 1020,
        "wires": [
            [
                "87cd7d96feb0539f"
            ]
        ]
    },
    {
        "id": "9ea41f2462bfd475",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "Custom",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "487897357",
        "payloadType": "str",
        "x": 710,
        "y": 1140,
        "wires": [
            [
                "d4f489d621d90b2c"
            ]
        ]
    },
    {
        "id": "7611a11cde2c73a7",
        "type": "mqtt in",
        "z": "b3b8ecd799d30c85",
        "name": "Node Info",
        "topic": "mesh/node/info",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "567041d939132082",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 460,
        "y": 1360,
        "wires": [
            [
                "edcec0fdd57448d3"
            ]
        ]
    },
    {
        "id": "b7853ece3ba97a4b",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "Get All Nodes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "active_node",
        "payloadType": "str",
        "x": 470,
        "y": 620,
        "wires": [
            [
                "2c93b6cc1cbd8ac1"
            ]
        ]
    },
    {
        "id": "2c93b6cc1cbd8ac1",
        "type": "mqtt out",
        "z": "b3b8ecd799d30c85",
        "name": "Send Request to ESP32",
        "topic": "req/mesh/allnodes",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "951d9b87fce84136",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "b366f461df1b1b62",
        "type": "mqtt in",
        "z": "b3b8ecd799d30c85",
        "name": "ESP32 Give back list of All Nodes",
        "topic": "res/mesh/allnodes",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "567041d939132082",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 430,
        "y": 720,
        "wires": [
            [
                "cbc1af0f9ec0c03a"
            ]
        ]
    },
    {
        "id": "2ade4d1b8d8b8fd1",
        "type": "mqtt in",
        "z": "b3b8ecd799d30c85",
        "name": "State Update Response",
        "topic": "res/state/update",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "567041d939132082",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 420,
        "y": 1420,
        "wires": [
            [
                "edcec0fdd57448d3"
            ]
        ]
    },
    {
        "id": "5903ee777065cbbc",
        "type": "mqtt out",
        "z": "b3b8ecd799d30c85",
        "name": "Update State",
        "topic": "req/state/update",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 710,
        "y": 1500,
        "wires": []
    },
    {
        "id": "bada2f7044e1761d",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "1950750941",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"node_id\":1950750941,\"state\":{\"r1\":false,\"r2\":false}}",
        "payloadType": "json",
        "x": 450,
        "y": 1500,
        "wires": [
            [
                "5903ee777065cbbc"
            ]
        ]
    },
    {
        "id": "72869b6457d40661",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "1950750941",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"node_id\":1950750941,\"state\":{\"r1\":true,\"r2\":false}}",
        "payloadType": "json",
        "x": 450,
        "y": 1540,
        "wires": [
            [
                "5903ee777065cbbc"
            ]
        ]
    },
    {
        "id": "56e2224a5cc68aae",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "1950750941",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"node_id\":1950750941,\"state\":{\"r1\":false,\"r2\":true}}",
        "payloadType": "json",
        "x": 450,
        "y": 1580,
        "wires": [
            [
                "5903ee777065cbbc"
            ]
        ]
    },
    {
        "id": "73d7e38bf266b627",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "1950750941",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"node_id\":1950750941,\"state\":{\"r1\":true,\"r2\":true}}",
        "payloadType": "json",
        "x": 450,
        "y": 1620,
        "wires": [
            [
                "5903ee777065cbbc"
            ]
        ]
    },
    {
        "id": "f2f351c72405f20a",
        "type": "mqtt out",
        "z": "b3b8ecd799d30c85",
        "name": "Get State",
        "topic": "req/state/get",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 680,
        "y": 1700,
        "wires": []
    },
    {
        "id": "8a5433d92f96ef58",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "1950750929",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1950750929",
        "payloadType": "str",
        "x": 450,
        "y": 1700,
        "wires": [
            [
                "f2f351c72405f20a"
            ]
        ]
    },
    {
        "id": "ca3006e4e47716d8",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "1950750941",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1950750941",
        "payloadType": "str",
        "x": 450,
        "y": 1740,
        "wires": [
            [
                "f2f351c72405f20a"
            ]
        ]
    },
    {
        "id": "ae5adeb98f9525b2",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "Custom",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "487897357",
        "payloadType": "str",
        "x": 690,
        "y": 1760,
        "wires": [
            [
                "f2f351c72405f20a"
            ]
        ]
    },
    {
        "id": "6b43cc194c68cf32",
        "type": "mqtt in",
        "z": "b3b8ecd799d30c85",
        "name": "Get State Response",
        "topic": "res/state/get",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "567041d939132082",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 670,
        "y": 1420,
        "wires": [
            [
                "edcec0fdd57448d3"
            ]
        ]
    },
    {
        "id": "050a9b454954b006",
        "type": "mqtt out",
        "z": "b3b8ecd799d30c85",
        "name": "Update Sensor GPIO Mode",
        "topic": "req/mode/update",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 740,
        "y": 1840,
        "wires": []
    },
    {
        "id": "1a360b6c54bd13de",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "1950750929",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"node_id\":1950750929,\"mode\":{\"gpio_0\":\"button\",\"gpio_1\":\"delay\",\"gpio_3\":\"button\"}}",
        "payloadType": "json",
        "x": 450,
        "y": 1840,
        "wires": [
            [
                "050a9b454954b006"
            ]
        ]
    },
    {
        "id": "55ddb3ed106df295",
        "type": "debug",
        "z": "b3b8ecd799d30c85",
        "name": "report result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 2140,
        "wires": []
    },
    {
        "id": "ae3682a7fb654384",
        "type": "mqtt out",
        "z": "b3b8ecd799d30c85",
        "name": "Get Config",
        "topic": "req/config/get",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 690,
        "y": 1960,
        "wires": []
    },
    {
        "id": "9f3a3987433fd180",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "Get Configuration",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "something",
        "payloadType": "str",
        "x": 440,
        "y": 1960,
        "wires": [
            [
                "ae3682a7fb654384"
            ]
        ]
    },
    {
        "id": "199d633894788bdc",
        "type": "mqtt out",
        "z": "b3b8ecd799d30c85",
        "name": "Set Config",
        "topic": "req/config/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 690,
        "y": 2000,
        "wires": []
    },
    {
        "id": "ba3e4b80e9c5789d",
        "type": "mqtt out",
        "z": "b3b8ecd799d30c85",
        "name": "Remove Config",
        "topic": "req/config/remove",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 700,
        "y": 2040,
        "wires": []
    },
    {
        "id": "d321d8aaf1e3b217",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "Set Configuration",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"2991628353\":{\"r1\":{\"node_id\":1950750929,\"condition\":\"gpio_0|true\"},\"r2\":{\"node_id\":1950750929,\"condition\":\"light>100\"}}}",
        "payloadType": "json",
        "x": 440,
        "y": 2000,
        "wires": [
            [
                "199d633894788bdc"
            ]
        ]
    },
    {
        "id": "face78c776108ac3",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "Remove Configuration",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1950750941",
        "payloadType": "str",
        "x": 420,
        "y": 2040,
        "wires": [
            [
                "ba3e4b80e9c5789d"
            ]
        ]
    },
    {
        "id": "b8fe067a5b75e76a",
        "type": "mqtt in",
        "z": "b3b8ecd799d30c85",
        "name": "Get Response",
        "topic": "res/config/get",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "567041d939132082",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 450,
        "y": 2140,
        "wires": [
            [
                "55ddb3ed106df295"
            ]
        ]
    },
    {
        "id": "aa1ef9529e75d6ba",
        "type": "mqtt in",
        "z": "b3b8ecd799d30c85",
        "name": "Set Response",
        "topic": "res/config/set",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "567041d939132082",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 450,
        "y": 2180,
        "wires": [
            [
                "55ddb3ed106df295"
            ]
        ]
    },
    {
        "id": "d764fe4d576a9f66",
        "type": "mqtt in",
        "z": "b3b8ecd799d30c85",
        "name": "Remove Response",
        "topic": "res/config/remove",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "567041d939132082",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 430,
        "y": 2220,
        "wires": [
            [
                "55ddb3ed106df295"
            ]
        ]
    },
    {
        "id": "4bf61f7e1eb7d9ab",
        "type": "mqtt in",
        "z": "b3b8ecd799d30c85",
        "name": "Mode Update Response",
        "topic": "res/mode/update",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "567041d939132082",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 710,
        "y": 1240,
        "wires": [
            [
                "edcec0fdd57448d3"
            ]
        ]
    },
    {
        "id": "f98bece8e44359f8",
        "type": "mqtt in",
        "z": "b3b8ecd799d30c85",
        "name": "Relay State Auto Update",
        "topic": "res/state/auto_update",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "567041d939132082",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 410,
        "y": 2300,
        "wires": [
            [
                "55ddb3ed106df295",
                "09b446126ab842da"
            ]
        ]
    },
    {
        "id": "c8f937f76c22a537",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "10:B4:1D:14:B9:0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "10:B4:1D:14:B9:0C",
        "payloadType": "str",
        "x": 450,
        "y": 1020,
        "wires": [
            [
                "87cd7d96feb0539f"
            ]
        ]
    },
    {
        "id": "4b5fc66e6646ffef",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "10:B4:1D:14:1E:B8",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "10:B4:1D:14:1E:B8",
        "payloadType": "str",
        "x": 450,
        "y": 900,
        "wires": [
            [
                "87cd7d96feb0539f"
            ]
        ]
    },
    {
        "id": "1904dce806395ff9",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "487857849",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "487857849",
        "payloadType": "str",
        "x": 460,
        "y": 1160,
        "wires": [
            [
                "d4f489d621d90b2c"
            ]
        ]
    },
    {
        "id": "827d0f8a6ee5ea46",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "487897357",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "487897357",
        "payloadType": "str",
        "x": 460,
        "y": 1200,
        "wires": [
            [
                "d4f489d621d90b2c"
            ]
        ]
    },
    {
        "id": "1c43a7e4e2dd9557",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "Send Ping",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "ping",
        "payloadType": "str",
        "x": 960,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "e6013b84a3e3d80a",
        "type": "mqtt out",
        "z": "b3b8ecd799d30c85",
        "name": "Request Sensor GPIO Mode",
        "topic": "req/mode/get",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 740,
        "y": 1880,
        "wires": []
    },
    {
        "id": "e67595e02af5ec39",
        "type": "inject",
        "z": "b3b8ecd799d30c85",
        "name": "1950750929",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1950750929",
        "payloadType": "str",
        "x": 450,
        "y": 1880,
        "wires": [
            [
                "e6013b84a3e3d80a"
            ]
        ]
    },
    {
        "id": "cef259138e3f857b",
        "type": "mqtt in",
        "z": "b3b8ecd799d30c85",
        "name": "Mode Response",
        "topic": "res/mode/get",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "567041d939132082",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 440,
        "y": 2260,
        "wires": [
            [
                "55ddb3ed106df295"
            ]
        ]
    },
    {
        "id": "694ab85be764138f",
        "type": "mqtt in",
        "z": "b3b8ecd799d30c85",
        "name": "",
        "topic": "res/mesh/nodes",
        "qos": "2",
        "datatype": "json",
        "broker": "567041d939132082",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 2440,
        "wires": [
            [
                "55ddb3ed106df295"
            ]
        ]
    },
    {
        "id": "09b446126ab842da",
        "type": "debug",
        "z": "b3b8ecd799d30c85",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 2300,
        "wires": []
    },
    {
        "id": "5633e634e1e80bc8",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt out : req/mesh/scan",
        "info": "",
        "x": 1190,
        "y": 740,
        "wires": []
    },
    {
        "id": "a809ede51b3ff246",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt in : res/mesh/scan",
        "info": "",
        "x": 1440,
        "y": 740,
        "wires": []
    },
    {
        "id": "73d49cad1dd7b1ac",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Scan Req",
        "func": "if (msg.payload == \"scan\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 700,
        "wires": [
            [
                "e6ad541e54d3271b"
            ]
        ]
    },
    {
        "id": "edd89cf491662de0",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Pong",
        "func": "msg.scan = false;\nmsg.pong = true;\nmsg.info = false;\nmsg.pair = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 500,
        "wires": [
            [
                "01eebb577f170fea"
            ]
        ]
    },
    {
        "id": "fc62b91910c8ae1d",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Scan Res",
        "func": "msg.scan = true;\nmsg.pong = false;\nmsg.info = false;\nmsg.pair = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 700,
        "wires": [
            [
                "87dfdad4b25206c1"
            ]
        ]
    },
    {
        "id": "74b75fc756cad8e2",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Pair Res",
        "func": "msg.scan = false;\nmsg.pong = false;\nmsg.info = false;\nmsg.pair = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 860,
        "wires": [
            [
                "3c42b227c1aa2bb7"
            ]
        ]
    },
    {
        "id": "2db846783e73c1da",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Pair Req",
        "func": "if (msg.pair == \"true\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 860,
        "wires": [
            [
                "14645d62f23aee5e"
            ]
        ]
    },
    {
        "id": "ba6c6ae6fee02fab",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt out : req/mesh/pair",
        "info": "",
        "x": 1200,
        "y": 900,
        "wires": []
    },
    {
        "id": "8be75df8808c8520",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt in : res/mesh/pair",
        "info": "",
        "x": 1440,
        "y": 900,
        "wires": []
    },
    {
        "id": "6901d0ff9a7804cd",
        "type": "ui-template",
        "z": "99ec2049aa92cef2",
        "group": "3f837437b7794c6a",
        "page": "",
        "ui": "",
        "name": "Login Template",
        "order": 1,
        "width": 0,
        "height": 14,
        "head": "",
        "format": "<template class=\"bg-black-100\">\n  <div class=\"flex flex-col items-center justify-center h-full p-6\">\n    <h2 class=\"text-2xl font-bold mb-4\">Login</h2>\n    <v-text-field v-model=\"username\" label=\"Username\" outlined></v-text-field>\n    <v-text-field v-model=\"password\" label=\"Password\" type=\"password\" outlined></v-text-field>\n    <p v-if=\"error\" class=\"text-red-500 mt-2\">{{ error }}</p>\n    <v-btn class=\"mt-4\" color=\"primary\" @click=\"login\">Login</v-btn>\n  </div>\n</template>\n\n<script>\nexport default {\n  props: {\n    msg: {\n      type: Object,\n      required: true\n    }\n  },\n  data() {\n    return {\n      username: \"\",\n      password: \"\",\n      error: \"\"\n    };\n  },\n  mounted() {\n    if (localStorage.getItem(\"loggedIn\") == \"true\") {\n      this.redirectScan();\n    }\n  },\n  watch: {\n    msg(newMsg) {\n      if (newMsg && newMsg.payload) {\n        const user = newMsg.payload;\n        if (this.username === user.username && this.password === user.password) {\n          this.error = \"\";\n          localStorage.setItem(\"loggedIn\", \"true\");\n          this.redirectScan();\n        } else {\n          this.error = \"Invalid username or password\";\n        }\n      }\n    }\n  },\n  methods: {\n    login() {\n      const sendObj = {\n        collection: \"users\",\n        payload: { username: this.username },\n        operation: \"findOne\"\n      };\n      this.send(sendObj);\n    },\n    redirectScan() {\n      // tell Node-RED to switch tab via ui-control\n      const base = window.location.origin;\n      window.location.href = `${base}/dashboard/scan`;\n    }\n  }\n};\n</script>\n",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1320,
        "y": 160,
        "wires": [
            [
                "ca779b156e11fec4"
            ]
        ]
    },
    {
        "id": "86cede2f276633ce",
        "type": "ui-template",
        "z": "99ec2049aa92cef2",
        "group": "9283d0b6537f090b",
        "page": "",
        "ui": "",
        "name": "Home Template",
        "order": 1,
        "width": 0,
        "height": 14,
        "head": "",
        "format": "<template>\n  <div style=\"display: flex; flex-direction: column\" class=\"ma-3\">\n    <div class=\"top-buttons d-lg-flex d-sm-block justify-space-between align-center\">\n      <div>\n        <strong class=\"text-h6 font-weight-bold text-uppercase text-blue-grey-darken-4 mr-4\">\n          status :\n          <span :class=\"master_status === 'online' ? 'text-teal' : 'text-red-darken-2'\">\n            {{ master_status }}\n          </span>\n        </strong>\n      </div>\n      <div>\n        <v-btn\n          outlined\n          @click=\"refreshPage\"\n          style=\"background-color: #a2af9b; color: black\"\n          class=\"font-weight-bold text-subtitle-1 text-blue-grey-darken-4 mr-4\"\n        >\n          REFRESH\n        </v-btn>\n        <v-btn\n          outlined\n          style=\"background-color: #a2af9b; color: black\"\n          class=\"font-weight-bold text-subtitle-1 text-blue-grey-darken-4\"\n          :loading=\"isLoading\"\n          :disabled=\"isLoading\"\n          @click=\"syncSlave\"\n        >\n          <template v-slot:loader>\n            <v-progress-circular indeterminate color=\"white\" size=\"20\"></v-progress-circular>\n          </template>\n          <span v-if=\"!isLoading\">SYNC</span>\n          <span v-else>Loading...</span>\n        </v-btn>\n      </div>\n    </div>\n    <v-row class=\"mt-5 pa-4 rounded-lg\" style=\"background-color: #a2af9b; color: black\">\n      <v-col\n        v-for=\"(node, index) in slave_nodes\"\n        :key=\"index\"\n        cols=\"12\"\n        sm=\"6\"\n        md=\"3\"\n      >\n        <v-sheet\n          class=\"pa-3 text-subtitle-1 text-blue-grey-darken-4 rounded-lg\"\n          elevation=\"1\"\n          color=\"primary\"\n        >\n          <v-sheet color=\"primary\">\n            <div class=\"d-flex justify-space-between align-center\">\n              <strong>STATUS :\n                <span :class=\"node.node_status === 'online' ? 'text-teal text-uppercase' : 'text-red-darken-2 text-uppercase'\">\n                  {{ node.node_status }}\n                </span>\n              </strong>\n              <div>\n                <v-btn\n                  icon=\"mdi-cog\"\n                  size=\"small\"\n                  variant=\"text\"\n                  @click.stop=\"showNodePopup(node)\"\n                  :disabled=\"node.node_status === 'offline'\"\n                ></v-btn>\n                <v-btn\n                  icon=\"mdi-delete\"\n                  size=\"small\"\n                  variant=\"text\"\n                  color=\"red-darken-2\"\n                  @click.stop=\"unpairNode(node)\"\n                  :disabled=\"node.node_status === 'offline'\"\n                ></v-btn>\n              </div>\n            </div>\n            <div class=\"d-flex align-center\">\n              <span class=\"mr-2\">Node Name :</span>\n              <span\n                v-if=\"editingNodeMac !== node.mac_address\"\n                @click.stop=\"startEditing(node)\"\n                style=\"cursor: pointer;\"\n                class=\"font-weight-bold\"\n              >\n                {{ node.name || 'Mesh Node' }}\n              </span>\n              <v-text-field\n                v-else\n                v-model=\"editingNodeName\"\n                @keyup.enter=\"saveNodeName\"\n                @blur=\"saveNodeName\"\n                @click.stop\n                dense\n                autofocus\n                single-line\n                hide-details\n              ></v-text-field>\n            </div>\n            <p>MAC Addr : {{ node.mac_address }}</p>\n            <p>Node ID : {{ node.node_id }}</p>\n            <p>Node Type : {{ node.node_type }}</p>\n            <p>Description : {{ node.description }}</p>\n            \n            <div v-if=\"node.node_type === 'sensor' && node.state && node.state.i2c && node.node_status == 'online'\" class=\"mt-2\">\n              <v-divider class=\"my-1\"></v-divider>\n              <p v-for=\"(value, key) in node.state.i2c\" :key=\"key\" class=\"mb-0 text-caption\">\n                <strong class=\"text-capitalize font-weight-bold\">{{ key }}:</strong> {{ value }}\n              </p>\n              <v-divider class=\"mt-1\"></v-divider>\n            </div>\n            <div v-if=\"node.node_type === 'relay' && node.node_status === 'online'\">\n              \n              <v-btn\n                class=\"mb-2 mt-2\"\n                block\n                color=\"blue-grey-darken-1\"\n                @click=\"setManualMode(node)\"\n              >\n                {{ node.manual_mode ? 'AUTO' : 'MANUAL' }}\n              </v-btn>\n              <v-divider class=\"my-2\"></v-divider>\n              <div class=\"d-flex justify-space-around\">\n                <v-switch\n                  v-model=\"node.state.r1\"\n                  label=\"Relay 1\"\n                  color=\"teal\"\n                  inset\n                  hide-details\n                  :disabled=\"!node.manual_mode\"\n                  @change.stop=\"toggleRelay(node, 'r1')\"\n                ></v-switch>\n                <v-switch\n                  v-model=\"node.state.r2\"\n                  label=\"Relay 2\"\n                  color=\"teal\"\n                  inset\n                  hide-details\n                  :disabled=\"!node.manual_mode\"\n                  @change.stop=\"toggleRelay(node, 'r2')\"\n                ></v-switch>\n              </div>\n            </div>\n          </v-sheet>\n        </v-sheet>\n      </v-col>\n    </v-row>\n    <v-dialog v-model=\"dialog\" max-width=\"600\">\n      <v-card v-if=\"selectedNode\">\n        <div class=\"text-h6 text-center text-blue-grey-darken-4 pa-3\" style=\"background-color: #a2af9b;\">\n          {{ selectedNode.name || 'Mesh Node' }}\n        </div>\n        \n        <div v-if=\"selectedNode.node_type === 'sensor' && loadingNodeId === selectedNode.node_id\" class=\"d-flex justify-center align-center pa-10\" style=\"min-height: 150px;\">\n          <v-progress-circular indeterminate color=\"primary\"></v-progress-circular>\n        </div>\n        \n        <v-list v-else-if=\"selectedNode.node_type === 'sensor' && editableNodeConfig.state && editableNodeConfig.state.gpio\">\n          <v-list-item \n            v-for=\"(gpioConfig, gpioPin) in editableNodeConfig.state.gpio\" \n            :key=\"gpioPin\"\n          >\n            <div class=\"d-flex flex-column flex-sm-row justify-space-between align-center\">\n              <div class=\"font-weight-bold mb-2 mb-sm-0\">\n                {{ gpioPin }}\n              </div>\n              <v-btn-toggle\n                v-model=\"gpio_config.mode[gpioPin]\"\n                variant=\"outlined\"\n                divided\n                density=\"compact\"\n              >\n                <v-btn \n                  value=\"button\" \n                  @click=\"updateGpioConfig(gpioPin, 'button')\" \n                >Button</v-btn>\n                <v-btn \n                  value=\"toggle\" \n                  @click=\"updateGpioConfig(gpioPin, 'toggle')\" \n                >Toggle</v-btn>\n                <v-btn \n                  value=\"delay\" \n                  @click=\"updateGpioConfig(gpioPin, 'delay')\" \n                >Delay</v-btn>\n              </v-btn-toggle>\n            </div>\n          </v-list-item>\n        </v-list>\n        <v-list v-else-if=\"selectedNode.node_type === 'relay'\">\n          <v-list-item>\n            <div class=\"d-flex flex-column flex-sm-row flex-wrap align-start align-sm-center\">\n              <strong class=\"mr-sm-4 mb-2 mb-sm-0\">Relay 1:</strong>\n              <div style=\"width: 100%;\" class=\"d-flex flex-column flex-sm-row flex-wrap align-start align-sm-center\">\n                <v-select\n                  v-model=\"editableNodeConfig.state.r1_sensor\"\n                  :items=\"sensorNodeList\"\n                  label=\"Sensor Node\"\n                  dense outlined hide-details\n                  class=\"mr-sm-2 mb-2 mb-sm-0 w-100 w-sm-auto\"\n                  style=\"max-width: 150px;\"\n                ></v-select>\n                <v-select\n                  v-model=\"editableNodeConfig.state.r1_sensor_type\"\n                  :items=\"['gpio', 'i2c']\"\n                  label=\"Type\"\n                  dense outlined hide-details\n                  class=\"mr-sm-2 mb-2 mb-sm-0 w-100 w-sm-auto\"\n                  style=\"max-width: 100px;\"\n                ></v-select>\n              </div>\n              <div class=\"d-flex flex-column\" style=\"width: 100%;\">\n                <span class=\"text-caption mb-1\" :class=\"{ 'text-disabled': !editableNodeConfig.state.r1_sensor_type }\">Pin/Addr:</span>\n                <v-btn-toggle\n                  v-model=\"editableNodeConfig.state.r1_sensor_pin\"\n                  variant=\"outlined\"\n                  density=\"compact\"\n                  divided\n                  :disabled=\"!editableNodeConfig.state.r1_sensor_type\"\n                  class=\"flex-wrap\"\n                >\n                  <v-btn\n                    v-for=\"pin in r1_sensor_pins\"\n                    :key=\"pin\"\n                    :value=\"pin\"\n                    class=\"flex-grow-1\"\n                  >\n                    {{ pin }}\n                  </v-btn>\n                </v-btn-toggle>\n              </div>\n              <div class=\"d-flex flex-column\" style=\"width: 100%;\">\n                <v-text-field\n                  v-if=\"editableNodeConfig.state.r1_sensor && editableNodeConfig.state.r1_sensor_type && editableNodeConfig.state.r1_sensor_type == 'i2c' && editableNodeConfig.state.r1_sensor_pin\"\n                  v-model=\"editableNodeConfig.state.r1_condition_name\"\n                  label=\"Work Condition Ex: >30\"\n                  dense\n                  outlined\n                  hide-details\n                  class=\"mt-4\"\n                ></v-text-field>\n                <v-btn-toggle\n                  v-if=\"editableNodeConfig.state.r1_sensor && editableNodeConfig.state.r1_sensor_type && editableNodeConfig.state.r1_sensor_type == 'gpio' && editableNodeConfig.state.r1_sensor_pin\"\n                  v-model=\"editableNodeConfig.state.r1_condition_name\"\n                  variant=\"outlined\"\n                  density=\"compact\"\n                  divided\n                  class=\"mt-4\"\n                >\n                  <v-btn :value=\"true\">TRUE</v-btn>\n                  <v-btn :value=\"false\">FAlSE</v-btn>\n                </v-btn-toggle>\n              </div>\n            </div>\n          </v-list-item>\n          <v-divider></v-divider>\n          <v-list-item>\n            <div class=\"d-flex flex-column flex-sm-row flex-wrap align-start align-sm-center\">\n              <strong class=\"mr-sm-4 mb-2 mb-sm-0\">Relay 2:</strong>\n              <div style=\"width: 100%;\" class=\"d-flex flex-column flex-sm-row flex-wrap align-start align-sm-center\">\n                <v-select\n                  v-model=\"editableNodeConfig.state.r2_sensor\"\n                  :items=\"sensorNodeList\"\n                  label=\"Sensor Node\"\n                  dense outlined hide-details\n                  class=\"mr-sm-2 mb-2 mb-sm-0 w-100 w-sm-auto\"\n                  style=\"max-width: 150px;\"\n                ></v-select>\n                <v-select\n                  v-model=\"editableNodeConfig.state.r2_sensor_type\"\n                  :items=\"['gpio', 'i2c']\"\n                  label=\"Type\"\n                  dense outlined hide-details\n                  class=\"mr-sm-2 mb-2 mb-sm-0 w-100 w-sm-auto\"\n                  style=\"max-width: 100px;\"\n                ></v-select>\n              </div>\n              <div class=\"d-flex flex-column\" style=\"width: 100%;\">\n                <span class=\"text-caption mb-1\" :class=\"{ 'text-disabled': !editableNodeConfig.state.r2_sensor_type }\">Pin/Addr:</span>\n                <v-btn-toggle\n                  v-model=\"editableNodeConfig.state.r2_sensor_pin\"\n                  variant=\"outlined\"\n                  density=\"compact\"\n                  divided\n                  :disabled=\"!editableNodeConfig.state.r2_sensor_type\"\n                  class=\"flex-wrap\"\n                >\n                  <v-btn\n                    v-for=\"pin in r2_sensor_pins\"\n                    :key=\"pin\"\n                    :value=\"pin\"\n                    class=\"flex-grow-1\"\n                  >\n                    {{ pin }}\n                  </v-btn>\n                </v-btn-toggle>\n              </div>\n              <div class=\"d-flex flex-column\" style=\"width: 100%;\">\n                <v-text-field\n                  v-if=\"editableNodeConfig.state.r2_sensor && editableNodeConfig.state.r2_sensor_type && editableNodeConfig.state.r2_sensor_type == 'i2c' && editableNodeConfig.state.r2_sensor_pin\"\n                  v-model=\"editableNodeConfig.state.r2_condition_name\"\n                  label=\"Work Condition Ex: >30\"\n                  dense\n                  outlined\n                  hide-details\n                  class=\"mt-4\"\n                ></v-text-field>\n                <v-btn-toggle\n                  v-if=\"editableNodeConfig.state.r2_sensor && editableNodeConfig.state.r2_sensor_type && editableNodeConfig.state.r2_sensor_type == 'gpio' && editableNodeConfig.state.r2_sensor_pin\"\n                  v-model=\"editableNodeConfig.state.r2_condition_name\"\n                  variant=\"outlined\"\n                  density=\"compact\"\n                  divided\n                  class=\"mt-4\"\n                >\n                  <v-btn :value=\"true\">TRUE</v-btn>\n                  <v-btn :value=\"false\">FAlSE</v-btn>\n                </v-btn-toggle>\n              </div>\n            </div>\n          </v-list-item>\n        </v-list>\n        \n        <v-card-actions class=\"pa-3\">\n          <v-btn\n            v-if=\"selectedNode.node_type === 'sensor'\"\n            style=\"background-color: #a2af9b; color: black\"\n            text\n            @click=\"saveNodeConfig\"\n          >\n            Save\n          </v-btn>\n          <v-btn\n            v-if=\"selectedNode.node_type === 'relay' && !selectedNode.config\"\n            style=\"background-color: #a2af9b; color: black\"\n            text\n            @click=\"saveNodeConfig\"\n          >\n            Save\n          </v-btn>\n          <v-btn\n            v-if=\"selectedNode.node_type === 'relay' && selectedNode.config\"\n            style=\"background-color: rgb(211, 59, 59); color: white\"\n            text\n            @click=\"deleteConfig(selectedNode)\"\n          >\n            Delete\n          </v-btn>\n          <v-spacer></v-spacer>\n          <v-btn \n            style=\"background-color: #90a4ae; color: black\" \n            text\n            @click=\"closeDialog\"\n          >\n            Close\n          </v-btn>\n        </v-card-actions>\n      </v-card>\n    </v-dialog>\n    <v-snackbar\n      v-model=\"snackbar\"\n      top\n      absolute\n      :timeout=\"notify_timeout\"\n      :color=\"notify_color\"\n      elevation=\"5\"\n    >\n      {{ message }}\n      <template v-slot:actions>\n        <v-btn text @click=\"snackbar = false\">Close</v-btn>\n      </template>\n    </v-snackbar>\n  </div>\n</template>\n<script>\nexport default {\n  name: \"NodeManager\",\n  mounted() {\n    if (localStorage.getItem(\"loggedIn\") === \"false\") {\n      this.redirectLogin();\n    }\n    this.getNodesMongoDB();\n    this.checkNodeStatus(); \n    this.checkMasterStatus();\n    this.immediatePing();\n\n  },\n  data() {\n    return {\n      slave_nodes: [],\n      getNode_request: false,\n      ping_delay: 0,\n      allNode_request: false,\n      activeNode_request: false,\n      unpair_request: false,\n      gpioConfig_request: false,\n      relayConfig_request: false,\n      removeConfig_request: false,\n      toAuto_request: false,\n      toManual_request: false,\n      activeNodeSave_request: false,\n      get_gpio_type_request: false,\n      isLoading: false,\n      master_status: \"offline\",\n      editingNodeMac: null,\n      editingNodeName: \"\",\n      dialog: false,\n      selectedNode: null,\n      editableNodeConfig: null, // Temporary storage for edits in the dialog\n      snackbar: false,\n      message: '',\n      notify_color: \"teal\",\n      notify_timeout: 0,\n      gpio_config: {\n        node_id: \"\",\n        mode: {}\n      },\n      loadingNodeId: null, // To track loading state for sensor config dialog\n      offline_buffer: false,\n    };\n  },\n  computed: {\n    // Returns a list of online sensor nodes for the dropdowns\n    sensorNodeList() {\n      return this.slave_nodes\n        .filter(n => n.node_type === 'sensor' && n.node_status === 'online')\n        .map(n => n.name || n.mac_address);\n    },\n    // Dynamically gets the available pins for the Relay 1 sensor\n    r1_sensor_pins() {\n      if (!this.editableNodeConfig || !this.editableNodeConfig.state.r1_sensor || !this.editableNodeConfig.state.r1_sensor_type) {\n        return [];\n      }\n      \n      const selectedNodeName = this.editableNodeConfig.state.r1_sensor;\n      const node = this.slave_nodes.find(n => (n.name === selectedNodeName || n.mac_address === selectedNodeName));\n      \n      if (!node || !node.state) return [];\n      const type = this.editableNodeConfig.state.r1_sensor_type;\n      if (type === 'gpio' && node.state.gpio) {\n        return Object.keys(node.state.gpio);\n      }\n      if (type === 'i2c' && node.state.i2c) { // Assuming i2c data might exist at node.state.i2c\n        return Object.keys(node.state.i2c);\n      }\n      \n      return [];\n    },\n    // Dynamically gets the available pins for the Relay 2 sensor\n    r2_sensor_pins() {\n      if (!this.editableNodeConfig || !this.editableNodeConfig.state.r2_sensor || !this.editableNodeConfig.state.r2_sensor_type) {\n        return [];\n      }\n      \n      const selectedNodeName = this.editableNodeConfig.state.r2_sensor;\n      const node = this.slave_nodes.find(n => (n.name === selectedNodeName || n.mac_address === selectedNodeName));\n      \n      if (!node || !node.state) return [];\n      const type = this.editableNodeConfig.state.r2_sensor_type;\n      if (type === 'gpio' && node.state.gpio) {\n        return Object.keys(node.state.gpio);\n      }\n      if (type === 'i2c' && node.state.i2c) {\n        return Object.keys(node.state.i2c);\n      }\n      \n      return [];\n    }\n  },\n  watch: {\n    msg(newMsg) {\n      if (newMsg.type == \"RELAY_AUTO_UPDATE\") {\n        // auto update relay state\n        this.slave_nodes = this.slave_nodes.map(node => {\n          if (node.node_id === newMsg.payload.node_id && node.manual_mode == false) {\n            return {\n              ...node,\n              state: {\n                ...node.state,\n                ...newMsg.payload.state\n              }\n            };\n          }\n          return node;\n        });\n      }\n      if (newMsg.type == \"MONGO_DB\" && this.getNode_request) {\n        if (newMsg.payload == \"alive\") {\n          this.slave_nodes = [];\n          this.getNode_request = false;\n          this.isLoading = false;\n          return;\n        }\n        this.isLoading = false;\n        this.slave_nodes = Object.values(newMsg.payload).map(node => ({\n          ...node,\n          node_status: \"offline\",\n          manual_mode: false,\n        }));\n        this.getNode_request = false;\n      }\n      if (newMsg.type == \"PONG\") {\n        if (this.offline_buffer == false) {\n          this.offline_buffer = true;\n          const sendObj = { payload: \"active\", type: \"ACTIVE_NODE\" };\n          this.activeNode_request = true;\n          this.send(sendObj);\n        }\n        this.master_status = \"online\";\n        if (this.ping_delay < 2) {\n          this.ping_delay += 1;\n        }\n      }\n      if (newMsg.type == \"ACTIVE_NODE\" && this.activeNode_request) {\n        this.activeNode_request = false;\n        this.slave_nodes = this.slave_nodes.map(node => {\n          const key = node.mac_address;\n          if (newMsg.payload[key] && newMsg.payload[key].state) {\n            if (node.manual_mode == false) {\n              return {\n                ...node,\n                state: newMsg.payload[key]?.state || {},\n                node_status: \"online\"\n              };\n            } else {\n              return {\n                ...node,\n                node_status: \"online\"\n              };\n            }\n          } else {\n            return {\n              ...node,\n              node_status: \"offline\"\n            };\n          }\n        });\n      }\n\n      if (newMsg.type == \"ACTIVE_NODE\" && this.activeNodeSave_request) {\n        this.activeNodeSave_request = false;\n        this.slave_nodes = this.slave_nodes.map(node => {\n          const key = node.mac_address;\n          if (newMsg.payload[key] && newMsg.payload[key].state) {\n            if (node.manual_mode == false) {\n              return {\n                ...node,\n                state: newMsg.payload[key]?.state || {},\n                node_status: \"online\"\n              };\n            } else {\n              return {\n                ...node,\n                node_status: \"online\"\n              };\n            }\n          } else {\n            return {\n              ...node,\n              node_status: \"offline\"\n            };\n          }\n        });\n        for (const key in newMsg.payload) {\n          const updateObj = {\n            collection: \"nodes\",\n            operation: \"updateOne\",\n            type: \"MONGO_DB\",\n            payload: [\n              { mac_address: key },\n              { $set: newMsg.payload[key] }\n            ]\n          };\n          this.send(updateObj);\n        }\n        setTimeout(() => {\n          this.refreshPage();\n        }, 5000);\n      }\n      if (newMsg.type == \"ALL_NODE\" && this.allNode_request) {\n        this.allNode_request = false;\n        const dropObj = {\n          collection: \"nodes\",\n          payload: {},\n          operation: \"deleteMany\",\n          type: \"MONGO_DB\"\n        };\n        this.send(dropObj);\n        setTimeout(() => {\n          const insertObj = {\n            collection: \"nodes\",\n            payload: [Object.values(newMsg.payload)],\n            operation: \"insertMany\",\n            type: \"MONGO_DB\"\n          };\n          this.send(insertObj);\n          this.showNotification(`Sync succeeded`, \"green\");\n          this.saveActiveNode();\n          this.activeNodeSave_request = true;\n          this.getNodesMongoDB();\n        }, 2000);\n      }\n      \n      if (newMsg.type == \"UNPAIR_NODE\" && this.unpair_request) {\n        const deleteObj = {\n          collection: \"nodes\",\n          operation: \"deleteOne\",\n          type: \"MONGO_DB\",\n          payload: [{ mac_address: newMsg.payload.mac_address }]\n        };\n        this.send(deleteObj);\n        this.slave_nodes = this.slave_nodes.filter(\n          (n) => n.mac_address !== newMsg.payload.mac_address\n        );\n        this.unpair_request = false;\n        this.showNotification(`Unpair ${newMsg.payload.mac_address} succeeded`, \"green\");\n        // remove detected node paired\n        let data = JSON.parse(localStorage.getItem(\"nodes_detected\")) || [];\n        data = data.filter(n => n.mac_address !== newMsg.payload.mac_address);\n        localStorage.setItem(\"nodes_detected\", JSON.stringify(data));\n      }\n      if (newMsg.type == \"UPDATE_GPIO_CONFIG\" && this.gpioConfig_request) {\n        this.gpioConfig_request = false;\n        this.showNotification(`node_id : ${newMsg.payload.node_id} GPIO configuration updated successfully`, \"green\");\n      }\n      if (newMsg.type == \"RELAY_CONFIG\" && this.relayConfig_request) {\n        this.relayConfig_request = false;\n        this.showNotification(`node_id : ${newMsg.payload.node_id} Relay configuration updated successfully`, \"green\");\n        this.saveActiveNode();\n        this.activeNodeSave_request = true;\n        this.refreshPage();\n      }\n      if (newMsg.type == \"REMOVE_CONFIG\" && this.removeConfig_request) {\n        this.removeConfig_request = false;\n        this.showNotification(`node_id : ${newMsg.payload.node_id} configuration removed successfully`, \"green\");\n        this.saveActiveNode();\n        this.activeNodeSave_request = true;\n        this.refreshPage();\n      }\n      if (newMsg.type == \"REMOVE_CONFIG\" && this.toManual_request) {\n        this.toManual_request = false;\n        // change auto mode to manual mode\n        this.slave_nodes = this.slave_nodes.map(node => {\n          if (node.node_id === newMsg.payload.node_id) {\n            return {\n              ...node,\n              manual_mode: true\n            };\n          }\n          return node;\n        });\n      }\n      if (newMsg.type == \"RELAY_CONFIG\" && this.toAuto_request) {\n        this.toAuto_request = false;\n        // change manual mode to auto mode\n        this.slave_nodes = this.slave_nodes.map(node => {\n          if (node.node_id === newMsg.payload.node_id) {\n            return {\n              ...node,\n              manual_mode: false\n            };\n          }\n          return node;\n        }); \n      }\n      if (newMsg.type == \"GET_GPIO_TYPE\" && this.get_gpio_type_request) {\n        this.get_gpio_type_request = false;\n        if (this.gpio_config && this.gpio_config.node_id === newMsg.payload.node_id) {\n          this.gpio_config = {\n            node_id: newMsg.payload.node_id,\n            mode: newMsg.payload.mode || this.gpio_config.mode\n          };\n        }\n        this.loadingNodeId = null; // Stop loading\n      }\n    }\n  },\n  methods: {\n    saveNodeConfig() {\n      if (!this.selectedNode) return;\n      if (this.selectedNode.node_type === 'sensor') {\n        this.saveSensorConfig();\n      } else if (this.selectedNode.node_type === 'relay') {\n        this.saveRelayConfig();\n      }\n    },\n    saveRelayConfig() {\n      // Ensure there is a node configuration to save\n      if (!this.editableNodeConfig) return;\n\n      // Find the corresponding sensor nodes for each relay\n      const r1_sensor_node = this.slave_nodes.find(n => \n        n.name === this.editableNodeConfig.state.r1_sensor || n.mac_address === this.editableNodeConfig.state.r1_sensor\n      );\n      const r2_sensor_node = this.slave_nodes.find(n => \n        n.name === this.editableNodeConfig.state.r2_sensor || n.mac_address === this.editableNodeConfig.state.r2_sensor\n      );\n\n      // Helper function to safely build the condition string\n      const buildCondition = (type, pin, value) => {\n        // Return null if any required part of the condition is missing\n        if (!type || !pin || value === undefined || value === null || value === '') {\n          return null;\n        }\n        // Format the condition string based on the sensor type\n        return type === \"gpio\" ? `${pin}|${value}` : `${pin}${value}`;\n      };\n\n      const configObj = {\n        payload: {\n          [this.editableNodeConfig.node_id]: {\n            r1: {\n              node_id: r1_sensor_node ? r1_sensor_node.node_id : null,\n              condition: buildCondition(\n                this.editableNodeConfig.state.r1_sensor_type,\n                this.editableNodeConfig.state.r1_sensor_pin,\n                this.editableNodeConfig.state.r1_condition_name\n              )\n            },\n            r2: {\n              node_id: r2_sensor_node ? r2_sensor_node.node_id : null,\n              condition: buildCondition(\n                this.editableNodeConfig.state.r2_sensor_type,\n                this.editableNodeConfig.state.r2_sensor_pin,\n                this.editableNodeConfig.state.r2_condition_name\n              )\n            }\n          }\n        },\n        type: \"RELAY_CONFIG\",\n      };\n      this.send(configObj);\n      this.showNotification(\"Saving relay configuration...\", \"blue\");\n      this.relayConfig_request = true;\n      this.closeDialog();\n    },\n    saveSensorConfig() {\n      const updateObj = {\n        payload: this.gpio_config,\n        type: \"UPDATE_GPIO_CONFIG\",\n      };\n      this.send(updateObj);\n      this.gpioConfig_request = true;\n      this.showNotification(\"Saving GPIO configuration...\", \"blue\");\n      this.closeDialog();\n    },\n    closeDialog() {\n      this.dialog = false;\n      this.loadingNodeId = null; // Reset loading state on close\n      this.gpio_config = {\n        node_id: \"\",\n        mode: {}\n      };\n      this.selectedNode = null;\n      this.editableNodeConfig = null;\n    },\n    updateGpioConfig(gpioPin, newType) {\n      this.gpio_config.mode[gpioPin] = newType;\n    },\n    showNotification(msg = 'Notification shown at the top!', color = \"teal\") {\n      this.notify_timeout += 3000;\n      this.message = msg;\n      this.notify_color = color;\n      this.snackbar = true;\n      this.$emit('send', { payload: 'top_notification_shown' });\n    },\n    unpairNode(node) {\n      if (this.master_status !== \"online\") {\n        this.showNotification(\"Master node is offline. Cannot fetch relay configurations.\", \"red\");\n        return;\n      }\n      if (node.node_status == \"online\") {\n        if (confirm(`Are you sure you want to unpair the node \"${node.name || node.mac_address}\"?`)) {\n          const unpairObj = {\n            payload: node.node_id,\n            type: \"UNPAIR_NODE\",\n          }\n          this.send(unpairObj);\n          this.unpair_request = true;\n          this.showNotification(\"Unpairing...\", \"blue\");\n        }\n      } else {\n        this.showNotification(`This ${node.mac_address} is offline`, \"red\");\n      }\n    },\n    setManualMode(node) {\n      if (!node.manual_mode) {\n        const removeObj = {\n          payload: node.node_id,\n          type: \"REMOVE_CONFIG\",\n        }\n        this.send(removeObj);\n        this.toManual_request = true;\n        this.showNotification(`Toggle ${node.name || node.mac_address} to manual....`, \"blue\");\n      } else {\n        if (node.config) {\n          const configObj = {\n            payload: {\n              [node.node_id]: {\n                ...node.config\n              }\n            },\n            type: \"RELAY_CONFIG\",\n          };\n          this.send(configObj);\n          this.toAuto_request = true;\n          this.showNotification(`Toggle ${node.name || node.mac_address} to auto....`, \"blue\");\n        } else {\n          this.showNotification(\"No configuration found for this relay node. Please set up the configuration first.\", \"red\");\n          return;\n        }\n      }\n    },\n    toggleRelay(node) {\n      if (!node || !node.state) {\n        return;\n      }\n      const commandObj = {\n        type: \"RELAY_CONTROL\",\n        payload: {\n          node_id: node.node_id,\n          state: {\n            \"r1\": node.state.r1,\n            \"r2\": node.state.r2,\n          },\n        }\n      };\n      this.send(commandObj);\n    },\n    showNodePopup(node) {\n      this.selectedNode = node;\n      this.editableNodeConfig = JSON.parse(JSON.stringify(node));\n      this.dialog = true;\n\n      if (node.node_type == \"sensor\") {\n        this.loadingNodeId = node.node_id; // Start loading\n\n        // set default gpio config mode to button\n        let default_gpio = node.state.gpio || {};\n        for (let key in default_gpio) {\n          default_gpio[key] = \"button\";\n        } \n        this.gpio_config = {\n          node_id: node.node_id,\n          mode: default_gpio || {}\n        };\n        \n        const getObj = {\n          payload: node.node_id,\n          type: \"GET_GPIO_TYPE\",\n        }\n        this.send(getObj);\n        this.get_gpio_type_request = true;\n      }\n    },\n    startEditing(node) {\n      this.editingNodeMac = node.mac_address;\n      this.editingNodeName = node.name || '';\n    },\n    saveNodeName() {\n      if (!this.editingNodeMac) return;\n      const nodeToUpdate = this.slave_nodes.find(n => n.mac_address === this.editingNodeMac);\n      if (nodeToUpdate) {\n        nodeToUpdate.name = this.editingNodeName;\n        const updateObj = {\n          collection: \"nodes\",\n          operation: \"updateOne\",\n          type: \"MONGO_DB\",\n          payload: [\n            { mac_address: this.editingNodeMac },\n            { $set: { name: this.editingNodeName } }\n          ]\n        };\n        this.send(updateObj);\n      }\n      this.editingNodeMac = null;\n      this.editingNodeName = \"\";\n    },\n    redirectLogin() {\n      const base = window.location.origin;\n      window.location.href = `${base}/dashboard/login`;\n    },\n    getNodesMongoDB() {\n      const sendObj = {\n        collection: \"nodes\",\n        operation: \"find.toArray\",\n        type: \"MONGO_DB\"\n      };\n      this.getNode_request = true;\n      this.send(sendObj);\n    },\n    checkMasterStatus() {\n      setInterval(() => {\n        if (this.ping_delay > 0) {\n          this.ping_delay -= 1;\n        } else {\n          this.master_status = \"offline\";\n          this.offline_buffer = true;\n          this.slave_nodes = this.slave_nodes.map(node => ({\n            ...node,\n            node_status: \"offline\"\n          }));\n        }\n      }, 10000);\n    },\n    checkNodeStatus() {\n      const sendObj = { payload: \"active\", type: \"ACTIVE_NODE\" };\n      setInterval(() => {\n        if (this.master_status == \"online\") {\n          this.activeNode_request = true;\n          this.send(sendObj);\n        }\n      }, 10000);\n    },\n    saveActiveNode() {\n      const sendObj = { payload: \"active\", type: \"ACTIVE_NODE\" };\n      this.activeNodeSave_request = true;\n      this.send(sendObj);\n    },\n    syncSlave() {\n      if (this.master_status !== \"online\") {\n        this.showNotification(\"Master node is offline. Cannot fetch relay configurations.\", \"red\");\n        return;\n      }\n      this.allNode_request = true;\n      const sendObj = { payload: \"getAllNode\", type: \"ALL_NODE\" };\n      this.send(sendObj);\n      this.isLoading = true;\n    },\n    refreshPage() {\n      window.location.reload();\n    },\n    removeConfig(node) {\n      const removeObj = {\n        payload: node.node_id,\n        type: \"REMOVE_CONFIG\",\n      }\n      this.send(removeObj);\n      this.removeConfig_request = true;\n    },\n    deleteConfig(node) {\n      if (confirm(`Are you sure you want to delete the configuration for the node \"${node.name || node.mac_address}\"?`)) {\n        this.removeConfig(node);\n        this.showNotification(\"Removing configuration...\", \"blue\");\n        this.closeDialog();\n      }\n    },\n    immediatePing() {\n      const sendObj = { payload: \"ping\", type: \"PING\" };\n      this.send(sendObj);\n    }\n  }\n}\n</script>\n<style scoped>\n/* Add any component-specific styles here */\n</style>\n",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 1680,
        "wires": [
            [
                "6260e6119df9d7e0"
            ]
        ],
        "inputLabels": [
            "tyesty"
        ]
    },
    {
        "id": "0c85e029daa19a7c",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Active Node Req",
        "func": "if (msg.type == \"ACTIVE_NODE\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 2380,
        "wires": [
            [
                "5f163bfb1a7906ae"
            ]
        ]
    },
    {
        "id": "3e32cd1b1b196ab0",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Active Node Res",
        "func": "msg.type = \"ACTIVE_NODE\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 2380,
        "wires": [
            [
                "ff8c22b69e64cc9e"
            ]
        ]
    },
    {
        "id": "b414c5559ade0156",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter All Node Req",
        "func": "if (msg.type == \"ALL_NODE\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 1300,
        "wires": [
            [
                "5ee67f507b8dcc76"
            ]
        ]
    },
    {
        "id": "f42ddb83ca3e8c05",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter All Node Res",
        "func": "msg.type = \"ALL_NODE\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 1300,
        "wires": [
            [
                "2f6fdefd884f6432"
            ]
        ]
    },
    {
        "id": "2f806ecf0c030b29",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Req Mongo",
        "func": "if (msg.type == \"MONGO_DB\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 2520,
        "wires": [
            [
                "ea9761dc21ca4c4f"
            ]
        ]
    },
    {
        "id": "38e5916d7541c49f",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Res Mongo",
        "func": "if (!msg.payload.result) {\n    msg.type = \"MONGO_DB\";\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 2520,
        "wires": [
            [
                "b88b06462ea35a80"
            ]
        ]
    },
    {
        "id": "051cee756b138980",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Mongo",
        "func": "if (msg.toMongo){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 500,
        "wires": [
            [
                "57a90c458c311b61"
            ]
        ]
    },
    {
        "id": "d032c0f1de851820",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt out : req/mesh/allnodes",
        "info": "",
        "x": 1200,
        "y": 1260,
        "wires": []
    },
    {
        "id": "f51a4ac516fe2f91",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt in : res/mesh/allnodes",
        "info": "",
        "x": 1450,
        "y": 1260,
        "wires": []
    },
    {
        "id": "f5a2671480718a6c",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt out : req/mesh/nodes",
        "info": "",
        "x": 1210,
        "y": 2420,
        "wires": []
    },
    {
        "id": "a7aa5d0df2dca64f",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt in: res/mesh/nodes",
        "info": "",
        "x": 1480,
        "y": 2420,
        "wires": []
    },
    {
        "id": "e8630b07e7cba1da",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt in : esp/pong",
        "info": "",
        "x": 1430,
        "y": 1120,
        "wires": []
    },
    {
        "id": "abc9f83492c23cf4",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Pong",
        "func": "msg.type = \"PONG\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 1160,
        "wires": [
            [
                "a781063deabc8f6a"
            ]
        ]
    },
    {
        "id": "af2a9965da9ae5e9",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt out : req/state/update",
        "info": "",
        "x": 1210,
        "y": 1380,
        "wires": []
    },
    {
        "id": "54051d1e590ed2ce",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Relay Control",
        "func": "if (msg.type == \"RELAY_CONTROL\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 1420,
        "wires": [
            [
                "0ec24af6be8f713a"
            ]
        ]
    },
    {
        "id": "ffaa2b7a36ee539a",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt out : req/mesh/unpair",
        "info": "",
        "x": 1190,
        "y": 2280,
        "wires": []
    },
    {
        "id": "1235a3d667f0d975",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Unpair Node Req",
        "func": "if (msg.type == \"UNPAIR_NODE\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 2240,
        "wires": [
            [
                "5f5b470395daa10c"
            ]
        ]
    },
    {
        "id": "02694c085d79f070",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt in : res/mesh/unpair",
        "info": "",
        "x": 1450,
        "y": 2280,
        "wires": []
    },
    {
        "id": "61695e0747a36021",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Unpair Node Res",
        "func": "msg.type = \"UNPAIR_NODE\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 2240,
        "wires": [
            [
                "b7e177baa7685ff2"
            ]
        ]
    },
    {
        "id": "dfae53fb253fe0a8",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt in : esp/pong",
        "info": "",
        "x": 1430,
        "y": 460,
        "wires": []
    },
    {
        "id": "eeba7f8bf906658b",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Update GPIO Type",
        "func": "if (msg.type == \"UPDATE_GPIO_CONFIG\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 2120,
        "wires": [
            [
                "f35231f5f70e2c24"
            ]
        ]
    },
    {
        "id": "c47a70c45c413341",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Update GPIO Type",
        "func": "msg.type = \"UPDATE_GPIO_CONFIG\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 2120,
        "wires": [
            [
                "cc65aefead53f49d"
            ]
        ]
    },
    {
        "id": "b788dbc7dd93c9f0",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt out : req/mode/update",
        "info": "",
        "x": 1210,
        "y": 2160,
        "wires": []
    },
    {
        "id": "4770bb271643d702",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt in : res/mode/update",
        "info": "",
        "x": 1450,
        "y": 2160,
        "wires": []
    },
    {
        "id": "1eba4313b884e52a",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Config Relay",
        "func": "if (msg.type == \"RELAY_CONFIG\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 1540,
        "wires": [
            [
                "351784a397d79e7f"
            ]
        ]
    },
    {
        "id": "37c7951dfc7cf41e",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Config Relay",
        "func": "msg.type = \"RELAY_CONFIG\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 1540,
        "wires": [
            [
                "48e72e5b2129f756"
            ]
        ]
    },
    {
        "id": "939030a7c69a585f",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt out : req/config/set",
        "info": "",
        "x": 1220,
        "y": 1500,
        "wires": []
    },
    {
        "id": "368b59ca30fa1852",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt in : res/config/set",
        "info": "",
        "x": 1440,
        "y": 1500,
        "wires": []
    },
    {
        "id": "6f728d19281e256a",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Get Config",
        "func": "if (msg.type == \"GET_RELAY_CONFIG\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1960,
        "wires": [
            [
                "d53daafe766f2c26"
            ]
        ]
    },
    {
        "id": "2769934ebee8a472",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Get Config",
        "func": "msg.type = \"GET_RELAY_CONFIG\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 1960,
        "wires": [
            [
                "bcd46b29073d8e7a"
            ]
        ]
    },
    {
        "id": "334e6fed96142289",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt out : req/config/remove",
        "info": "",
        "x": 1200,
        "y": 1860,
        "wires": []
    },
    {
        "id": "80eb678824866dad",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt in : res/config/remove",
        "info": "",
        "x": 1450,
        "y": 1860,
        "wires": []
    },
    {
        "id": "bd3a9f63f36332fe",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Remove Config",
        "func": "if (msg.type == \"REMOVE_CONFIG\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 1820,
        "wires": [
            [
                "4bc2f763a3ddeede"
            ]
        ]
    },
    {
        "id": "251acb2a8f717739",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Remove Config",
        "func": "msg.type = \"REMOVE_CONFIG\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 1820,
        "wires": [
            [
                "b8c7da12e7a6e7c8"
            ]
        ]
    },
    {
        "id": "dcf54f392f0ff817",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt out : req/config/get",
        "info": "",
        "x": 1220,
        "y": 2000,
        "wires": []
    },
    {
        "id": "98b5dbc9c1ea6baf",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt in : res/config/get",
        "info": "",
        "x": 1440,
        "y": 2000,
        "wires": []
    },
    {
        "id": "2d0284b68ae5f272",
        "type": "mqtt out",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "esp/ping",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 1400,
        "y": 380,
        "wires": []
    },
    {
        "id": "fd5270435155c9d3",
        "type": "mqtt in",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "esp/pong",
        "qos": "2",
        "datatype": "utf8",
        "broker": "567041d939132082",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1400,
        "y": 1160,
        "wires": [
            [
                "abc9f83492c23cf4"
            ]
        ]
    },
    {
        "id": "5ee67f507b8dcc76",
        "type": "mqtt out",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "req/mesh/allnodes",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 1230,
        "y": 1300,
        "wires": []
    },
    {
        "id": "1fdb2d9a57cbc4d5",
        "type": "mqtt in",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "res/mesh/allnodes",
        "qos": "2",
        "datatype": "json",
        "broker": "567041d939132082",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 1300,
        "wires": [
            [
                "f42ddb83ca3e8c05"
            ]
        ]
    },
    {
        "id": "0ec24af6be8f713a",
        "type": "mqtt out",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "req/state/update",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 1240,
        "y": 1420,
        "wires": []
    },
    {
        "id": "351784a397d79e7f",
        "type": "mqtt out",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "req/config/set",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 1240,
        "y": 1540,
        "wires": []
    },
    {
        "id": "24e735af540b54f9",
        "type": "mqtt in",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "res/config/set",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "567041d939132082",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1410,
        "y": 1540,
        "wires": [
            [
                "37c7951dfc7cf41e"
            ]
        ]
    },
    {
        "id": "4bc2f763a3ddeede",
        "type": "mqtt out",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "req/config/remove",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 1230,
        "y": 1820,
        "wires": []
    },
    {
        "id": "d7b28db55652e6b2",
        "type": "mqtt in",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "res/config/remove",
        "qos": "2",
        "datatype": "json",
        "broker": "567041d939132082",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1430,
        "y": 1820,
        "wires": [
            [
                "251acb2a8f717739"
            ]
        ]
    },
    {
        "id": "d53daafe766f2c26",
        "type": "mqtt out",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "req/config/get",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 1240,
        "y": 1960,
        "wires": []
    },
    {
        "id": "74137216ad1e1384",
        "type": "mqtt in",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "res/config/get",
        "qos": "2",
        "datatype": "json",
        "broker": "567041d939132082",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1410,
        "y": 1960,
        "wires": [
            [
                "2769934ebee8a472"
            ]
        ]
    },
    {
        "id": "f35231f5f70e2c24",
        "type": "mqtt out",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "req/mode/update",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 1230,
        "y": 2120,
        "wires": []
    },
    {
        "id": "c769984e85b4e59e",
        "type": "mqtt in",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "res/mode/update",
        "qos": "2",
        "datatype": "json",
        "broker": "567041d939132082",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1420,
        "y": 2120,
        "wires": [
            [
                "c47a70c45c413341"
            ]
        ]
    },
    {
        "id": "5f5b470395daa10c",
        "type": "mqtt out",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "req/mesh/unpair",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 1240,
        "y": 2240,
        "wires": []
    },
    {
        "id": "67f7f29242ad33e8",
        "type": "mqtt in",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "res/mesh/unpair",
        "qos": "2",
        "datatype": "json",
        "broker": "567041d939132082",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1420,
        "y": 2240,
        "wires": [
            [
                "61695e0747a36021"
            ]
        ]
    },
    {
        "id": "5f163bfb1a7906ae",
        "type": "mqtt out",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "req/mesh/nodes",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 1240,
        "y": 2380,
        "wires": []
    },
    {
        "id": "fe6cfd01e45b3a62",
        "type": "mqtt in",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "res/mesh/nodes",
        "qos": "2",
        "datatype": "json",
        "broker": "567041d939132082",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1420,
        "y": 2380,
        "wires": [
            [
                "3e32cd1b1b196ab0"
            ]
        ]
    },
    {
        "id": "503f9bf5c1e5d057",
        "type": "mqtt in",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "esp/pong",
        "qos": "2",
        "datatype": "utf8",
        "broker": "567041d939132082",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1400,
        "y": 500,
        "wires": [
            [
                "edd89cf491662de0"
            ]
        ]
    },
    {
        "id": "e6ad541e54d3271b",
        "type": "mqtt out",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "req/mesh/scan",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 1220,
        "y": 700,
        "wires": []
    },
    {
        "id": "123610971305fe87",
        "type": "mqtt in",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "res/mesh/scan",
        "qos": "2",
        "datatype": "json",
        "broker": "567041d939132082",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1420,
        "y": 700,
        "wires": [
            [
                "fc62b91910c8ae1d"
            ]
        ]
    },
    {
        "id": "14645d62f23aee5e",
        "type": "mqtt out",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "req/mesh/pair",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 1220,
        "y": 860,
        "wires": []
    },
    {
        "id": "25af6146a8766514",
        "type": "mqtt in",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "res/mesh/pair",
        "qos": "2",
        "datatype": "json",
        "broker": "567041d939132082",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1410,
        "y": 860,
        "wires": [
            [
                "74b75fc756cad8e2"
            ]
        ]
    },
    {
        "id": "ca779b156e11fec4",
        "type": "mongodb3 in",
        "z": "99ec2049aa92cef2",
        "service": "_ext_",
        "configNode": "af42bb77e60c025c",
        "name": "mongoDB",
        "collection": "",
        "operation": "",
        "x": 1320,
        "y": 300,
        "wires": [
            [
                "6901d0ff9a7804cd"
            ]
        ]
    },
    {
        "id": "ea9761dc21ca4c4f",
        "type": "mongodb3 in",
        "z": "99ec2049aa92cef2",
        "service": "_ext_",
        "configNode": "af42bb77e60c025c",
        "name": "mongoDB",
        "collection": "",
        "operation": "",
        "x": 1360,
        "y": 2640,
        "wires": [
            [
                "38e5916d7541c49f"
            ]
        ]
    },
    {
        "id": "57a90c458c311b61",
        "type": "mongodb3 in",
        "z": "99ec2049aa92cef2",
        "service": "_ext_",
        "configNode": "af42bb77e60c025c",
        "name": "mongoDB",
        "collection": "",
        "operation": "",
        "x": 1240,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "27e39b47bdfbcfb0",
        "type": "inject",
        "z": "99ec2049aa92cef2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ping",
        "payloadType": "str",
        "x": 1250,
        "y": 380,
        "wires": [
            [
                "2d0284b68ae5f272"
            ]
        ]
    },
    {
        "id": "e010e2cccd9f697e",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Ping",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 1160,
        "wires": [
            [
                "dc9267af4942abec"
            ]
        ]
    },
    {
        "id": "dc9267af4942abec",
        "type": "mqtt out",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "esp/ping",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "951d9b87fce84136",
        "x": 1260,
        "y": 1160,
        "wires": []
    },
    {
        "id": "f9f42e4c63df0a76",
        "type": "ui-template",
        "z": "99ec2049aa92cef2",
        "group": "f2db7c9c0a1d0c5c",
        "page": "",
        "ui": "",
        "name": "Scan Template",
        "order": 1,
        "width": 0,
        "height": 14,
        "head": "",
        "format": "<template>\n  <div class=\"mesh-detail\">\n    <div class=\"top-buttons d-lg-flex d-sm-block justify-space-between align-center\">\n      <strong class=\"text-h6 font-weight-bold text-uppercase text-blue-grey-darken-4\">\n          status : \n          <span :class=\"master_status == 'online' ? 'text-teal' : 'text-red-darken-2'\">\n            {{ master_status }}\n          </span>\n        </strong>\n      <div>\n        <v-btn\n          outlined\n          @click=\"scanNodes\"\n          style=\"background-color: #a2af9b; color: black\"\n          class=\"font-weight-bold text-subtitle-1 text-blue-grey-darken-4 mr-4\"\n        >\n          SCAN\n        </v-btn>\n\n        <v-btn\n        color=\"red-darken-1\"\n        outlined\n        @click=\"deleteAllNodes\"\n        class=\"font-weight-bold text-subtitle-1\"\n      >\n        RESET !\n      </v-btn>\n      </div>\n    </div>\n\n    <div class=\"nodes-container pa-4 rounded-lg\" style=\"background-color: #a2af9b;\" >\n      <div\n        v-for=\"(node, index) in nodes_detected.filter(n => !n.mesh_slave)\"\n        :key=\"index\"\n        class=\"node-item\"\n      >\n        <v-dialog\n          v-model=\"node.active\"\n          transition=\"dialog-bottom-transition\"\n          class=\"w-auto\"\n          style=\"max-width: 400px;\"\n        >\n          <template v-slot:activator=\"{ props: activatorProps }\">\n            <v-btn\n              v-bind=\"activatorProps\"\n              class=\"pt-2 pb-2\"\n              color=\"primary\"\n              outlined\n            >\n            <div class=\"d-lg-flex d-xs-block\">\n              <div class=\"mr-lg-4\">\n                Node Name: {{ node.display_name }}\n                <br /><br />\n                MAC Addr: {{ node.mac_address }}\n              </div>\n              <v-btn\n                color=\"red-darken-1\"\n                small\n                class=\"\"\n                @click.stop=\"deleteNode(index)\"\n              >\n                Delete\n              </v-btn>\n            </div>\n            </v-btn>\n          </template>\n\n          <v-card>\n            <v-toolbar title=\"New Slave\" style=\"background-color: #a2af9b;\"></v-toolbar>\n\n            <v-card-text>\n              <p class=\"mb-2\"><strong>Node Name:</strong> {{ node.display_name }}</p>\n              <p class=\"mb-2\"><strong>MAC Address:</strong> {{ node.mac_address }}</p>\n              <p>\n                <strong>Description:</strong>\n                <v-text-field v-model=\"description\" label=\"Description\" outlined class=\"mt-2\"></v-text-field>\n              </p>\n            </v-card-text>\n\n            <v-card-actions class=\"justify-space-between\">\n              <v-btn\n                  style=\"background-color: #a2af9b; color: black\"\n                  :loading=\"isLoading\"\n                  :disabled=\"isLoading\"\n                  @click=\"addSlave(node)\"\n                >\n                  <template v-slot:loader>\n                    <v-progress-circular indeterminate color=\"white\" size=\"20\"></v-progress-circular>\n                  </template>\n                  <span v-if=\"!isLoading\">Pair</span>\n                  <span v-else>Loading...</span>\n                </v-btn>\n\n              <v-btn\n                @click=\"cancelAddSlave(node)\"\n                style=\"background-color: #90a4ae; color: black\"\n              >\n                Cancel\n              </v-btn>\n            </v-card-actions>\n          </v-card>\n        </v-dialog>\n      </div>\n    </div>\n  </div>\n  <v-snackbar\n    v-model=\"snackbar\"\n    top\n    absolute\n    :timeout=\"notify_timeout\"\n    :color=\"notify_color\"\n    elevation=\"5\"\n  >\n    {{ message }}\n    <template v-slot:actions>\n      <v-btn text @click=\"snackbar = false\">Close</v-btn>\n    </template>\n  </v-snackbar>\n</template>\n\n<script>\nexport default {\n  props: {\n    msg: {\n      type: Object,\n      required: true\n    }\n  },\n  data() {\n    return {\n      nodes_detected: [],\n      description: \"\",\n      pair_display_name: \"\",\n      pair_mac_addr: \"\",\n      master_status: \"offline\",\n      ping_delay: 0,\n      scan_request: false, // filter msg scan\n      pair_request: false, // filter msg pair\n      isLoading: false,\n      snackbar: false, // control notify visibility\n      message: '', // message of notify\n      notify_color: \"teal\",\n      notify_timeout: 0\n    };\n  },\n  mounted() {\n    // invoke logic function\n    this.scanNodes();\n\n    // Load saved nodes from localStorage\n    const savedNodes = localStorage.getItem(\"nodes_detected\");\n    if (savedNodes) {\n      try {\n        this.nodes_detected = JSON.parse(savedNodes).map(n => ({\n          ...n,\n          active: false, // ensure active property exists\n        }));\n      } catch (e) {\n        console.error(\"Failed to parse nodes_detected from localStorage\", e);\n      }\n    }\n\n    if (localStorage.getItem(\"loggedIn\") === \"false\") {\n      this.redirectLogin();\n    }\n\n    // Load data from localStorage\n\n    const description = localStorage.getItem(\"description\");\n    const pair_display_name = localStorage.getItem(\"pair_display_name\");\n    const pair_mac_addr = localStorage.getItem(\"pair_mac_addr\");\n    const isLoading = localStorage.getItem(\"isLoading\");\n\n    if (description && description != \"\") {\n        this.description = description;\n    }\n\n    if (pair_display_name && pair_display_name != \"\") {\n      this.pair_display_name = pair_display_name;\n    }\n\n    if (pair_mac_addr && pair_mac_addr != \"\") {\n      this.pair_mac_addr = pair_mac_addr;\n    }\n    if (isLoading == \"true\") {\n      this.isLoading = true;\n    } else {\n      this.isLoading = false;\n    }\n  },\n  watch: {\n    msg: {\n      handler(newMsg) {\n        // node scan res handler\n        if (newMsg && this.scan_request) {\n          const payload = { ...newMsg.payload };\n          payload.result.forEach(item => {\n            const node = { \n              ...item, \n              mesh_slave: false, \n              active: false \n            };\n\n            const exists = this.nodes_detected.some(\n              n => n.mac_address === node.mac_address && n.display_name === node.display_name\n            );\n\n            if (!exists) {\n              this.nodes_detected.push(node);\n              console.log(\"New node detected:\", node);\n            }\n          });\n          this.scan_request = false; \n        }\n\n        // pong handler\n        if (newMsg && newMsg.pong) {\n          this.master_status = \"online\"\n          if (this.ping_delay < 2) {\n            this.ping_delay += 1;\n          }\n        }\n\n        // pair handler and if have pair successed it will auto allow\n        if (newMsg && newMsg.pair && (this.pair_request || newMsg.payload.mac_address == this.pair_mac_addr)) {\n          this.pair_request = false;\n\n          // check pair status\n          switch (newMsg.payload.info) {\n            case \"pairing to new node.\":\n              // change to loading state\n              this.isLoading = true;\n\n              // Save to localStorage\n              localStorage.setItem(\"description\", this.description);\n              localStorage.setItem(\"pair_display_name\", this.pair_display_name);\n              localStorage.setItem(\"pair_mac_addr\", this.pair_mac_addr);\n              localStorage.setItem(\"isLoading\", this.isLoading);\n\n              console.log(\"Info : Wait for pairing..\");\n              this.showNotification(\"Info : Wait for pairing..\", \"blue\");\n              \n              // wait for paired from esp32\n              break;\n            case \"failed to connect to node.\":\n              console.log(\"Error : Failed to connect to node!!\");\n              this.showNotification(\"Error : Failed to connect to node!!\", \"red\");\n              break;\n            case \"pair success!\":\n              console.log(\"Info : Pair succeed!!\");\n              this.showNotification(\"Info : Pair succeed!!\", \"green\");\n\n              // save to mongoDB database\n              const sendObj = {\n                collection: \"nodes\",\n                payload: { \n                  mac_address: newMsg.payload.mac_address,\n                  node_id: newMsg.payload.node_id,\n                  node_type: newMsg.payload.node_type,\n                  description: this.description\n                },\n                operation: \"insertOne\",\n                toMongo: true\n              };\n\n              this.send(sendObj);\n\n              // Set mesh_slave = true so it no longer appears in scan section\n              const targetNode = this.nodes_detected.find(\n                n => n.mac_address === this.pair_mac_addr && n.display_name === this.pair_display_name\n              );\n              if (targetNode) {\n                targetNode.mesh_slave = true;\n                localStorage.setItem(\"nodes_detected\", JSON.stringify(this.nodes_detected));\n              }\n              this.isLoading = false;\n              // reset pairing node info\n              this.description = \"\";\n              this.pair_display_name = \"\";\n              this.pair_mac_addr = \"\";\n\n              // Save to localStorage\n              localStorage.setItem(\"description\", this.description);\n              localStorage.setItem(\"pair_display_name\", this.pair_display_name);\n              localStorage.setItem(\"pair_mac_addr\", this.pair_mac_addr);\n              localStorage.setItem(\"isLoading\", this.isLoading);\n              break;\n            default:\n              console.log(\"Some error occurred!!\");\n              this.showNotification(\"Error : Some error occurred!!\", \"red\");\n          }\n        }\n      },\n      deep: true\n    }\n  },\n  methods: {\n    showNotification(msg = 'Notification shown at the top!', color = \"teal\") {\n      this.notify_timeout += 3000;\n      this.message = msg;\n      this.notify_color = color;\n      this.snackbar = true;\n      // Optional: send message to Node-RED backend\n      this.$emit('send', { payload: 'top_notification_shown' });\n    },\n    redirectLogin() {\n      const base = window.location.origin;\n      window.location.href = `${base}/dashboard/login`;\n    },\n    deleteNode(index) {\n      this.nodes_detected.splice(index, 1);\n      localStorage.setItem(\n        \"nodes_detected\",\n        JSON.stringify(this.nodes_detected)\n      );\n    },\n    deleteAllNodes() {\n      if (confirm(\"Are you sure you want to delete all nodes?\")) {\n        this.nodes_detected = [];\n        localStorage.removeItem(\"nodes_detected\");\n        const sendObj = {\n          collection: \"nodes\",\n          operation: \"drop\",\n          toMongo: true\n        };\n        this.send(sendObj);\n      }\n    },\n    addSlave(node) {\n      this.pair_display_name = node.display_name;\n      this.pair_mac_addr = node.mac_address;\n\n      // send pairing request\n      const sendObj = {\n        payload : node.mac_address,\n        pair : \"true\"\n      };\n      this.pair_request = true;\n      \n      // handle master offline\n      if (this.master_status == \"offline\") {\n        console.log(\"Error : Master is offline!!\");\n        this.showNotification(\"Error : Master is offline!!\", \"red\");\n        return;\n      }\n\n      if (this.isLoading) {\n        console.log(\"Warning : Cannot pair node while pairing!!\");\n        this.showNotification(\"Warning : Cannot pair node while pairing!!\", \"yellow\");\n        return;\n      }\n\n      this.send(sendObj);\n\n      // Send message to Node-RED backend\n      this.$emit('send', { payload: 'button_clicked' });\n    },\n    scanNodes() {\n      const sendObj = {\n        payload: \"scan\"\n      };\n      this.scan_request = true; \n      this.send(sendObj);\n    },\n    cancelAddSlave(node) {\n      if (this.isLoading == false) {\n        // close dialog pop up\n        node.active = false;\n      } else {\n        if (confirm(\"Do you want to cancel ?\\n[ cancel after pairing you have to sync mesh ]\")) {\n          this.isLoading = false;\n          this.pair_display_name = \"\";\n          this.pair_mac_addr = \"\";\n          this.description = \"\";\n\n          // Save to localStorage\n          localStorage.setItem(\"description\", this.description);\n          localStorage.setItem(\"pair_display_name\", this.pair_display_name);\n          localStorage.setItem(\"pair_mac_addr\", this.pair_mac_addr);\n          localStorage.setItem(\"isLoading\", this.isLoading);\n\n          // close dialog pop up\n          node.active = false;\n        }\n      }\n    },\n    checkMasterStatus() {\n      setInterval(() => {\n        if (this.ping_delay > 0) {\n          this.ping_delay -= 1;\n        } else {\n          this.master_status = \"offline\";\n        }\n      }, 10000);\n    },\n  },\n};\n</script>\n\n<style scoped>\n.top-buttons {\n  margin: 10px;\n}\n\n.mesh-detail {\n  display: flex;\n  flex-direction: column;\n  margin: 10px;\n  /* Make the main container take up the full viewport height */\n  height: calc(100vh - 20px); /* Subtract margins */\n}\n\n.nodes-container {\n  display: flex;\n  flex-wrap: wrap;\n  gap: 10px;\n  /* Allow this container to grow and fill the remaining vertical space */\n  flex-grow: 1; \n  width: 100%; /* Ensure it takes full width of its parent */\n}\n\n.node-item {\n  display: inline-block;\n}\n\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 620,
        "wires": [
            [
                "900f497ddebf0e50"
            ]
        ]
    },
    {
        "id": "9df37c612a4e63de",
        "type": "mqtt in",
        "z": "99ec2049aa92cef2",
        "name": "Relay State Auto Update",
        "topic": "res/state/auto_update",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "567041d939132082",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1450,
        "y": 1420,
        "wires": [
            [
                "20a59ddd5938da1b"
            ]
        ]
    },
    {
        "id": "89b58c208d94080b",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt in : res/state/auto_update",
        "info": "",
        "x": 1460,
        "y": 1380,
        "wires": []
    },
    {
        "id": "20a59ddd5938da1b",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Relay Auto",
        "func": "msg.type = \"RELAY_AUTO_UPDATE\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 1420,
        "wires": [
            [
                "645efe99bc3facd5"
            ]
        ]
    },
    {
        "id": "b85940fc7fbdaac2",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Get GPIO Type",
        "func": "if (msg.type == \"GET_GPIO_TYPE\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 1040,
        "wires": [
            [
                "d05fb6e26f28da9d"
            ]
        ]
    },
    {
        "id": "98ccac8fe3980446",
        "type": "function",
        "z": "99ec2049aa92cef2",
        "name": "Filter Get GPIO Type",
        "func": "msg.type = \"GET_GPIO_TYPE\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 1040,
        "wires": [
            [
                "0251988901198b69"
            ]
        ]
    },
    {
        "id": "0cafdfb9c7de22c0",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt out : req/mode/get",
        "info": "",
        "x": 1220,
        "y": 1000,
        "wires": []
    },
    {
        "id": "1da8efc6d46c11fc",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt in : res/mode/get",
        "info": "",
        "x": 1440,
        "y": 1000,
        "wires": []
    },
    {
        "id": "d05fb6e26f28da9d",
        "type": "mqtt out",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "req/mode/get",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "567041d939132082",
        "x": 1250,
        "y": 1040,
        "wires": []
    },
    {
        "id": "203583088f2b1f91",
        "type": "mqtt in",
        "z": "99ec2049aa92cef2",
        "name": "",
        "topic": "res/mode/get",
        "qos": "2",
        "datatype": "json",
        "broker": "951d9b87fce84136",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1410,
        "y": 1040,
        "wires": [
            [
                "98ccac8fe3980446"
            ]
        ]
    },
    {
        "id": "66eb8587345d0312",
        "type": "comment",
        "z": "99ec2049aa92cef2",
        "name": "mqtt in : esp/ping",
        "info": "",
        "x": 1240,
        "y": 1120,
        "wires": []
    },
    {
        "id": "44969dfab643f7f0",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.27.2",
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-mongodb4": "3.1.1",
            "node-red-contrib-mongodb3": "2.0.1"
        }
    }
]