node_red_implement_flow.JSON
[
    {
        "id": "57a8d7549a3ebb3b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "995c4b1d9b050545",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7200907c870bcecc",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 440,
        "y": 1840,
        "wires": [
            [
                "4a63e94c78701dd5",
                "dbf904db147198b6"
            ]
        ]
    },
    {
        "id": "3f6e62d03f7f506f",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 1540,
        "y": 1760,
        "wires": [
            [
                "a4181d150795e8d5",
                "cbd33a65b0a003ac"
            ]
        ]
    },
    {
        "id": "4a63e94c78701dd5",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 520,
        "y": 1880,
        "wires": [
            [
                "70348c5d491f75b9",
                "68aca19bb632a066"
            ]
        ]
    },
    {
        "id": "3e0822deed865249",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 1480,
        "y": 1880,
        "wires": [
            [
                "3f6e62d03f7f506f"
            ]
        ]
    },
    {
        "id": "c5c6c103386533a0",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 1420,
        "y": 2040,
        "wires": [
            [
                "3e0822deed865249"
            ]
        ]
    },
    {
        "id": "dbf904db147198b6",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 520,
        "y": 1680,
        "wires": [
            [
                "31f987a266dbbf90"
            ]
        ]
    },
    {
        "id": "4dd208191b7d3fa7",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 1300,
        "y": 1000,
        "wires": [
            [
                "7677f53ac4202ef8",
                "b6c4783a79830a46"
            ]
        ]
    },
    {
        "id": "c4045e37eab059d8",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 3200,
        "y": 920,
        "wires": [
            [
                "e1a304dc41993c16",
                "8ec4bbdd0cd405a0"
            ]
        ]
    },
    {
        "id": "a6059b54f67c6de1",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 1800,
        "y": 1800,
        "wires": [
            [
                "0281939749a9d929"
            ]
        ]
    },
    {
        "id": "c721928dce408313",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 2760,
        "y": 1800,
        "wires": [
            [
                "8bd74f2502b9e886"
            ]
        ]
    },
    {
        "id": "646f4293d404323d",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 1180,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "42f450e3e9331a07",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 1540,
        "y": 580,
        "wires": [
            [
                "1427794c17be066b",
                "b89917b8ccc7cf1f",
                "64c187dba565776f"
            ]
        ]
    },
    {
        "id": "18371d1f5bf89407",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 1720,
        "y": 1660,
        "wires": [
            [
                "a6059b54f67c6de1",
                "457b5fb169265e0d"
            ]
        ]
    },
    {
        "id": "c474859eb63c4bf7",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 3020,
        "y": 580,
        "wires": [
            [
                "9f919df33c5bac13"
            ]
        ]
    },
    {
        "id": "8bd74f2502b9e886",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 2840,
        "y": 1660,
        "wires": [
            [
                "9a77332c7b3109ac"
            ]
        ]
    },
    {
        "id": "67addc1632646f2c",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 2940,
        "y": 440,
        "wires": [
            [
                "c474859eb63c4bf7"
            ]
        ]
    },
    {
        "id": "58fa3456b9dd938b",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 1460,
        "y": 700,
        "wires": [
            [
                "42f450e3e9331a07",
                "7e112ea27611515b"
            ]
        ]
    },
    {
        "id": "2a8b5e7ed91bf3fe",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 1640,
        "y": 1520,
        "wires": [
            [
                "18371d1f5bf89407",
                "3a14a82da8021a38"
            ]
        ]
    },
    {
        "id": "9a77332c7b3109ac",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 2920,
        "y": 1520,
        "wires": [
            [
                "1d9581c1983939d6"
            ]
        ]
    },
    {
        "id": "1d9581c1983939d6",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 3000,
        "y": 1400,
        "wires": [
            [
                "9227d57b1af10c0d"
            ]
        ]
    },
    {
        "id": "d43839c2fc20d02a",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 1560,
        "y": 1400,
        "wires": [
            [
                "2a8b5e7ed91bf3fe",
                "24414b6d053cdfc2"
            ]
        ]
    },
    {
        "id": "7677f53ac4202ef8",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 1380,
        "y": 820,
        "wires": [
            [
                "58fa3456b9dd938b",
                "47337c51dd9b05ae"
            ]
        ]
    },
    {
        "id": "9f919df33c5bac13",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 3100,
        "y": 820,
        "wires": [
            [
                "c4045e37eab059d8"
            ]
        ]
    },
    {
        "id": "b6c4783a79830a46",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 1380,
        "y": 1100,
        "wires": [
            [
                "4286fc5f1b6fedc3",
                "e84977684a0d6215"
            ]
        ]
    },
    {
        "id": "8aa2bdaff11fb815",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 3120,
        "y": 1100,
        "wires": [
            [
                "c4045e37eab059d8"
            ]
        ]
    },
    {
        "id": "4286fc5f1b6fedc3",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 1480,
        "y": 1240,
        "wires": [
            [
                "d43839c2fc20d02a",
                "75298f86315991e2"
            ]
        ]
    },
    {
        "id": "9227d57b1af10c0d",
        "type": "junction",
        "z": "995c4b1d9b050545",
        "x": 3080,
        "y": 1240,
        "wires": [
            [
                "8aa2bdaff11fb815"
            ]
        ]
    },
    {
        "id": "9c6816c5eb8f8852",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "6ba0f05d9b3e74ec",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#a2af9b",
            "primary": "#dccfc0",
            "bgPage": "#faf9ee",
            "groupBg": "#eeeeee",
            "groupOutline": "#e3e3e3"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "013c016d2aaac063",
        "type": "mongodb3",
        "uri": "mongodb+srv://tuwaris:5D4Wyu40hIK64EFh@tuwaris.5ynbx.mongodb.net/smart_home?retryWrites=true&w=majority&appName=Tuwaris",
        "name": "smart_home",
        "options": "{ “useNewUrlParser”: true}",
        "parallelism": -1
    },
    {
        "id": "2543fb2893acb34b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "676431bd80708137",
        "type": "ui-group",
        "name": "Group 1",
        "page": "b74b571dd19ba6e7",
        "width": 16,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "bc7070bbc32b701d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "nubdown.net",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "83f90a16cc6d2757",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "daeb92564646123a",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "91f6809d0ba95e73",
        "type": "ui_spacer",
        "z": "57a8d7549a3ebb3b",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "cae58189cea20ff8",
        "type": "ui-group",
        "name": "Group 1",
        "page": "",
        "width": 16,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f872b1a3b60c90a9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "49.231.43.37",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "695ffbd058461a4a",
        "type": "ui_spacer",
        "z": "995c4b1d9b050545",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "a908a00ec8249048",
        "type": "ui-page",
        "name": "Scan",
        "ui": "9c6816c5eb8f8852",
        "path": "/scan",
        "icon": "wifi",
        "layout": "grid",
        "theme": "6ba0f05d9b3e74ec",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "7937228e8066083d",
        "type": "ui-page",
        "name": "Home",
        "ui": "9c6816c5eb8f8852",
        "path": "/home",
        "icon": "home",
        "layout": "grid",
        "theme": "6ba0f05d9b3e74ec",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "fe2a4277f7efa88b",
        "type": "ui-group",
        "name": "Scan Group",
        "page": "a908a00ec8249048",
        "width": 12,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e8be1bca78eb2c30",
        "type": "ui-group",
        "name": "Home",
        "page": "7937228e8066083d",
        "width": 12,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e637d0c3841c0ba0",
        "type": "ui-page",
        "name": "Login",
        "ui": "9c6816c5eb8f8852",
        "path": "/login",
        "icon": "login",
        "layout": "grid",
        "theme": "6ba0f05d9b3e74ec",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "586897a17b59ec7d",
        "type": "ui-group",
        "name": "Login Group",
        "page": "e637d0c3841c0ba0",
        "width": 12,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "68a3754aebeeef5a",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "Send Ping",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "ping",
        "payloadType": "str",
        "x": 500,
        "y": 460,
        "wires": [
            [
                "e2f5e6333bc5ab38"
            ]
        ]
    },
    {
        "id": "e2f5e6333bc5ab38",
        "type": "mqtt out",
        "z": "57a8d7549a3ebb3b",
        "name": "Ping ESP8266",
        "topic": "esp/ping",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "b6f18dadc3deeda5",
        "type": "mqtt in",
        "z": "57a8d7549a3ebb3b",
        "name": "ESP8266 Pong",
        "topic": "esp/pong",
        "qos": "0",
        "datatype": "auto",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 480,
        "y": 520,
        "wires": [
            [
                "263fd69a6cdeb8b2"
            ]
        ]
    },
    {
        "id": "263fd69a6cdeb8b2",
        "type": "debug",
        "z": "57a8d7549a3ebb3b",
        "name": "Pong Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "0d1c218caa0fc3c2",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "Get Active Nodes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "active_node",
        "payloadType": "str",
        "x": 460,
        "y": 580,
        "wires": [
            [
                "e7ea4d713397973f"
            ]
        ]
    },
    {
        "id": "262b287ae17fcaae",
        "type": "mqtt in",
        "z": "57a8d7549a3ebb3b",
        "name": "ESP32 Give back list of Nodes",
        "topic": "res/mesh/nodes",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 430,
        "y": 680,
        "wires": [
            [
                "f4ae425e6d033f30"
            ]
        ]
    },
    {
        "id": "f4ae425e6d033f30",
        "type": "debug",
        "z": "57a8d7549a3ebb3b",
        "name": "Nodes Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 680,
        "wires": []
    },
    {
        "id": "e7ea4d713397973f",
        "type": "mqtt out",
        "z": "57a8d7549a3ebb3b",
        "name": "Send Request to ESP32",
        "topic": "req/mesh/nodes",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 730,
        "y": 580,
        "wires": []
    },
    {
        "id": "84bdd0e4eb493e3e",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "Searching for new Node",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "ping",
        "payloadType": "str",
        "x": 460,
        "y": 780,
        "wires": [
            [
                "6dcecf097c5831cd"
            ]
        ]
    },
    {
        "id": "6dcecf097c5831cd",
        "type": "mqtt out",
        "z": "57a8d7549a3ebb3b",
        "name": "Send Request to ESP32",
        "topic": "req/mesh/scan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 750,
        "y": 780,
        "wires": []
    },
    {
        "id": "10ebb63ff2e7719d",
        "type": "mqtt in",
        "z": "57a8d7549a3ebb3b",
        "name": "ESP32 Give list of Found Nodes",
        "topic": "res/mesh/scan",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 430,
        "y": 840,
        "wires": [
            [
                "d1d39f51ce051f81"
            ]
        ]
    },
    {
        "id": "d1d39f51ce051f81",
        "type": "debug",
        "z": "57a8d7549a3ebb3b",
        "name": "Found Node Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 840,
        "wires": []
    },
    {
        "id": "91a481c82daaecbc",
        "type": "mqtt out",
        "z": "57a8d7549a3ebb3b",
        "name": "Connect to Node",
        "topic": "req/mesh/pair",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 730,
        "y": 940,
        "wires": []
    },
    {
        "id": "b544d110157d6ce3",
        "type": "mqtt in",
        "z": "57a8d7549a3ebb3b",
        "name": "Callback result",
        "topic": "res/mesh/pair",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 440,
        "y": 1240,
        "wires": [
            [
                "6ff2a9cd95f0173c"
            ]
        ]
    },
    {
        "id": "6ff2a9cd95f0173c",
        "type": "debug",
        "z": "57a8d7549a3ebb3b",
        "name": "report result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1300,
        "wires": []
    },
    {
        "id": "51dd24e0de3ea15d",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "A8:46:74:46:18:D0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "A8:46:74:46:18:D0",
        "payloadType": "str",
        "x": 450,
        "y": 940,
        "wires": [
            [
                "91a481c82daaecbc"
            ]
        ]
    },
    {
        "id": "4643cb44199daff2",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "A8:46:74:46:18:DC",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "A8:46:74:46:18:DC",
        "payloadType": "str",
        "x": 450,
        "y": 980,
        "wires": [
            [
                "91a481c82daaecbc"
            ]
        ]
    },
    {
        "id": "565d8070b0094b80",
        "type": "mqtt out",
        "z": "57a8d7549a3ebb3b",
        "name": "Unpair node",
        "topic": "req/mesh/unpair",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 710,
        "y": 1080,
        "wires": []
    },
    {
        "id": "d95cf9471f60049c",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "1950750929",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1950750929",
        "payloadType": "str",
        "x": 470,
        "y": 1080,
        "wires": [
            [
                "565d8070b0094b80"
            ]
        ]
    },
    {
        "id": "18717d753afda186",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "1950750941",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1950750941",
        "payloadType": "str",
        "x": 470,
        "y": 1120,
        "wires": [
            [
                "565d8070b0094b80"
            ]
        ]
    },
    {
        "id": "244cee852a081565",
        "type": "mqtt in",
        "z": "57a8d7549a3ebb3b",
        "name": "Callback result",
        "topic": "res/mesh/unpair",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 440,
        "y": 1300,
        "wires": [
            [
                "6ff2a9cd95f0173c"
            ]
        ]
    },
    {
        "id": "14656869468137c1",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "Custom",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "10:b4:1d:14:1e:ba",
        "payloadType": "str",
        "x": 710,
        "y": 1020,
        "wires": [
            [
                "91a481c82daaecbc"
            ]
        ]
    },
    {
        "id": "31a169cf21929ea7",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "Custom",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "487897357",
        "payloadType": "str",
        "x": 710,
        "y": 1140,
        "wires": [
            [
                "565d8070b0094b80"
            ]
        ]
    },
    {
        "id": "150acbe556d84721",
        "type": "mqtt in",
        "z": "57a8d7549a3ebb3b",
        "name": "Node Info",
        "topic": "mesh/node/info",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 460,
        "y": 1360,
        "wires": [
            [
                "6ff2a9cd95f0173c"
            ]
        ]
    },
    {
        "id": "70e397630d68809d",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "Get All Nodes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "active_node",
        "payloadType": "str",
        "x": 470,
        "y": 620,
        "wires": [
            [
                "3c06dc908d90be58"
            ]
        ]
    },
    {
        "id": "3c06dc908d90be58",
        "type": "mqtt out",
        "z": "57a8d7549a3ebb3b",
        "name": "Send Request to ESP32",
        "topic": "req/mesh/allnodes",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "c53ead30135d9906",
        "type": "mqtt in",
        "z": "57a8d7549a3ebb3b",
        "name": "ESP32 Give back list of All Nodes",
        "topic": "res/mesh/allnodes",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 430,
        "y": 720,
        "wires": [
            [
                "f4ae425e6d033f30"
            ]
        ]
    },
    {
        "id": "43bb606173a45b75",
        "type": "mqtt in",
        "z": "57a8d7549a3ebb3b",
        "name": "State Update Response",
        "topic": "res/state/update",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 420,
        "y": 1420,
        "wires": [
            [
                "6ff2a9cd95f0173c"
            ]
        ]
    },
    {
        "id": "32fafa70843974a8",
        "type": "mqtt out",
        "z": "57a8d7549a3ebb3b",
        "name": "Update State",
        "topic": "req/state/update",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 710,
        "y": 1500,
        "wires": []
    },
    {
        "id": "75dc45deb74a406a",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "1950750941",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"node_id\":1950750941,\"state\":{\"r1\":false,\"r2\":false}}",
        "payloadType": "json",
        "x": 450,
        "y": 1500,
        "wires": [
            [
                "32fafa70843974a8"
            ]
        ]
    },
    {
        "id": "00aba01e50d3bce6",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "1950750941",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"node_id\":1950750941,\"state\":{\"r1\":true,\"r2\":false}}",
        "payloadType": "json",
        "x": 450,
        "y": 1540,
        "wires": [
            [
                "32fafa70843974a8"
            ]
        ]
    },
    {
        "id": "e704bc2de6e5b83a",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "1950750941",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"node_id\":1950750941,\"state\":{\"r1\":false,\"r2\":true}}",
        "payloadType": "json",
        "x": 450,
        "y": 1580,
        "wires": [
            [
                "32fafa70843974a8"
            ]
        ]
    },
    {
        "id": "d5bce1c2e9419444",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "1950750941",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"node_id\":1950750941,\"state\":{\"r1\":true,\"r2\":true}}",
        "payloadType": "json",
        "x": 450,
        "y": 1620,
        "wires": [
            [
                "32fafa70843974a8"
            ]
        ]
    },
    {
        "id": "85ac442362996dcd",
        "type": "mqtt out",
        "z": "57a8d7549a3ebb3b",
        "name": "Get State",
        "topic": "req/state/get",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 680,
        "y": 1700,
        "wires": []
    },
    {
        "id": "b522d56f681b5e4d",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "1950750929",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1950750929",
        "payloadType": "str",
        "x": 450,
        "y": 1700,
        "wires": [
            [
                "85ac442362996dcd"
            ]
        ]
    },
    {
        "id": "1c7ad28c590833ee",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "1950750941",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1950750941",
        "payloadType": "str",
        "x": 450,
        "y": 1740,
        "wires": [
            [
                "85ac442362996dcd"
            ]
        ]
    },
    {
        "id": "aa2b1f4bfa0b83b3",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "Custom",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "487897357",
        "payloadType": "str",
        "x": 690,
        "y": 1760,
        "wires": [
            [
                "85ac442362996dcd"
            ]
        ]
    },
    {
        "id": "87a3d453ef6740a9",
        "type": "mqtt in",
        "z": "57a8d7549a3ebb3b",
        "name": "Get State Response",
        "topic": "res/state/get",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 670,
        "y": 1420,
        "wires": [
            [
                "6ff2a9cd95f0173c"
            ]
        ]
    },
    {
        "id": "a3a1fde0916b2e91",
        "type": "mqtt out",
        "z": "57a8d7549a3ebb3b",
        "name": "Update Sensor GPIO Mode",
        "topic": "req/mode/update",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 740,
        "y": 1840,
        "wires": []
    },
    {
        "id": "49a5653407ba3b41",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "1950750929",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"node_id\":1950750929,\"mode\":{\"gpio_0\":\"button\",\"gpio_1\":\"delay\",\"gpio_3\":\"button\"}}",
        "payloadType": "json",
        "x": 450,
        "y": 1840,
        "wires": [
            [
                "a3a1fde0916b2e91"
            ]
        ]
    },
    {
        "id": "d13fd3f4503d9055",
        "type": "debug",
        "z": "57a8d7549a3ebb3b",
        "name": "report result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 2140,
        "wires": []
    },
    {
        "id": "bf25a29da9ea05cd",
        "type": "mqtt out",
        "z": "57a8d7549a3ebb3b",
        "name": "Get Config",
        "topic": "req/config/get",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 690,
        "y": 1960,
        "wires": []
    },
    {
        "id": "cfb0d9b09ff5dd29",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "Get Configuration",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "something",
        "payloadType": "str",
        "x": 440,
        "y": 1960,
        "wires": [
            [
                "bf25a29da9ea05cd"
            ]
        ]
    },
    {
        "id": "3b3e81623784c226",
        "type": "mqtt out",
        "z": "57a8d7549a3ebb3b",
        "name": "Set Config",
        "topic": "req/config/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 690,
        "y": 2000,
        "wires": []
    },
    {
        "id": "d1721b127a9bc655",
        "type": "mqtt out",
        "z": "57a8d7549a3ebb3b",
        "name": "Remove Config",
        "topic": "req/config/remove",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 700,
        "y": 2040,
        "wires": []
    },
    {
        "id": "6f292b6e2a6c6ada",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "Set Configuration",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"1950750941\":{\"r1\":{\"node_id\":1950750929,\"condition\":\"gpio_1|true\"},\"r2\":{\"node_id\":1950750929,\"condition\":\"light>100\"}}}",
        "payloadType": "json",
        "x": 440,
        "y": 2000,
        "wires": [
            [
                "3b3e81623784c226"
            ]
        ]
    },
    {
        "id": "13b99767d7060deb",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "Remove Configuration",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1950750941",
        "payloadType": "str",
        "x": 420,
        "y": 2040,
        "wires": [
            [
                "d1721b127a9bc655"
            ]
        ]
    },
    {
        "id": "261d33117e739a3e",
        "type": "mqtt in",
        "z": "57a8d7549a3ebb3b",
        "name": "Get Response",
        "topic": "res/config/get",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 450,
        "y": 2140,
        "wires": [
            [
                "d13fd3f4503d9055"
            ]
        ]
    },
    {
        "id": "4e14a29929b8068c",
        "type": "mqtt in",
        "z": "57a8d7549a3ebb3b",
        "name": "Set Response",
        "topic": "res/config/set",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 450,
        "y": 2180,
        "wires": [
            [
                "d13fd3f4503d9055"
            ]
        ]
    },
    {
        "id": "c67eeddb5cfb0f60",
        "type": "mqtt in",
        "z": "57a8d7549a3ebb3b",
        "name": "Remove Response",
        "topic": "res/config/remove",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 430,
        "y": 2220,
        "wires": [
            [
                "d13fd3f4503d9055"
            ]
        ]
    },
    {
        "id": "11c59e30ee166e44",
        "type": "mqtt in",
        "z": "57a8d7549a3ebb3b",
        "name": "Mode Update Response",
        "topic": "res/mode/update",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 710,
        "y": 1240,
        "wires": [
            [
                "6ff2a9cd95f0173c"
            ]
        ]
    },
    {
        "id": "55523e0b7566b438",
        "type": "mqtt in",
        "z": "57a8d7549a3ebb3b",
        "name": "Relay State Auto Update",
        "topic": "res/state/auto_update",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 410,
        "y": 2300,
        "wires": [
            [
                "d13fd3f4503d9055",
                "f5f3ea1b896d66ca"
            ]
        ]
    },
    {
        "id": "693a6ae0f5f056f3",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "10:B4:1D:14:B9:0C",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "10:B4:1D:14:B9:0C",
        "payloadType": "str",
        "x": 450,
        "y": 1020,
        "wires": [
            [
                "91a481c82daaecbc"
            ]
        ]
    },
    {
        "id": "118ad96705e2413c",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "10:B4:1D:14:1E:B8",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "10:B4:1D:14:1E:B8",
        "payloadType": "str",
        "x": 450,
        "y": 900,
        "wires": [
            [
                "91a481c82daaecbc"
            ]
        ]
    },
    {
        "id": "004f06fd0c0a267d",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "487857849",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "487857849",
        "payloadType": "str",
        "x": 460,
        "y": 1160,
        "wires": [
            [
                "565d8070b0094b80"
            ]
        ]
    },
    {
        "id": "b47269441e1f3ce3",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "487897357",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "487897357",
        "payloadType": "str",
        "x": 460,
        "y": 1200,
        "wires": [
            [
                "565d8070b0094b80"
            ]
        ]
    },
    {
        "id": "f5717e6331a30f34",
        "type": "ui-template",
        "z": "57a8d7549a3ebb3b",
        "group": "586897a17b59ec7d",
        "page": "",
        "ui": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1180,
        "y": 500,
        "wires": [
            [
                "d2c3143e99f59bae"
            ]
        ]
    },
    {
        "id": "59413646b62ed7f3",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "Send Ping",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "ping",
        "payloadType": "str",
        "x": 980,
        "y": 500,
        "wires": [
            [
                "f5717e6331a30f34"
            ]
        ]
    },
    {
        "id": "d2c3143e99f59bae",
        "type": "debug",
        "z": "57a8d7549a3ebb3b",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 500,
        "wires": []
    },
    {
        "id": "1c3d9945696ce92f",
        "type": "mqtt out",
        "z": "57a8d7549a3ebb3b",
        "name": "Request Sensor GPIO Mode",
        "topic": "req/mode/get",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 740,
        "y": 1880,
        "wires": []
    },
    {
        "id": "d916db8a60e96f43",
        "type": "inject",
        "z": "57a8d7549a3ebb3b",
        "name": "1950750929",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1950750929",
        "payloadType": "str",
        "x": 450,
        "y": 1880,
        "wires": [
            [
                "1c3d9945696ce92f"
            ]
        ]
    },
    {
        "id": "6b499ce7cfddea95",
        "type": "mqtt in",
        "z": "57a8d7549a3ebb3b",
        "name": "Mode Response",
        "topic": "res/mode/get",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 440,
        "y": 2260,
        "wires": [
            [
                "d13fd3f4503d9055"
            ]
        ]
    },
    {
        "id": "3fbbef8c134b4364",
        "type": "mqtt in",
        "z": "57a8d7549a3ebb3b",
        "name": "",
        "topic": "res/mesh/nodes",
        "qos": "2",
        "datatype": "json",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 2440,
        "wires": [
            [
                "d13fd3f4503d9055"
            ]
        ]
    },
    {
        "id": "f5f3ea1b896d66ca",
        "type": "debug",
        "z": "57a8d7549a3ebb3b",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 2300,
        "wires": []
    },
    {
        "id": "aa7a7ff225c075a8",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt out : req/mesh/scan",
        "info": "",
        "x": 870,
        "y": 1920,
        "wires": []
    },
    {
        "id": "893b9091100d356b",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt in : res/mesh/scan",
        "info": "",
        "x": 1120,
        "y": 1920,
        "wires": []
    },
    {
        "id": "70348c5d491f75b9",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Scan Req",
        "func": "if (msg.payload == \"scan\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1880,
        "wires": [
            [
                "a1144cd322be2c84"
            ]
        ]
    },
    {
        "id": "c415cb322dc07b05",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Pong",
        "func": "msg.scan = false;\nmsg.pong = true;\nmsg.info = false;\nmsg.pair = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 1680,
        "wires": [
            [
                "3f6e62d03f7f506f"
            ]
        ]
    },
    {
        "id": "93972dab11c5b8d0",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Scan Res",
        "func": "msg.scan = true;\nmsg.pong = false;\nmsg.info = false;\nmsg.pair = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 1880,
        "wires": [
            [
                "3e0822deed865249"
            ]
        ]
    },
    {
        "id": "268372200aca4cd3",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Pair Res",
        "func": "msg.scan = false;\nmsg.pong = false;\nmsg.info = false;\nmsg.pair = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 2040,
        "wires": [
            [
                "c5c6c103386533a0"
            ]
        ]
    },
    {
        "id": "68aca19bb632a066",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Pair Req",
        "func": "if (msg.pair == \"true\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 2040,
        "wires": [
            [
                "3681c4e62881d7f8"
            ]
        ]
    },
    {
        "id": "75621f555096d299",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt out : req/mesh/pair",
        "info": "",
        "x": 880,
        "y": 2080,
        "wires": []
    },
    {
        "id": "254f4a5458f8f7b4",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt in : res/mesh/pair",
        "info": "",
        "x": 1120,
        "y": 2080,
        "wires": []
    },
    {
        "id": "a260a9a26f5ef5d7",
        "type": "ui-template",
        "z": "995c4b1d9b050545",
        "group": "586897a17b59ec7d",
        "page": "",
        "ui": "",
        "name": "Login Template",
        "order": 2,
        "width": 0,
        "height": 14,
        "head": "",
        "format": "<template class=\"bg-black-100\">\n  <div class=\"flex flex-col items-center justify-center h-full p-6\">\n    <h2 class=\"text-2xl font-bold mb-4\">Login</h2>\n    <v-text-field v-model=\"username\" label=\"Username\" outlined></v-text-field>\n    <v-text-field v-model=\"password\" label=\"Password\" type=\"password\" outlined></v-text-field>\n    <p v-if=\"error\" class=\"text-red-500 mt-2\">{{ error }}</p>\n    <v-btn class=\"mt-4\" color=\"primary\" @click=\"login\">Login</v-btn>\n  </div>\n</template>\n\n<script>\nexport default {\n  props: {\n    msg: {\n      type: Object,\n      required: true\n    }\n  },\n  data() {\n    return {\n      username: \"\",\n      password: \"\",\n      error: \"\"\n    };\n  },\n  mounted() {\n    if (localStorage.getItem(\"loggedIn\") == \"true\") {\n      this.redirectScan();\n    }\n  },\n  watch: {\n    msg(newMsg) {\n      if (newMsg && newMsg.payload) {\n        const user = newMsg.payload;\n        if (this.username === user.username && this.password === user.password) {\n          this.error = \"\";\n          localStorage.setItem(\"loggedIn\", \"true\");\n          this.redirectScan();\n        } else {\n          this.error = \"Invalid username or password\";\n        }\n      }\n    }\n  },\n  methods: {\n    login() {\n      const sendObj = {\n        collection: \"users\",\n        payload: { username: this.username },\n        operation: \"findOne\"\n      };\n      this.send(sendObj);\n    },\n    redirectScan() {\n      // tell Node-RED to switch tab via ui-control\n      const base = window.location.origin;\n      window.location.href = `${base}/dashboard/scan`;\n    }\n  }\n};\n</script>\n",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1720,
        "y": 1980,
        "wires": [
            [
                "8047d3627b2967c2"
            ]
        ]
    },
    {
        "id": "8ec4bbdd0cd405a0",
        "type": "ui-template",
        "z": "995c4b1d9b050545",
        "group": "e8be1bca78eb2c30",
        "page": "",
        "ui": "",
        "name": "Home Template",
        "order": 1,
        "width": 0,
        "height": 14,
        "head": "",
        "format": "<template>\n  <div style=\"display: flex; flex-direction: column\" class=\"ma-3\">\n    <div class=\"top-buttons d-lg-flex d-sm-block justify-space-between align-center\">\n      <div>\n        <strong class=\"text-h6 font-weight-bold text-uppercase text-blue-grey-darken-4 mr-4\">\n          status :\n          <span :class=\"master_status === 'online' ? 'text-teal' : 'text-red-darken-2'\">\n            {{ master_status }}\n          </span>\n        </strong>\n      </div>\n      <div>\n        <v-btn\n          outlined\n          @click=\"refreshPage\"\n          style=\"background-color: #a2af9b; color: black\"\n          class=\"font-weight-bold text-subtitle-1 text-blue-grey-darken-4 mr-4\"\n        >\n          REFRESH\n        </v-btn>\n        <v-btn\n          outlined\n          style=\"background-color: #a2af9b; color: black\"\n          class=\"font-weight-bold text-subtitle-1 text-blue-grey-darken-4\"\n          :loading=\"isLoading\"\n          :disabled=\"isLoading\"\n          @click=\"syncSlave\"\n        >\n          <template v-slot:loader>\n            <v-progress-circular indeterminate color=\"white\" size=\"20\"></v-progress-circular>\n          </template>\n          <span v-if=\"!isLoading\">SYNC</span>\n          <span v-else>Loading...</span>\n        </v-btn>\n      </div>\n    </div>\n    <v-row class=\"mt-5 pa-4 rounded-lg\" style=\"background-color: #a2af9b; color: black\">\n      <v-col\n        v-for=\"(node, index) in slave_nodes\"\n        :key=\"index\"\n        cols=\"12\"\n        sm=\"6\"\n        md=\"3\"\n      >\n        <v-sheet\n          class=\"pa-3 text-subtitle-1 text-blue-grey-darken-4 rounded-lg\"\n          elevation=\"1\"\n          color=\"primary\"\n        >\n          <v-sheet color=\"primary\">\n            <div class=\"d-flex justify-space-between align-center\">\n              <strong>STATUS :\n                <span :class=\"node.node_status === 'online' ? 'text-teal text-uppercase' : 'text-red-darken-2 text-uppercase'\">\n                  {{ node.node_status }}\n                </span>\n              </strong>\n              <div>\n                <v-btn\n                  icon=\"mdi-cog\"\n                  size=\"small\"\n                  variant=\"text\"\n                  @click.stop=\"showNodePopup(node)\"\n                  :disabled=\"node.node_status === 'offline'\"\n                ></v-btn>\n                <v-btn\n                  icon=\"mdi-delete\"\n                  size=\"small\"\n                  variant=\"text\"\n                  color=\"red-darken-2\"\n                  @click.stop=\"unpairNode(node)\"\n                  :disabled=\"node.node_status === 'offline'\"\n                ></v-btn>\n              </div>\n            </div>\n            <div class=\"d-flex align-center\">\n              <span class=\"mr-2\">Node Name :</span>\n              <span\n                v-if=\"editingNodeMac !== node.mac_address\"\n                @click.stop=\"startEditing(node)\"\n                style=\"cursor: pointer;\"\n                class=\"font-weight-bold\"\n              >\n                {{ node.name || 'Mesh Node' }}\n              </span>\n              <v-text-field\n                v-else\n                v-model=\"editingNodeName\"\n                @keyup.enter=\"saveNodeName\"\n                @blur=\"saveNodeName\"\n                @click.stop\n                dense\n                autofocus\n                single-line\n                hide-details\n              ></v-text-field>\n            </div>\n            <p>MAC Addr : {{ node.mac_address }}</p>\n            <p>Node ID : {{ node.node_id }}</p>\n            <p>Node Type : {{ node.node_type }}</p>\n            <p>Description : {{ node.description }}</p>\n            \n            <div v-if=\"node.node_type === 'sensor' && node.state && node.state.i2c && node.node_status == 'online'\" class=\"mt-2\">\n              <v-divider class=\"my-1\"></v-divider>\n              <p v-for=\"(value, key) in node.state.i2c\" :key=\"key\" class=\"mb-0 text-caption\">\n                <strong class=\"text-capitalize font-weight-bold\">{{ key }}:</strong> {{ value }}\n              </p>\n              <v-divider class=\"mt-1\"></v-divider>\n            </div>\n            <div v-if=\"node.node_type === 'relay' && node.node_status === 'online'\">\n              \n              <v-btn\n                class=\"mb-2 mt-2\"\n                block\n                color=\"blue-grey-darken-1\"\n                @click=\"setManualMode(node)\"\n              >\n                {{ node.manual_mode ? 'AUTO' : 'MANUAL' }}\n              </v-btn>\n              <v-divider class=\"my-2\"></v-divider>\n              <div class=\"d-flex justify-space-around\">\n                <v-switch\n                  v-model=\"node.state.r1\"\n                  label=\"Relay 1\"\n                  color=\"teal\"\n                  inset\n                  hide-details\n                  :disabled=\"!node.manual_mode\"\n                  @change.stop=\"toggleRelay(node, 'r1')\"\n                ></v-switch>\n                <v-switch\n                  v-model=\"node.state.r2\"\n                  label=\"Relay 2\"\n                  color=\"teal\"\n                  inset\n                  hide-details\n                  :disabled=\"!node.manual_mode\"\n                  @change.stop=\"toggleRelay(node, 'r2')\"\n                ></v-switch>\n              </div>\n            </div>\n          </v-sheet>\n        </v-sheet>\n      </v-col>\n    </v-row>\n    <v-dialog v-model=\"dialog\" max-width=\"600\">\n      <v-card v-if=\"selectedNode\">\n        <div class=\"text-h6 text-center text-blue-grey-darken-4 pa-3\" style=\"background-color: #a2af9b;\">\n          {{ selectedNode.name || 'Mesh Node' }}\n        </div>\n        \n        <v-list v-if=\"selectedNode.node_type === 'sensor' && editableNodeConfig.state && editableNodeConfig.state.gpio\">\n          <v-list-item \n            v-for=\"(gpioConfig, gpioPin) in editableNodeConfig.state.gpio\" \n            :key=\"gpioPin\"\n          >\n            <div class=\"d-flex flex-column flex-sm-row justify-space-between align-center\">\n              <div class=\"font-weight-bold mb-2 mb-sm-0\">\n                {{ gpioPin }}\n              </div>\n              <v-btn-toggle\n                v-model=\"gpio_config.mode[gpioPin]\"\n                variant=\"outlined\"\n                divided\n                density=\"compact\"\n              >\n                <v-btn \n                  value=\"button\" \n                  @click=\"updateGpioConfig(gpioPin, 'button')\" \n                >Button</v-btn>\n                <v-btn \n                  value=\"toggle\" \n                  @click=\"updateGpioConfig(gpioPin, 'toggle')\" \n                >Toggle</v-btn>\n                <v-btn \n                  value=\"delay\" \n                  @click=\"updateGpioConfig(gpioPin, 'delay')\" \n                >Delay</v-btn>\n              </v-btn-toggle>\n            </div>\n          </v-list-item>\n        </v-list>\n        <v-list v-else-if=\"selectedNode.node_type === 'relay'\">\n          <v-list-item>\n            <div class=\"d-flex flex-column flex-sm-row flex-wrap align-start align-sm-center\">\n              <strong class=\"mr-sm-4 mb-2 mb-sm-0\">Relay 1:</strong>\n              <div style=\"width: 100%;\" class=\"d-flex flex-column flex-sm-row flex-wrap align-start align-sm-center\">\n                <v-select\n                  v-model=\"editableNodeConfig.state.r1_sensor\"\n                  :items=\"sensorNodeList\"\n                  label=\"Sensor Node\"\n                  dense outlined hide-details\n                  class=\"mr-sm-2 mb-2 mb-sm-0 w-100 w-sm-auto\"\n                  style=\"max-width: 150px;\"\n                ></v-select>\n                <v-select\n                  v-model=\"editableNodeConfig.state.r1_sensor_type\"\n                  :items=\"['gpio', 'i2c']\"\n                  label=\"Type\"\n                  dense outlined hide-details\n                  class=\"mr-sm-2 mb-2 mb-sm-0 w-100 w-sm-auto\"\n                  style=\"max-width: 100px;\"\n                ></v-select>\n              </div>\n              <div class=\"d-flex flex-column\" style=\"width: 100%;\">\n                <span class=\"text-caption mb-1\" :class=\"{ 'text-disabled': !editableNodeConfig.state.r1_sensor_type }\">Pin/Addr:</span>\n                <v-btn-toggle\n                  v-model=\"editableNodeConfig.state.r1_sensor_pin\"\n                  variant=\"outlined\"\n                  density=\"compact\"\n                  divided\n                  :disabled=\"!editableNodeConfig.state.r1_sensor_type\"\n                  class=\"flex-wrap\"\n                >\n                  <v-btn\n                    v-for=\"pin in r1_sensor_pins\"\n                    :key=\"pin\"\n                    :value=\"pin\"\n                    class=\"flex-grow-1\"\n                  >\n                    {{ pin }}\n                  </v-btn>\n                </v-btn-toggle>\n              </div>\n              <div class=\"d-flex flex-column\" style=\"width: 100%;\">\n                <v-text-field\n                  v-if=\"editableNodeConfig.state.r1_sensor && editableNodeConfig.state.r1_sensor_type && editableNodeConfig.state.r1_sensor_type == 'i2c' && editableNodeConfig.state.r1_sensor_pin\"\n                  v-model=\"editableNodeConfig.state.r1_condition_name\"\n                  label=\"Work Condition Ex: >30\"\n                  dense\n                  outlined\n                  hide-details\n                  class=\"mt-4\"\n                ></v-text-field>\n                <v-btn-toggle\n                  v-if=\"editableNodeConfig.state.r1_sensor && editableNodeConfig.state.r1_sensor_type && editableNodeConfig.state.r1_sensor_type == 'gpio' && editableNodeConfig.state.r1_sensor_pin\"\n                  v-model=\"editableNodeConfig.state.r1_condition_name\"\n                  variant=\"outlined\"\n                  density=\"compact\"\n                  divided\n                  class=\"mt-4\"\n                >\n                  <v-btn :value=\"true\">TRUE</v-btn>\n                  <v-btn :value=\"false\">FAlSE</v-btn>\n                </v-btn-toggle>\n              </div>\n            </div>\n          </v-list-item>\n          <v-divider></v-divider>\n          <v-list-item>\n            <div class=\"d-flex flex-column flex-sm-row flex-wrap align-start align-sm-center\">\n              <strong class=\"mr-sm-4 mb-2 mb-sm-0\">Relay 2:</strong>\n              <div style=\"width: 100%;\" class=\"d-flex flex-column flex-sm-row flex-wrap align-start align-sm-center\">\n                <v-select\n                  v-model=\"editableNodeConfig.state.r2_sensor\"\n                  :items=\"sensorNodeList\"\n                  label=\"Sensor Node\"\n                  dense outlined hide-details\n                  class=\"mr-sm-2 mb-2 mb-sm-0 w-100 w-sm-auto\"\n                  style=\"max-width: 150px;\"\n                ></v-select>\n                <v-select\n                  v-model=\"editableNodeConfig.state.r2_sensor_type\"\n                  :items=\"['gpio', 'i2c']\"\n                  label=\"Type\"\n                  dense outlined hide-details\n                  class=\"mr-sm-2 mb-2 mb-sm-0 w-100 w-sm-auto\"\n                  style=\"max-width: 100px;\"\n                ></v-select>\n              </div>\n              <div class=\"d-flex flex-column\" style=\"width: 100%;\">\n                <span class=\"text-caption mb-1\" :class=\"{ 'text-disabled': !editableNodeConfig.state.r2_sensor_type }\">Pin/Addr:</span>\n                <v-btn-toggle\n                  v-model=\"editableNodeConfig.state.r2_sensor_pin\"\n                  variant=\"outlined\"\n                  density=\"compact\"\n                  divided\n                  :disabled=\"!editableNodeConfig.state.r2_sensor_type\"\n                  class=\"flex-wrap\"\n                >\n                  <v-btn\n                    v-for=\"pin in r2_sensor_pins\"\n                    :key=\"pin\"\n                    :value=\"pin\"\n                    class=\"flex-grow-1\"\n                  >\n                    {{ pin }}\n                  </v-btn>\n                </v-btn-toggle>\n              </div>\n              <div class=\"d-flex flex-column\" style=\"width: 100%;\">\n                <v-text-field\n                  v-if=\"editableNodeConfig.state.r2_sensor && editableNodeConfig.state.r2_sensor_type && editableNodeConfig.state.r2_sensor_type == 'i2c' && editableNodeConfig.state.r2_sensor_pin\"\n                  v-model=\"editableNodeConfig.state.r2_condition_name\"\n                  label=\"Work Condition Ex: >30\"\n                  dense\n                  outlined\n                  hide-details\n                  class=\"mt-4\"\n                ></v-text-field>\n                <v-btn-toggle\n                  v-if=\"editableNodeConfig.state.r2_sensor && editableNodeConfig.state.r2_sensor_type && editableNodeConfig.state.r2_sensor_type == 'gpio' && editableNodeConfig.state.r2_sensor_pin\"\n                  v-model=\"editableNodeConfig.state.r2_condition_name\"\n                  variant=\"outlined\"\n                  density=\"compact\"\n                  divided\n                  class=\"mt-4\"\n                >\n                  <v-btn :value=\"true\">TRUE</v-btn>\n                  <v-btn :value=\"false\">FAlSE</v-btn>\n                </v-btn-toggle>\n              </div>\n            </div>\n          </v-list-item>\n        </v-list>\n        \n        <v-card-actions class=\"pa-3\">\n          <v-btn\n            v-if=\"selectedNode.node_type === 'sensor'\"\n            style=\"background-color: #a2af9b; color: black\"\n            text\n            @click=\"saveNodeConfig\"\n          >\n            Save\n          </v-btn>\n          <v-btn\n            v-if=\"selectedNode.node_type === 'relay' && !selectedNode.config\"\n            style=\"background-color: #a2af9b; color: black\"\n            text\n            @click=\"saveNodeConfig\"\n          >\n            Save\n          </v-btn>\n          <v-btn\n            v-if=\"selectedNode.node_type === 'relay' && selectedNode.config\"\n            style=\"background-color: rgb(211, 59, 59); color: white\"\n            text\n            @click=\"deleteConfig(selectedNode)\"\n          >\n            Delete\n          </v-btn>\n          <v-spacer></v-spacer>\n          <v-btn \n            style=\"background-color: #90a4ae; color: black\" \n            text\n            @click=\"closeDialog\"\n          >\n            Close\n          </v-btn>\n        </v-card-actions>\n      </v-card>\n    </v-dialog>\n    <v-snackbar\n      v-model=\"snackbar\"\n      top\n      absolute\n      :timeout=\"notify_timeout\"\n      :color=\"notify_color\"\n      elevation=\"5\"\n    >\n      {{ message }}\n      <template v-slot:actions>\n        <v-btn text @click=\"snackbar = false\">Close</v-btn>\n      </template>\n    </v-snackbar>\n  </div>\n</template>\n<script>\nexport default {\n  name: \"NodeManager\",\n  mounted() {\n    if (localStorage.getItem(\"loggedIn\") === \"false\") {\n      this.redirectLogin();\n    }\n    this.getNodesMongoDB();\n    this.checkNodeStatus(); \n    this.checkMasterStatus();\n    this.immediatePing();\n  },\n  data() {\n    return {\n      slave_nodes: [],\n      getNode_request: false,\n      ping_delay: 0,\n      allNode_request: false,\n      activeNode_request: false,\n      unpair_request: false,\n      gpioConfig_request: false,\n      relayConfig_request: false,\n      removeConfig_request: false,\n      toAuto_request: false,\n      toManual_request: false,\n      activeNodeSave_request: false,\n      get_gpio_type_request: false,\n      isLoading: false,\n      master_status: \"offline\",\n      editingNodeMac: null,\n      editingNodeName: \"\",\n      dialog: false,\n      selectedNode: null,\n      editableNodeConfig: null, // Temporary storage for edits in the dialog\n      snackbar: false,\n      message: '',\n      notify_color: \"teal\",\n      notify_timeout: 0,\n      gpio_config: {\n        node_id: \"\",\n        mode: {}\n      },\n      offline_buffer: false,\n    };\n  },\n  computed: {\n    // Returns a list of online sensor nodes for the dropdowns\n    sensorNodeList() {\n      return this.slave_nodes\n        .filter(n => n.node_type === 'sensor' && n.node_status === 'online')\n        .map(n => n.name || n.mac_address);\n    },\n    // Dynamically gets the available pins for the Relay 1 sensor\n    r1_sensor_pins() {\n      if (!this.editableNodeConfig || !this.editableNodeConfig.state.r1_sensor || !this.editableNodeConfig.state.r1_sensor_type) {\n        return [];\n      }\n      \n      const selectedNodeName = this.editableNodeConfig.state.r1_sensor;\n      const node = this.slave_nodes.find(n => (n.name === selectedNodeName || n.mac_address === selectedNodeName));\n      \n      if (!node || !node.state) return [];\n      const type = this.editableNodeConfig.state.r1_sensor_type;\n      if (type === 'gpio' && node.state.gpio) {\n        return Object.keys(node.state.gpio);\n      }\n      if (type === 'i2c' && node.state.i2c) { // Assuming i2c data might exist at node.state.i2c\n        return Object.keys(node.state.i2c);\n      }\n      \n      return [];\n    },\n    // Dynamically gets the available pins for the Relay 2 sensor\n    r2_sensor_pins() {\n      if (!this.editableNodeConfig || !this.editableNodeConfig.state.r2_sensor || !this.editableNodeConfig.state.r2_sensor_type) {\n        return [];\n      }\n      \n      const selectedNodeName = this.editableNodeConfig.state.r2_sensor;\n      const node = this.slave_nodes.find(n => (n.name === selectedNodeName || n.mac_address === selectedNodeName));\n      \n      if (!node || !node.state) return [];\n      const type = this.editableNodeConfig.state.r2_sensor_type;\n      if (type === 'gpio' && node.state.gpio) {\n        return Object.keys(node.state.gpio);\n      }\n      if (type === 'i2c' && node.state.i2c) {\n        return Object.keys(node.state.i2c);\n      }\n      \n      return [];\n    }\n  },\n  watch: {\n    msg(newMsg) {\n      if (newMsg.type == \"MONGO_DB\" && this.getNode_request) {\n        this.isLoading = false;\n        this.slave_nodes = Object.values(newMsg.payload).map(node => ({\n          ...node,\n          node_status: \"offline\",\n          manual_mode: false,\n        }));\n        this.getNode_request = false;\n      }\n      if (newMsg.type == \"PONG\") {\n        if (this.offline_buffer == false) {\n          this.offline_buffer = true;\n          const sendObj = { payload: \"active\", type: \"ACTIVE_NODE\" };\n          this.activeNode_request = true;\n          this.send(sendObj);\n        }\n        this.master_status = \"online\";\n        if (this.ping_delay < 2) {\n          this.ping_delay += 1;\n        }\n      }\n      if (newMsg.type == \"ACTIVE_NODE\" && this.activeNode_request) {\n        this.activeNode_request = false;\n        this.slave_nodes = this.slave_nodes.map(node => {\n          const key = node.mac_address;\n          if (newMsg.payload[key] && newMsg.payload[key].state) {\n            if (node.manual_mode == false) {\n              return {\n                ...node,\n                state: newMsg.payload[key]?.state || {},\n                node_status: \"online\"\n              };\n            } else {\n              return {\n                ...node,\n                node_status: \"online\"\n              };\n            }\n          } else {\n            return {\n              ...node,\n              node_status: \"offline\"\n            };\n          }\n        });\n      }\n\n      if (newMsg.type == \"ACTIVE_NODE\" && this.activeNodeSave_request) {\n        this.activeNodeSave_request = false;\n        this.slave_nodes = this.slave_nodes.map(node => {\n          const key = node.mac_address;\n          if (newMsg.payload[key] && newMsg.payload[key].state) {\n            if (node.manual_mode == false) {\n              return {\n                ...node,\n                state: newMsg.payload[key]?.state || {},\n                node_status: \"online\"\n              };\n            } else {\n              return {\n                ...node,\n                node_status: \"online\"\n              };\n            }\n          } else {\n            return {\n              ...node,\n              node_status: \"offline\"\n            };\n          }\n        });\n        for (const key in newMsg.payload) {\n          const updateObj = {\n            collection: \"nodes\",\n            operation: \"updateOne\",\n            type: \"MONGO_DB\",\n            payload: [\n              { mac_address: key },\n              { $set: newMsg.payload[key] }\n            ]\n          };\n          this.send(updateObj);\n        }\n        setTimeout(() => {\n          // this.refreshPage();\n        }, 1500);\n      }\n      if (newMsg.type == \"ALL_NODE\" && this.allNode_request) {\n        this.allNode_request = false;\n        const dropObj = {\n          collection: \"nodes\",\n          payload: {},\n          operation: \"deleteMany\",\n          type: \"MONGO_DB\"\n        };\n        this.send(dropObj);\n        setTimeout(() => {\n          const insertObj = {\n            collection: \"nodes\",\n            payload: [Object.values(newMsg.payload)],\n            operation: \"insertMany\",\n            type: \"MONGO_DB\"\n          };\n          this.send(insertObj);\n          this.showNotification(`Sync succeeded`, \"green\");\n          this.saveActiveNode();\n          this.activeNodeSave_request = true;\n          this.getNodesMongoDB();\n        }, 2000);\n      }\n      \n      if (newMsg.type == \"UNPAIR_NODE\" && this.unpair_request) {\n        const deleteObj = {\n          collection: \"nodes\",\n          operation: \"deleteOne\",\n          type: \"MONGO_DB\",\n          payload: [{ mac_address: newMsg.payload.mac_address }]\n        };\n        this.send(deleteObj);\n        this.slave_nodes = this.slave_nodes.filter(\n          (n) => n.mac_address !== newMsg.payload.mac_address\n        );\n        this.unpair_request = false;\n        this.showNotification(`Unpair ${newMsg.payload.mac_address} succeeded`, \"green\");\n      }\n      if (newMsg.type == \"UPDATE_GPIO_CONFIG\" && this.gpioConfig_request) {\n        this.gpioConfig_request = false;\n        this.showNotification(`node_id : ${newMsg.payload.node_id} GPIO configuration updated successfully`, \"green\");\n      }\n      if (newMsg.type == \"RELAY_CONFIG\" && this.relayConfig_request) {\n        this.relayConfig_request = false;\n        this.showNotification(`node_id : ${newMsg.payload.node_id} Relay configuration updated successfully`, \"green\");\n        this.saveActiveNode();\n        this.activeNodeSave_request = true;\n      }\n      if (newMsg.type == \"REMOVE_CONFIG\" && this.removeConfig_request) {\n        this.removeConfig_request = false;\n        this.showNotification(`node_id : ${newMsg.payload.node_id} configuration removed successfully`, \"green\");\n        this.saveActiveNode();\n        this.activeNodeSave_request = true;\n      }\n      if (newMsg.type == \"REMOVE_CONFIG\" && this.toManual_request) {\n        this.toManual_request = false;\n        // change auto mode to manual mode\n        this.slave_nodes = this.slave_nodes.map(node => {\n          if (node.node_id === newMsg.payload.node_id) {\n            return {\n              ...node,\n              manual_mode: true\n            };\n          }\n          return node;\n        });\n      }\n      if (newMsg.type == \"RELAY_CONFIG\" && this.toAuto_request) {\n        this.toAuto_request = false;\n        // change manual mode to auto mode\n        this.slave_nodes = this.slave_nodes.map(node => {\n          if (node.node_id === newMsg.payload.node_id) {\n            return {\n              ...node,\n              manual_mode: false\n            };\n          }\n          return node;\n        }); \n      }\n      if (newMsg.type == \"RELAY_AUTO_UPDATE\") {\n        // auto update relay state\n        this.slave_nodes = this.slave_nodes.map(node => {\n          if (node.node_id === newMsg.payload.node_id && node.manual_mode == false) {\n            return {\n              ...node,\n              state: {\n                ...node.state,\n                ...newMsg.payload.state\n              }\n            };\n          }\n          return node;\n        });\n      }\n      if (newMsg.type == \"GPIO_TYPE\" && this.get_gpio_type_request) {\n        this.get_gpio_type_request = false;\n        if (this.gpio_config && this.gpio_config.node_id === newMsg.payload.node_id) {\n          this.gpio_config = {\n            node_id: newMsg.payload.node_id,\n            mode: newMsg.payload.mode || this.gpio_config.mode\n          };\n        }\n      }\n    }\n  },\n  methods: {\n    saveNodeConfig() {\n      if (!this.selectedNode) return;\n      if (this.selectedNode.node_type === 'sensor') {\n        this.saveSensorConfig();\n      } else if (this.selectedNode.node_type === 'relay') {\n        this.saveRelayConfig();\n      }\n    },\n    saveRelayConfig() {\n      // map editableNodeConfig r1_sensor to node_id\n      if (!this.editableNodeConfig) return;\n      const r1_sensor_node = this.slave_nodes.find(n => (n.name === this.editableNodeConfig.state.r1_sensor || n.mac_address === this.editableNodeConfig.state.r1_sensor));\n      const r2_sensor_node = this.slave_nodes.find(n => (n.name === this.editableNodeConfig.state.r2_sensor || n.mac_address === this.editableNodeConfig.state.r2_sensor));\n      const configObj = {\n        payload: {\n          [this.editableNodeConfig.node_id]: {\n            r1: {\n              node_id: r1_sensor_node ? r1_sensor_node.node_id : null,\n              condition: editableNodeConfig.state.r1_sensor_type == \"gpio\" ? `${this.editableNodeConfig.state.r1_sensor_pin}|${this.editableNodeConfig.state.r1_condition_name}` || null :\n               `${this.editableNodeConfig.state.r1_sensor_pin}${this.editableNodeConfig.state.r1_condition_name}` || null\n            },\n            r2: {\n              node_id: r2_sensor_node ? r2_sensor_node.node_id : null,\n              condition: editableNodeConfig.state.r2_sensor_type == \"gpio\" ? `${this.editableNodeConfig.state.r2_sensor_pin}|${this.editableNodeConfig.state.r2_condition_name}` || null :\n               `${this.editableNodeConfig.state.r2_sensor_pin}${this.editableNodeConfig.state.r2_condition_name}` || null\n            }\n          }\n        },\n        type: \"RELAY_CONFIG\",\n      };\n      this.send(configObj);\n      this.showNotification(\"Saving relay configuration...\", \"blue\");\n      this.relayConfig_request = true;\n      this.closeDialog();\n      this.refreshPage();\n    },\n    saveSensorConfig() {\n      const updateObj = {\n        payload: this.gpio_config,\n        type: \"UPDATE_GPIO_CONFIG\",\n      };\n      this.send(updateObj);\n      this.gpioConfig_request = true;\n      this.showNotification(\"Saving GPIO configuration...\", \"blue\");\n      this.closeDialog();\n    },\n    closeDialog() {\n      this.dialog = false;\n      this.gpio_config = {\n        node_id: \"\",\n        mode: {}\n      };\n      this.selectedNode = null;\n      this.editableNodeConfig = null;\n    },\n    updateGpioConfig(gpioPin, newType) {\n      this.gpio_config.mode[gpioPin] = newType;\n    },\n    showNotification(msg = 'Notification shown at the top!', color = \"teal\") {\n      this.notify_timeout += 3000;\n      this.message = msg;\n      this.notify_color = color;\n      this.snackbar = true;\n      this.$emit('send', { payload: 'top_notification_shown' });\n    },\n    unpairNode(node) {\n      if (this.master_status !== \"online\") {\n        this.showNotification(\"Master node is offline. Cannot fetch relay configurations.\", \"red\");\n        return;\n      }\n      if (node.node_status == \"online\") {\n        if (confirm(`Are you sure you want to unpair the node \"${node.name || node.mac_address}\"?`)) {\n          const unpairObj = {\n            payload: node.node_id,\n            type: \"UNPAIR_NODE\",\n          }\n          this.send(unpairObj);\n          this.unpair_request = true;\n          this.showNotification(\"Unpairing...\", \"blue\");\n        }\n      } else {\n        this.showNotification(`This ${node.mac_address} is offline`, \"red\");\n      }\n    },\n    setManualMode(node) {\n      if (!node.manual_mode) {\n        const removeObj = {\n          payload: node.node_id,\n          type: \"REMOVE_CONFIG\",\n        }\n        this.send(removeObj);\n        this.toManual_request = true;\n        this.showNotification(`Toggle ${node.name || node.mac_address} to manual....`, \"blue\");\n      } else {\n        if (node.config) {\n          const configObj = {\n            payload: {\n              [node.node_id]: {\n                ...node.config\n              }\n            },\n            type: \"RELAY_CONFIG\",\n          };\n          this.send(configObj);\n          this.toAuto_request = true;\n          this.showNotification(`Toggle ${node.name || node.mac_address} to auto....`, \"blue\");\n        } else {\n          this.showNotification(\"No configuration found for this relay node. Please set up the configuration first.\", \"red\");\n          return;\n        }\n      }\n    },\n    toggleRelay(node) {\n      if (!node || !node.state) {\n        return;\n      }\n      const commandObj = {\n        type: \"RELAY_CONTROL\",\n        payload: {\n          node_id: node.node_id,\n          state: {\n            \"r1\": node.state.r1,\n            \"r2\": node.state.r2,\n          },\n        }\n      };\n      this.send(commandObj);\n    },\n    showNodePopup(node) {\n      if (node.node_type == \"sensor\") {\n        // set default gpio config mode to button\n        let default_gpio = node.state.gpio || {};\n        for (let key in default_gpio) {\n          default_gpio[key] = \"button\";\n        } \n        this.gpio_config = {\n          node_id: node.node_id,\n          mode: default_gpio || {}\n        };\n        \n        const getObj = {\n          payload: node.node_id,\n          type: \"GET_GPIO_TYPE\",\n        }\n        this.send(getObj);\n        this.get_gpio_type_request = true;\n      }\n      this.selectedNode = node;\n      this.editableNodeConfig = JSON.parse(JSON.stringify(node));\n      this.dialog = true;\n    },\n    startEditing(node) {\n      this.editingNodeMac = node.mac_address;\n      this.editingNodeName = node.name || '';\n    },\n    saveNodeName() {\n      if (!this.editingNodeMac) return;\n      const nodeToUpdate = this.slave_nodes.find(n => n.mac_address === this.editingNodeMac);\n      if (nodeToUpdate) {\n        nodeToUpdate.name = this.editingNodeName;\n        const updateObj = {\n          collection: \"nodes\",\n          operation: \"updateOne\",\n          type: \"MONGO_DB\",\n          payload: [\n            { mac_address: this.editingNodeMac },\n            { $set: { name: this.editingNodeName } }\n          ]\n        };\n        this.send(updateObj);\n      }\n      this.editingNodeMac = null;\n      this.editingNodeName = \"\";\n    },\n    redirectLogin() {\n      const base = window.location.origin;\n      window.location.href = `${base}/dashboard/login`;\n    },\n    getNodesMongoDB() {\n      const sendObj = {\n        collection: \"nodes\",\n        operation: \"find.toArray\",\n        type: \"MONGO_DB\"\n      };\n      this.getNode_request = true;\n      this.send(sendObj);\n    },\n    checkMasterStatus() {\n      setInterval(() => {\n        if (this.ping_delay > 0) {\n          this.ping_delay -= 1;\n        } else {\n          this.master_status = \"offline\";\n          this.offline_buffer = true;\n          this.slave_nodes = this.slave_nodes.map(node => ({\n            ...node,\n            node_status: \"offline\"\n          }));\n        }\n      }, 10000);\n    },\n    checkNodeStatus() {\n      const sendObj = { payload: \"active\", type: \"ACTIVE_NODE\" };\n      setInterval(() => {\n        if (this.master_status == \"online\") {\n          this.activeNode_request = true;\n          this.send(sendObj);\n        }\n      }, 10000);\n    },\n    saveActiveNode() {\n      const sendObj = { payload: \"active\", type: \"ACTIVE_NODE\" };\n      this.activeNodeSave_request = true;\n      this.send(sendObj);\n    },\n    syncSlave() {\n      if (this.master_status !== \"online\") {\n        this.showNotification(\"Master node is offline. Cannot fetch relay configurations.\", \"red\");\n        return;\n      }\n      this.allNode_request = true;\n      const sendObj = { payload: \"getAllNode\", type: \"ALL_NODE\" };\n      this.send(sendObj);\n      this.isLoading = true;\n    },\n    refreshPage() {\n      window.location.reload();\n    },\n    removeConfig(node) {\n      const removeObj = {\n        payload: node.node_id,\n        type: \"REMOVE_CONFIG\",\n      }\n      this.send(removeObj);\n      this.removeConfig_request = true;\n    },\n    deleteConfig(node) {\n      if (confirm(`Are you sure you want to delete the configuration for the node \"${node.name || node.mac_address}\"?`)) {\n        this.removeConfig(node);\n        this.showNotification(\"Removing configuration...\", \"blue\");\n        this.closeDialog();\n      }\n    },\n    immediatePing() {\n      const sendObj = { payload: \"ping\", type: \"PING\" };\n      this.send(sendObj);\n    }\n  }\n}\n</script>\n<style scoped>\n/* Add any component-specific styles here */\n</style>\n\n<!-- \n\n- get gpio config mode\n- relay state auto update change state immediately\n\n\n-->\n\n",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2280,
        "y": 960,
        "wires": [
            [
                "4dd208191b7d3fa7"
            ]
        ],
        "inputLabels": [
            "tyesty"
        ]
    },
    {
        "id": "457b5fb169265e0d",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Active Node Req",
        "func": "if (msg.type == \"ACTIVE_NODE\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1660,
        "wires": [
            [
                "e4a7fb50f3fdb8d2"
            ]
        ]
    },
    {
        "id": "66ba952ec68e4950",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Active Node Res",
        "func": "msg.type = \"ACTIVE_NODE\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2580,
        "y": 1660,
        "wires": [
            [
                "8bd74f2502b9e886"
            ]
        ]
    },
    {
        "id": "1427794c17be066b",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter All Node Req",
        "func": "if (msg.type == \"ALL_NODE\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 580,
        "wires": [
            [
                "278025f16480f49b"
            ]
        ]
    },
    {
        "id": "5e6259cdb5daf58d",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter All Node Res",
        "func": "msg.type = \"ALL_NODE\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2610,
        "y": 580,
        "wires": [
            [
                "c474859eb63c4bf7"
            ]
        ]
    },
    {
        "id": "0281939749a9d929",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Req Mongo",
        "func": "if (msg.type == \"MONGO_DB\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2150,
        "y": 1800,
        "wires": [
            [
                "880e1442db379124"
            ]
        ]
    },
    {
        "id": "ec5256dbc44ec346",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Res Mongo",
        "func": "if (!msg.payload.result) {\n    msg.type = \"MONGO_DB\";\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2450,
        "y": 1800,
        "wires": [
            [
                "c721928dce408313"
            ]
        ]
    },
    {
        "id": "31f987a266dbbf90",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Mongo",
        "func": "if (msg.toMongo){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1680,
        "wires": [
            [
                "b3d4a98d814e6274"
            ]
        ]
    },
    {
        "id": "f9db50b574b77edc",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt out : req/mesh/allnodes",
        "info": "",
        "x": 2140,
        "y": 540,
        "wires": []
    },
    {
        "id": "4ca59f38fb1c5321",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt in : res/mesh/allnodes",
        "info": "",
        "x": 2390,
        "y": 540,
        "wires": []
    },
    {
        "id": "70c4c5b624944135",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt out : req/mesh/nodes",
        "info": "",
        "x": 2150,
        "y": 1700,
        "wires": []
    },
    {
        "id": "aca5968b5b22b671",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt in: res/mesh/nodes",
        "info": "",
        "x": 2420,
        "y": 1700,
        "wires": []
    },
    {
        "id": "b787c287ee5fd020",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt in : esp/pong",
        "info": "",
        "x": 2370,
        "y": 400,
        "wires": []
    },
    {
        "id": "10bd03b60f0e0d5b",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Pong",
        "func": "msg.type = \"PONG\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 440,
        "wires": [
            [
                "67addc1632646f2c"
            ]
        ]
    },
    {
        "id": "8356e29c9a88d2b1",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt out : req/state/update",
        "info": "",
        "x": 2150,
        "y": 660,
        "wires": []
    },
    {
        "id": "7e112ea27611515b",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Relay Control",
        "func": "if (msg.type == \"RELAY_CONTROL\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1970,
        "y": 700,
        "wires": [
            [
                "63474ec0f0c1bd75"
            ]
        ]
    },
    {
        "id": "846353dbac09974c",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt out : req/mesh/unpair",
        "info": "",
        "x": 2130,
        "y": 1560,
        "wires": []
    },
    {
        "id": "3a14a82da8021a38",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Unpair Node Req",
        "func": "if (msg.type == \"UNPAIR_NODE\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1520,
        "wires": [
            [
                "f9bcd20a05b3fa34"
            ]
        ]
    },
    {
        "id": "d72e2dded2934c55",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt in : res/mesh/unpair",
        "info": "",
        "x": 2390,
        "y": 1560,
        "wires": []
    },
    {
        "id": "391f0b952c9a0c7c",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Unpair Node Res",
        "func": "msg.type = \"UNPAIR_NODE\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2580,
        "y": 1520,
        "wires": [
            [
                "9a77332c7b3109ac"
            ]
        ]
    },
    {
        "id": "c6dadfc240abfde0",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt in : esp/pong",
        "info": "",
        "x": 1110,
        "y": 1640,
        "wires": []
    },
    {
        "id": "24414b6d053cdfc2",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Update GPIO Type",
        "func": "if (msg.type == \"UPDATE_GPIO_CONFIG\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 1400,
        "wires": [
            [
                "52d2050ef3fc6104"
            ]
        ]
    },
    {
        "id": "18684902105d888a",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Update GPIO Type",
        "func": "msg.type = \"UPDATE_GPIO_CONFIG\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 1400,
        "wires": [
            [
                "1d9581c1983939d6"
            ]
        ]
    },
    {
        "id": "ea6773971d8253cd",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt out : req/mode/update",
        "info": "",
        "x": 2150,
        "y": 1440,
        "wires": []
    },
    {
        "id": "db13b709b7f2eeaf",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt in : res/mode/update",
        "info": "",
        "x": 2390,
        "y": 1440,
        "wires": []
    },
    {
        "id": "47337c51dd9b05ae",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Config Relay",
        "func": "if (msg.type == \"RELAY_CONFIG\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1970,
        "y": 820,
        "wires": [
            [
                "924b73f1e5dd4931"
            ]
        ]
    },
    {
        "id": "cdd6d044674c0a73",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Config Relay",
        "func": "msg.type = \"RELAY_CONFIG\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 820,
        "wires": [
            [
                "9f919df33c5bac13"
            ]
        ]
    },
    {
        "id": "4ab94373da8793bd",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt out : req/config/set",
        "info": "",
        "x": 2160,
        "y": 780,
        "wires": []
    },
    {
        "id": "7d51c477dc524a13",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt in : res/config/set",
        "info": "",
        "x": 2380,
        "y": 780,
        "wires": []
    },
    {
        "id": "75298f86315991e2",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Get Config",
        "func": "if (msg.type == \"GET_RELAY_CONFIG\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 1240,
        "wires": [
            [
                "ef11cd558cf51422"
            ]
        ]
    },
    {
        "id": "454c98d8840c4272",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Get Config",
        "func": "msg.type = \"GET_RELAY_CONFIG\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2580,
        "y": 1240,
        "wires": [
            [
                "9227d57b1af10c0d"
            ]
        ]
    },
    {
        "id": "6d5b62e361e2b990",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt out : req/config/remove",
        "info": "",
        "x": 2140,
        "y": 1140,
        "wires": []
    },
    {
        "id": "999d74a9500bd631",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt in : res/config/remove",
        "info": "",
        "x": 2390,
        "y": 1140,
        "wires": []
    },
    {
        "id": "e84977684a0d6215",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Remove Config",
        "func": "if (msg.type == \"REMOVE_CONFIG\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1940,
        "y": 1100,
        "wires": [
            [
                "91ccbd0c4c9c29e6"
            ]
        ]
    },
    {
        "id": "3999bc9fc6570f3f",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Remove Config",
        "func": "msg.type = \"REMOVE_CONFIG\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2600,
        "y": 1100,
        "wires": [
            [
                "8aa2bdaff11fb815"
            ]
        ]
    },
    {
        "id": "c21e123e9715a889",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt out : req/config/get",
        "info": "",
        "x": 2160,
        "y": 1280,
        "wires": []
    },
    {
        "id": "868d1baec2753925",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt in : res/config/get",
        "info": "",
        "x": 2380,
        "y": 1280,
        "wires": []
    },
    {
        "id": "e4680b8003c2de03",
        "type": "mqtt out",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "esp/ping",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 1040,
        "y": 1020,
        "wires": []
    },
    {
        "id": "188684d339532a7c",
        "type": "mqtt in",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "esp/pong",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2340,
        "y": 440,
        "wires": [
            [
                "10bd03b60f0e0d5b",
                "1cb5da2baad85996"
            ]
        ]
    },
    {
        "id": "278025f16480f49b",
        "type": "mqtt out",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "req/mesh/allnodes",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 2170,
        "y": 580,
        "wires": []
    },
    {
        "id": "e1b6f381395724b8",
        "type": "mqtt in",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "res/mesh/allnodes",
        "qos": "2",
        "datatype": "json",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2370,
        "y": 580,
        "wires": [
            [
                "5e6259cdb5daf58d"
            ]
        ]
    },
    {
        "id": "63474ec0f0c1bd75",
        "type": "mqtt out",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "req/state/update",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 2180,
        "y": 700,
        "wires": []
    },
    {
        "id": "924b73f1e5dd4931",
        "type": "mqtt out",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "req/config/set",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 2180,
        "y": 820,
        "wires": []
    },
    {
        "id": "05eae5adf0538ece",
        "type": "mqtt in",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "res/config/set",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2350,
        "y": 820,
        "wires": [
            [
                "cdd6d044674c0a73"
            ]
        ]
    },
    {
        "id": "91ccbd0c4c9c29e6",
        "type": "mqtt out",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "req/config/remove",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 2170,
        "y": 1100,
        "wires": []
    },
    {
        "id": "48570f3f3990d3a1",
        "type": "mqtt in",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "res/config/remove",
        "qos": "2",
        "datatype": "json",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2370,
        "y": 1100,
        "wires": [
            [
                "3999bc9fc6570f3f"
            ]
        ]
    },
    {
        "id": "ef11cd558cf51422",
        "type": "mqtt out",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "req/config/get",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 2180,
        "y": 1240,
        "wires": []
    },
    {
        "id": "f6f13d82dfaa8280",
        "type": "mqtt in",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "res/config/get",
        "qos": "2",
        "datatype": "json",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2350,
        "y": 1240,
        "wires": [
            [
                "454c98d8840c4272"
            ]
        ]
    },
    {
        "id": "52d2050ef3fc6104",
        "type": "mqtt out",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "req/mode/update",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 2170,
        "y": 1400,
        "wires": []
    },
    {
        "id": "9a39cffc867e44a3",
        "type": "mqtt in",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "res/mode/update",
        "qos": "2",
        "datatype": "json",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2360,
        "y": 1400,
        "wires": [
            [
                "18684902105d888a"
            ]
        ]
    },
    {
        "id": "f9bcd20a05b3fa34",
        "type": "mqtt out",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "req/mesh/unpair",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 2180,
        "y": 1520,
        "wires": []
    },
    {
        "id": "8bd9904bcfb83172",
        "type": "mqtt in",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "res/mesh/unpair",
        "qos": "2",
        "datatype": "json",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2360,
        "y": 1520,
        "wires": [
            [
                "391f0b952c9a0c7c"
            ]
        ]
    },
    {
        "id": "e4a7fb50f3fdb8d2",
        "type": "mqtt out",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "req/mesh/nodes",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 2180,
        "y": 1660,
        "wires": []
    },
    {
        "id": "cdad23334a7f542c",
        "type": "mqtt in",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "res/mesh/nodes",
        "qos": "2",
        "datatype": "json",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2360,
        "y": 1660,
        "wires": [
            [
                "66ba952ec68e4950"
            ]
        ]
    },
    {
        "id": "907ac468b6a730f7",
        "type": "mqtt in",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "esp/pong",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1080,
        "y": 1680,
        "wires": [
            [
                "c415cb322dc07b05"
            ]
        ]
    },
    {
        "id": "a1144cd322be2c84",
        "type": "mqtt out",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "req/mesh/scan",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 900,
        "y": 1880,
        "wires": []
    },
    {
        "id": "0bc13ae9ccb85b94",
        "type": "mqtt in",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "res/mesh/scan",
        "qos": "2",
        "datatype": "json",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1100,
        "y": 1880,
        "wires": [
            [
                "93972dab11c5b8d0"
            ]
        ]
    },
    {
        "id": "3681c4e62881d7f8",
        "type": "mqtt out",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "req/mesh/pair",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 900,
        "y": 2040,
        "wires": []
    },
    {
        "id": "4c96a12143c4d8db",
        "type": "mqtt in",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "res/mesh/pair",
        "qos": "2",
        "datatype": "json",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1090,
        "y": 2040,
        "wires": [
            [
                "268372200aca4cd3"
            ]
        ]
    },
    {
        "id": "8047d3627b2967c2",
        "type": "mongodb3 in",
        "z": "995c4b1d9b050545",
        "service": "_ext_",
        "configNode": "013c016d2aaac063",
        "name": "mongoDB",
        "collection": "",
        "operation": "",
        "x": 1720,
        "y": 2060,
        "wires": [
            [
                "a260a9a26f5ef5d7"
            ]
        ]
    },
    {
        "id": "880e1442db379124",
        "type": "mongodb3 in",
        "z": "995c4b1d9b050545",
        "service": "_ext_",
        "configNode": "013c016d2aaac063",
        "name": "mongoDB",
        "collection": "",
        "operation": "",
        "x": 2300,
        "y": 1920,
        "wires": [
            [
                "ec5256dbc44ec346"
            ]
        ]
    },
    {
        "id": "b3d4a98d814e6274",
        "type": "mongodb3 in",
        "z": "995c4b1d9b050545",
        "service": "_ext_",
        "configNode": "013c016d2aaac063",
        "name": "mongoDB",
        "collection": "",
        "operation": "",
        "x": 920,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "e1a304dc41993c16",
        "type": "debug",
        "z": "995c4b1d9b050545",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "type",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3340,
        "y": 980,
        "wires": []
    },
    {
        "id": "3160059097a73991",
        "type": "inject",
        "z": "995c4b1d9b050545",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ping",
        "payloadType": "str",
        "x": 790,
        "y": 1020,
        "wires": [
            [
                "e4680b8003c2de03"
            ]
        ]
    },
    {
        "id": "b0f76d1713ab55af",
        "type": "inject",
        "z": "995c4b1d9b050545",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "collection",
                "v": "nodes",
                "vt": "str"
            },
            {
                "p": "operation",
                "v": "updateOne",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"mac_address\":\"A8:46:74:46:18:DC\"},{\"$set\":{\"mac_address\":\"A8:46:74:46:18:DC\",\"node_id\":1950750941,\"node_type\":\"relay\",\"state\":{\"r1\":false,\"r2\":true},\"config\":\"test\"}}]",
        "payloadType": "json",
        "x": 2070,
        "y": 2020,
        "wires": [
            [
                "880e1442db379124"
            ]
        ]
    },
    {
        "id": "1cb5da2baad85996",
        "type": "debug",
        "z": "995c4b1d9b050545",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2560,
        "y": 360,
        "wires": []
    },
    {
        "id": "b89917b8ccc7cf1f",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Ping",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 440,
        "wires": [
            [
                "f471252ebf7306d4"
            ]
        ]
    },
    {
        "id": "f471252ebf7306d4",
        "type": "mqtt out",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "esp/ping",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "bc7070bbc32b701d",
        "x": 2180,
        "y": 440,
        "wires": []
    },
    {
        "id": "a4181d150795e8d5",
        "type": "debug",
        "z": "995c4b1d9b050545",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 1600,
        "wires": []
    },
    {
        "id": "cbd33a65b0a003ac",
        "type": "ui-template",
        "z": "995c4b1d9b050545",
        "group": "fe2a4277f7efa88b",
        "page": "",
        "ui": "",
        "name": "Scan Template",
        "order": 2,
        "width": 0,
        "height": 14,
        "head": "",
        "format": "<template>\n  <div class=\"mesh-detail\">\n    <!-- Top action buttons: one left, one right -->\n    <div class=\"top-buttons d-lg-flex d-sm-block justify-space-between align-center\">\n      <strong class=\"text-h6 font-weight-bold text-uppercase text-blue-grey-darken-4\">\n          status : \n          <span :class=\"master_status === 'online' ? 'text-teal' : 'text-red-darken-2'\">\n            {{ master_status }}\n          </span>\n        </strong>\n      <div>\n        <v-btn\n          outlined\n          @click=\"scanNodes\"\n          style=\"background-color: #a2af9b; color: black\"\n          class=\"font-weight-bold text-subtitle-1 text-blue-grey-darken-4 mr-4\"\n        >\n          SCAN\n        </v-btn>\n\n        <v-btn\n        color=\"red-darken-1\"\n        outlined\n        @click=\"deleteAllNodes\"\n        class=\"font-weight-bold text-subtitle-1\"\n      >\n        RESET !\n      </v-btn>\n      </div>\n    </div>\n\n    <!-- Nodes displayed inline (only mesh_slave: false) -->\n    <div class=\"nodes-container pa-4 rounded-lg\" style=\"background-color: #a2af9b;\">\n      <div\n        v-for=\"(node, index) in nodes_detected.filter(n => !n.mesh_slave)\"\n        :key=\"index\"\n        class=\"node-item\"\n      >\n        <!-- Dialog wrapping node button -->\n        <v-dialog\n          v-model=\"node.active\"\n          transition=\"dialog-bottom-transition\"\n          class=\"w-auto\"\n          style=\"max-width: 400px;\"\n        >\n          <template v-slot:activator=\"{ props: activatorProps }\">\n            <v-btn\n              v-bind=\"activatorProps\"\n              class=\"pt-2 pb-2\"\n              color=\"primary\"\n              outlined\n            >\n            <div class=\"d-lg-flex d-xs-block\">\n              <div class=\"mr-lg-4\">\n                Node Name: {{ node.display_name }}\n                <br /><br />\n                MAC Addr: {{ node.mac_address }}\n              </div>\n              <!-- Delete button stays on card -->\n              <v-btn\n                color=\"red-darken-1\"\n                small\n                class=\"\"\n                @click.stop=\"deleteNode(index)\"\n              >\n                Delete\n              </v-btn>\n            </div>\n            </v-btn>\n          </template>\n\n          <!-- Popup content -->\n          <v-card>\n            <v-toolbar title=\"New Slave\" style=\"background-color: #a2af9b;\"></v-toolbar>\n\n            <v-card-text>\n              <p class=\"mb-2\"><strong>Node Name:</strong> {{ node.display_name }}</p>\n              <p class=\"mb-2\"><strong>MAC Address:</strong> {{ node.mac_address }}</p>\n              <p>\n                <strong>Description:</strong>\n                <v-text-field v-model=\"description\" label=\"Description\" outlined class=\"mt-2\"></v-text-field>\n              </p>\n            </v-card-text>\n\n            <v-card-actions class=\"justify-space-between\">\n              <v-btn\n                  style=\"background-color: #a2af9b; color: black\"\n                  :loading=\"isLoading\"\n                  :disabled=\"isLoading\"\n                  @click=\"addSlave(node)\"\n                >\n                  <template v-slot:loader>\n                    <v-progress-circular indeterminate color=\"white\" size=\"20\"></v-progress-circular>\n                  </template>\n                  <span v-if=\"!isLoading\">Pair</span>\n                  <span v-else>Loading...</span>\n                </v-btn>\n\n              <v-btn\n                @click=\"cancelAddSlave(node)\"\n                style=\"background-color: #90a4ae; color: black\"\n              >\n                Cancel\n              </v-btn>\n            </v-card-actions>\n          </v-card>\n        </v-dialog>\n      </div>\n    </div>\n  </div>\n  <!-- Top notification -->\n  <v-snackbar\n    v-model=\"snackbar\"\n    top\n    absolute\n    :timeout=\"notify_timeout\"\n    :color=\"notify_color\"\n    elevation=\"5\"\n  >\n    {{ message }}\n    <template v-slot:actions>\n      <v-btn text @click=\"snackbar = false\">Close</v-btn>\n    </template>\n  </v-snackbar>\n</template>\n\n<script>\nexport default {\n  props: {\n    msg: {\n      type: Object,\n      required: true\n    }\n  },\n  data() {\n    return {\n      nodes_detected: [],\n      description: \"\",\n      pair_display_name: \"\",\n      pair_mac_addr: \"\",\n      master_status: \"offline\",\n      ping_delay: 0,\n      scan_request: false, // filter msg scan\n      pair_request: false, // filter msg pair\n      isLoading: false,\n      snackbar: false, // control notify visibility\n      message: '', // message of notify\n      notify_color: \"teal\",\n      notify_timeout: 0\n    };\n  },\n  mounted() {\n    // invoke logic function\n    this.scanNodes();\n\n    // Load saved nodes from localStorage\n    const savedNodes = localStorage.getItem(\"nodes_detected\");\n    if (savedNodes) {\n      try {\n        this.nodes_detected = JSON.parse(savedNodes).map(n => ({\n          ...n,\n          active: false, // ensure active property exists\n        }));\n      } catch (e) {\n        console.error(\"Failed to parse nodes_detected from localStorage\", e);\n      }\n    }\n\n    if (localStorage.getItem(\"loggedIn\") === \"false\") {\n      this.redirectLogin();\n    }\n\n    // Load data from localStorage\n\n    const description = localStorage.getItem(\"description\");\n    const pair_display_name = localStorage.getItem(\"pair_display_name\");\n    const pair_mac_addr = localStorage.getItem(\"pair_mac_addr\");\n    const isLoading = localStorage.getItem(\"isLoading\");\n\n    if (description && description != \"\") {\n        this.description = description;\n    }\n\n    if (pair_display_name && pair_display_name != \"\") {\n      this.pair_display_name = pair_display_name;\n    }\n\n    if (pair_mac_addr && pair_mac_addr != \"\") {\n      this.pair_mac_addr = pair_mac_addr;\n    }\n    if (isLoading == \"true\") {\n      this.isLoading = true;\n    } else {\n      this.isLoading = false;\n    }\n  },\n  watch: {\n    msg: {\n      handler(newMsg) {\n        // node scan res handler\n        if (newMsg && newMsg.scan && this.scan_request) {\n          const payload = { ...newMsg.payload };\n          payload.result.forEach(item => {\n            const node = { \n              ...item, \n              mesh_slave: false, \n              active: false \n            };\n\n            const exists = this.nodes_detected.some(\n              n => n.mac_address === node.mac_address && n.display_name === node.display_name\n            );\n\n            if (!exists) {\n              this.nodes_detected.push(node);\n              console.log(\"New node detected:\", node);\n            }\n          });\n          this.scan_request = false; \n        }\n\n        // pong handler\n        if (newMsg && newMsg.pong) {\n          this.master_status = \"online\"\n          if (this.ping_delay < 2) {\n            this.ping_delay += 2;\n          }\n        }\n\n        // pair handler and if have pair successed it will auto allow\n        if (newMsg && newMsg.pair && (this.pair_request || newMsg.payload.mac_address == this.pair_mac_addr)) {\n          this.pair_request = false;\n\n          // check pair status\n          switch (newMsg.payload.info) {\n            case \"pairing to new node.\":\n              // change to loading state\n              this.isLoading = true;\n\n              // Save to localStorage\n              localStorage.setItem(\"description\", this.description);\n              localStorage.setItem(\"pair_display_name\", this.pair_display_name);\n              localStorage.setItem(\"pair_mac_addr\", this.pair_mac_addr);\n              localStorage.setItem(\"isLoading\", this.isLoading);\n\n              console.log(\"Info : Wait for pairing..\");\n              this.showNotification(\"Info : Wait for pairing..\", \"blue\");\n              \n              // wait for paired from esp32\n              break;\n            case \"failed to connect to node.\":\n              console.log(\"Error : Failed to connect to node!!\");\n              this.showNotification(\"Error : Failed to connect to node!!\", \"red\");\n              break;\n            case \"pair success!\":\n              console.log(\"Info : Pair succeed!!\");\n              this.showNotification(\"Info : Pair succeed!!\", \"green\");\n\n              // save to mongoDB database\n              const sendObj = {\n                collection: \"nodes\",\n                payload: { \n                  mac_address: newMsg.payload.mac_address,\n                  node_id: newMsg.payload.node_id,\n                  node_type: newMsg.payload.node_type,\n                  description: this.description\n                },\n                operation: \"insertOne\",\n                toMongo: true\n              };\n\n              this.send(sendObj);\n\n              // Set mesh_slave = true so it no longer appears in scan section\n              const targetNode = this.nodes_detected.find(\n                n => n.mac_address === this.pair_mac_addr && n.display_name === this.pair_display_name\n              );\n              if (targetNode) {\n                targetNode.mesh_slave = true;\n                localStorage.setItem(\"nodes_detected\", JSON.stringify(this.nodes_detected));\n              }\n              this.isLoading = false;\n              // reset pairing node info\n              this.description = \"\";\n              this.pair_display_name = \"\";\n              this.pair_mac_addr = \"\";\n\n              // Save to localStorage\n              localStorage.setItem(\"description\", this.description);\n              localStorage.setItem(\"pair_display_name\", this.pair_display_name);\n              localStorage.setItem(\"pair_mac_addr\", this.pair_mac_addr);\n              localStorage.setItem(\"isLoading\", this.isLoading);\n              break;\n            default:\n              console.log(\"Some error occurred!!\");\n              this.showNotification(\"Error : Some error occurred!!\", \"red\");\n          }\n        }\n      },\n      deep: true\n    }\n  },\n  methods: {\n    showNotification(msg = 'Notification shown at the top!', color = \"teal\") {\n      this.notify_timeout += 3000;\n      this.message = msg;\n      this.notify_color = color;\n      this.snackbar = true;\n      // Optional: send message to Node-RED backend\n      this.$emit('send', { payload: 'top_notification_shown' });\n    },\n    redirectLogin() {\n      const base = window.location.origin;\n      window.location.href = `${base}/dashboard/login`;\n    },\n    deleteNode(index) {\n      this.nodes_detected.splice(index, 1);\n      localStorage.setItem(\n        \"nodes_detected\",\n        JSON.stringify(this.nodes_detected)\n      );\n    },\n    deleteAllNodes() {\n      if (confirm(\"Are you sure you want to delete all nodes?\")) {\n        this.nodes_detected = [];\n        localStorage.removeItem(\"nodes_detected\");\n        const sendObj = {\n          collection: \"nodes\",\n          operation: \"drop\",\n          toMongo: true\n        };\n        this.send(sendObj);\n      }\n    },\n    addSlave(node) {\n      this.pair_display_name = node.display_name;\n      this.pair_mac_addr = node.mac_address;\n\n      // send pairing request\n      const sendObj = {\n        payload : node.mac_address,\n        pair : \"true\"\n      };\n      this.pair_request = true;\n      \n      // handle master offline\n      if (this.master_status == \"offline\") {\n        console.log(\"Error : Master is offline!!\");\n        this.showNotification(\"Error : Master is offline!!\", \"red\");\n        return;\n      }\n\n      if (this.isLoading) {\n        console.log(\"Warning : Cannot pair node while pairing!!\");\n        this.showNotification(\"Warning : Cannot pair node while pairing!!\", \"yellow\");\n        return;\n      }\n\n      this.send(sendObj);\n\n      // Send message to Node-RED backend\n      this.$emit('send', { payload: 'button_clicked' });\n    },\n    scanNodes() {\n      const sendObj = {\n        payload: \"scan\"\n      };\n      this.scan_request = true; \n      this.send(sendObj);\n    },\n    cancelAddSlave(node) {\n      if (this.isLoading == false) {\n        // close dialog pop up\n        node.active = false;\n      } else {\n        if (confirm(\"Do you want to cancel ?\\n[ cancel after pairing you have to sync mesh ]\")) {\n          this.isLoading = false;\n          this.pair_display_name = \"\";\n          this.pair_mac_addr = \"\";\n          this.description = \"\";\n\n          // Save to localStorage\n          localStorage.setItem(\"description\", this.description);\n          localStorage.setItem(\"pair_display_name\", this.pair_display_name);\n          localStorage.setItem(\"pair_mac_addr\", this.pair_mac_addr);\n          localStorage.setItem(\"isLoading\", this.isLoading);\n\n          // close dialog pop up\n          node.active = false;\n        }\n      }\n    }\n  },\n};\n</script>\n\n<style scoped>\n.top-buttons {\n  margin: 10px;\n}\n\n.mesh-detail {\n  display: flex;\n  flex-direction: column;\n  margin: 10px;\n}\n\n.nodes-container {\n  display: flex;\n  flex-wrap: wrap;\n  gap: 10px;\n}\n\n.node-item {\n  display: inline-block;\n}\n\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 1800,
        "wires": [
            [
                "7200907c870bcecc"
            ]
        ]
    },
    {
        "id": "716992b61cdb4ed6",
        "type": "mqtt in",
        "z": "995c4b1d9b050545",
        "name": "Relay State Auto Update",
        "topic": "res/state/auto_update",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 2750,
        "y": 900,
        "wires": [
            [
                "7d35d6abece30415"
            ]
        ]
    },
    {
        "id": "0423d53bdaa016bc",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt in : res/state/auto_update",
        "info": "",
        "x": 2770,
        "y": 860,
        "wires": []
    },
    {
        "id": "7d35d6abece30415",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Relay Auto",
        "func": "if (msg.type == \"RELAY_AUTO_UPDATE\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3000,
        "y": 900,
        "wires": [
            [
                "c4045e37eab059d8"
            ]
        ]
    },
    {
        "id": "64c187dba565776f",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Get GPIO Type",
        "func": "if (msg.type == \"GET_GPIO_TYPE\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 220,
        "wires": [
            [
                "a1d6e336a83a8678"
            ]
        ]
    },
    {
        "id": "8bdba5011f906c23",
        "type": "function",
        "z": "995c4b1d9b050545",
        "name": "Filter Get GPIO Type",
        "func": "msg.type = \"GET_GPIO_TYPE\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2580,
        "y": 220,
        "wires": [
            [
                "67addc1632646f2c"
            ]
        ]
    },
    {
        "id": "cb4a9fd9eb93215e",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt out : req/mode/get",
        "info": "",
        "x": 2100,
        "y": 180,
        "wires": []
    },
    {
        "id": "6953200d75d6344b",
        "type": "comment",
        "z": "995c4b1d9b050545",
        "name": "mqtt in : res/mode/get",
        "info": "",
        "x": 2340,
        "y": 180,
        "wires": []
    },
    {
        "id": "a1d6e336a83a8678",
        "type": "mqtt out",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "req/mode/get",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f872b1a3b60c90a9",
        "x": 2120,
        "y": 220,
        "wires": []
    },
    {
        "id": "d2a76df90bc9df04",
        "type": "mqtt in",
        "z": "995c4b1d9b050545",
        "name": "",
        "topic": "res/mode/get",
        "qos": "2",
        "datatype": "json",
        "broker": "f872b1a3b60c90a9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 2310,
        "y": 220,
        "wires": [
            [
                "8bdba5011f906c23"
            ]
        ]
    },
    {
        "id": "f8b258566e0329c5",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.27.2",
            "node-red-contrib-mongodb3": "2.0.1",
            "node-red-dashboard": "3.6.6"
        }
    }
]