node-red.JSON
[
    {
        "id": "0b6ebac63bd94e18",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0806859195df2919",
        "type": "junction",
        "z": "0b6ebac63bd94e18",
        "x": 840,
        "y": 1460,
        "wires": [
            [
                "bc9f9daff9bb48f2",
                "5a5419c864c6ecb0"
            ]
        ]
    },
    {
        "id": "1a42b92bd945ebf7",
        "type": "junction",
        "z": "0b6ebac63bd94e18",
        "x": 1920,
        "y": 1380,
        "wires": [
            [
                "5aa34d54ddd53ed6"
            ]
        ]
    },
    {
        "id": "37a492f2f5f9ee93",
        "type": "junction",
        "z": "0b6ebac63bd94e18",
        "x": 1840,
        "y": 1220,
        "wires": [
            [
                "1a42b92bd945ebf7"
            ]
        ]
    },
    {
        "id": "bc9f9daff9bb48f2",
        "type": "junction",
        "z": "0b6ebac63bd94e18",
        "x": 900,
        "y": 1220,
        "wires": [
            [
                "c980370cbcea64fb"
            ]
        ]
    },
    {
        "id": "5a5419c864c6ecb0",
        "type": "junction",
        "z": "0b6ebac63bd94e18",
        "x": 900,
        "y": 1600,
        "wires": [
            [
                "2a877f6f79083b44",
                "e21717004ec28da5"
            ]
        ]
    },
    {
        "id": "e21717004ec28da5",
        "type": "junction",
        "z": "0b6ebac63bd94e18",
        "x": 980,
        "y": 1840,
        "wires": [
            [
                "68c74683fcf06548",
                "f043323731a8c7b0"
            ]
        ]
    },
    {
        "id": "bc3ccc94a4ab0909",
        "type": "junction",
        "z": "0b6ebac63bd94e18",
        "x": 1860,
        "y": 1600,
        "wires": [
            [
                "1a42b92bd945ebf7"
            ]
        ]
    },
    {
        "id": "0e74dac22cdf22fa",
        "type": "junction",
        "z": "0b6ebac63bd94e18",
        "x": 1780,
        "y": 2040,
        "wires": [
            [
                "bc3ccc94a4ab0909"
            ]
        ]
    },
    {
        "id": "f043323731a8c7b0",
        "type": "junction",
        "z": "0b6ebac63bd94e18",
        "x": 1040,
        "y": 2040,
        "wires": [
            [
                "2e52c0529c2b7f83"
            ]
        ]
    },
    {
        "id": "aa7e83c2ad68ddad",
        "type": "function",
        "z": "0b6ebac63bd94e18",
        "name": "Pseudo Scan Node",
        "func": "if (msg.payload) {\n    msg.payload = {\n        \"result\": [\n            {\n                \"mac_address\": \"0C:AD:ER:BE:HU:15\",\n                \"display_name\": \"MeshNode_Relay\"\n            },\n            {\n                \"mac_address\": \"10:b5:1d:15:1e:aa\",\n                \"display_name\": \"MeshNode_Sensor\"\n            }\n        ]\n    };\n    return msg\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 1740,
        "wires": [
            [
                "1d334d2b9b01aaaf"
            ]
        ]
    },
    {
        "id": "e3f7db15542a92ed",
        "type": "comment",
        "z": "0b6ebac63bd94e18",
        "name": "mqtt in : esp/ping",
        "info": "",
        "x": 1260,
        "y": 1040,
        "wires": []
    },
    {
        "id": "8726667b0e803d91",
        "type": "comment",
        "z": "0b6ebac63bd94e18",
        "name": "mqtt out : esp/pong",
        "info": "",
        "x": 1450,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f88f08705752012d",
        "type": "function",
        "z": "0b6ebac63bd94e18",
        "name": "Pseudo Ping Pong",
        "func": "if (msg.payload) {\n    msg.payload = \"alive\"\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 1080,
        "wires": [
            [
                "53b5bf2cb4df189e"
            ]
        ]
    },
    {
        "id": "c980370cbcea64fb",
        "type": "function",
        "z": "0b6ebac63bd94e18",
        "name": "Filter Ping",
        "func": "if (msg.payload == \"ping\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 1220,
        "wires": [
            [
                "f88f08705752012d"
            ]
        ]
    },
    {
        "id": "369b8ed00ad3ba4c",
        "type": "comment",
        "z": "0b6ebac63bd94e18",
        "name": "mqtt in : req/mesh/scan",
        "info": "",
        "x": 1280,
        "y": 1700,
        "wires": []
    },
    {
        "id": "1b4750db91d32840",
        "type": "comment",
        "z": "0b6ebac63bd94e18",
        "name": "mqtt out  : res/mesh/scan",
        "info": "",
        "x": 1510,
        "y": 1700,
        "wires": []
    },
    {
        "id": "2a877f6f79083b44",
        "type": "function",
        "z": "0b6ebac63bd94e18",
        "name": "Filter Scan Req",
        "func": "if (msg.payload == \"scan\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 1600,
        "wires": [
            [
                "aa7e83c2ad68ddad"
            ]
        ]
    },
    {
        "id": "53b5bf2cb4df189e",
        "type": "function",
        "z": "0b6ebac63bd94e18",
        "name": "Filter Pong",
        "func": "msg.scan = false;\nmsg.pong = true;\nmsg.info = false;\nmsg.pair = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1220,
        "wires": [
            [
                "37a492f2f5f9ee93"
            ]
        ]
    },
    {
        "id": "1d334d2b9b01aaaf",
        "type": "function",
        "z": "0b6ebac63bd94e18",
        "name": "Filter Scan Res",
        "func": "msg.scan = true;\nmsg.pong = false;\nmsg.info = false;\nmsg.pair = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 1600,
        "wires": [
            [
                "bc3ccc94a4ab0909"
            ]
        ]
    },
    {
        "id": "68c74683fcf06548",
        "type": "function",
        "z": "0b6ebac63bd94e18",
        "name": "Filter Mongo",
        "func": "if (msg.toMongo){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 1840,
        "wires": [
            [
                "f4a1b29d41ccc34c"
            ]
        ]
    },
    {
        "id": "2a127040d23dfe62",
        "type": "debug",
        "z": "0b6ebac63bd94e18",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1100,
        "wires": []
    },
    {
        "id": "8d12913d2a0edfbb",
        "type": "inject",
        "z": "0b6ebac63bd94e18",
        "name": "Pseudo Paired",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"mac_address\":\"10:B4:1D:14:1E:B8\",\"node_id\":487857849,\"node_type\":\"relay\",\"capabilities\":{\"relays\":[{\"id\":\"r1\",\"name\":\"relay1\"},{\"id\":\"r2\",\"name\":\"relay2\"}]}}",
        "payloadType": "json",
        "x": 1260,
        "y": 940,
        "wires": [
            [
                "1355c35a9cbee992"
            ]
        ]
    },
    {
        "id": "d660e486ad641ac1",
        "type": "comment",
        "z": "0b6ebac63bd94e18",
        "name": "mqtt out : mesh/node/info",
        "info": "",
        "x": 1270,
        "y": 900,
        "wires": []
    },
    {
        "id": "1355c35a9cbee992",
        "type": "function",
        "z": "0b6ebac63bd94e18",
        "name": "Filter Scan Req",
        "func": "msg.scan = false;\nmsg.pong = false;\nmsg.info = true;\nmsg.pairing = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "6af717befab41ccb",
        "type": "function",
        "z": "0b6ebac63bd94e18",
        "name": "Pseudo Pairing",
        "func": "if (msg.payload) {\n    msg.payload = {\n        \"mac_address\":\"0C:AD:ER:BE:HU:15\", \n        \"info\":\"pairing to new node.\"\n    };\n\n    // Error condition\n    // msg.payload = {\n    //     \"mac_address\":\"0C:AD:ER:BE:HU:15\",\n    //     \"info\":\"failed to connect to node.\"\n    // };\n\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 2180,
        "wires": [
            [
                "abd135364a0a0f4b"
            ]
        ]
    },
    {
        "id": "abd135364a0a0f4b",
        "type": "function",
        "z": "0b6ebac63bd94e18",
        "name": "Filter Pair Res",
        "func": "msg.scan = false;\nmsg.pong = false;\nmsg.info = false;\nmsg.pair = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 2040,
        "wires": [
            [
                "0e74dac22cdf22fa",
                "1fd36e377f4d73a0"
            ]
        ]
    },
    {
        "id": "2e52c0529c2b7f83",
        "type": "function",
        "z": "0b6ebac63bd94e18",
        "name": "Filter Pair Req",
        "func": "if (msg.pair == \"true\") {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 2040,
        "wires": [
            [
                "6af717befab41ccb"
            ]
        ]
    },
    {
        "id": "b3a2bddd09214fd5",
        "type": "comment",
        "z": "0b6ebac63bd94e18",
        "name": "mqtt in : req/mesh/pair",
        "info": "",
        "x": 1290,
        "y": 2140,
        "wires": []
    },
    {
        "id": "723ac5e9a4a62880",
        "type": "comment",
        "z": "0b6ebac63bd94e18",
        "name": "mqtt out : res/mesh/pair",
        "info": "",
        "x": 1520,
        "y": 2140,
        "wires": []
    },
    {
        "id": "befbbcc7269d1c61",
        "type": "inject",
        "z": "0b6ebac63bd94e18",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ping",
        "payloadType": "str",
        "x": 970,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "2e9f90d8dcf789dd",
        "type": "ui-template",
        "z": "0b6ebac63bd94e18",
        "group": "2f692e7cb40097ed",
        "page": "",
        "ui": "",
        "name": "Login Template",
        "order": 1,
        "width": 0,
        "height": 14,
        "head": "",
        "format": "<template class=\"bg-black-100\">\n  <div class=\"flex flex-col items-center justify-center h-full p-6\">\n    <h2 class=\"text-2xl font-bold mb-4\">Login</h2>\n    <v-text-field v-model=\"username\" label=\"Username\" outlined></v-text-field>\n    <v-text-field v-model=\"password\" label=\"Password\" type=\"password\" outlined></v-text-field>\n    <p v-if=\"error\" class=\"text-red-500 mt-2\">{{ error }}</p>\n    <v-btn class=\"mt-4\" color=\"primary\" @click=\"login\">Login</v-btn>\n  </div>\n</template>\n\n<script>\nexport default {\n  props: {\n    msg: {\n      type: Object,\n      required: true\n    }\n  },\n  data() {\n    return {\n      username: \"\",\n      password: \"\",\n      error: \"\"\n    };\n  },\n  mounted() {\n    if (localStorage.getItem(\"loggedIn\") === \"true\") {\n      this.redirectScan();\n    }\n  },\n  watch: {\n    msg(newMsg) {\n      if (newMsg && newMsg.payload) {\n        const user = newMsg.payload;\n        if (this.username === user.username && this.password === user.password) {\n          this.error = \"\";\n          localStorage.setItem(\"loggedIn\", \"true\");\n          this.redirectScan();\n        } else {\n          this.error = \"Invalid username or password\";\n        }\n      }\n    }\n  },\n  methods: {\n    login() {\n      const sendObj = {\n        collection: \"users\",\n        payload: { username: this.username },\n        operation: \"findOne\"\n      };\n      this.send(sendObj);\n    },\n    redirectScan() {\n      // tell Node-RED to switch tab via ui-control\n      const base = window.location.origin;\n      window.location.href = `${base}/dashboard/scan`;\n    }\n  }\n};\n</script>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1220,
        "y": 2300,
        "wires": [
            [
                "2d9018103451074e"
            ]
        ]
    },
    {
        "id": "5aa34d54ddd53ed6",
        "type": "ui-template",
        "z": "0b6ebac63bd94e18",
        "group": "8146a75c4508b858",
        "page": "",
        "ui": "",
        "name": "Scan Template",
        "order": 1,
        "width": 0,
        "height": 14,
        "head": "",
        "format": "<template>\n  <div class=\"mesh-detail\">\n    <!-- Top action buttons: one left, one right -->\n    <div class=\"top-buttons d-lg-flex d-sm-block justify-space-between align-center\">\n      <strong class=\"text-h6 font-weight-bold text-uppercase text-blue-grey-darken-4\">\n          status : \n          <span :class=\"master_status === 'online' ? 'text-teal' : 'text-red-darken-2'\">\n            {{ master_status }}\n          </span>\n        </strong>\n      <div>\n        <v-btn\n          outlined\n          @click=\"scanNodes\"\n          style=\"background-color: #a2af9b; color: black\"\n          class=\"font-weight-bold text-subtitle-1 text-blue-grey-darken-4 mr-4\"\n        >\n          SCAN\n        </v-btn>\n\n        <v-btn\n        color=\"red-darken-1\"\n        outlined\n        @click=\"deleteAllNodes\"\n        class=\"font-weight-bold text-subtitle-1\"\n      >\n        RESET !\n      </v-btn>\n      </div>\n    </div>\n\n    <!-- Nodes displayed inline (only mesh_slave: false) -->\n    <div class=\"nodes-container pa-4 rounded-lg\" style=\"background-color: #a2af9b;\">\n      <div\n        v-for=\"(node, index) in nodes_detected.filter(n => !n.mesh_slave)\"\n        :key=\"index\"\n        class=\"node-item\"\n      >\n        <!-- Dialog wrapping node button -->\n        <v-dialog\n          v-model=\"node.active\"\n          transition=\"dialog-bottom-transition\"\n          class=\"w-auto\"\n          style=\"max-width: 400px;\"\n        >\n          <template v-slot:activator=\"{ props: activatorProps }\">\n            <v-btn\n              v-bind=\"activatorProps\"\n              class=\"pt-2 pb-2\"\n              color=\"primary\"\n              outlined\n            >\n            <div class=\"d-lg-flex d-xs-block\">\n              <div class=\"mr-lg-4\">\n                Node Name: {{ node.display_name }}\n                <br /><br />\n                MAC Addr: {{ node.mac_address }}\n              </div>\n              <!-- Delete button stays on card -->\n              <v-btn\n                color=\"red-darken-1\"\n                small\n                class=\"\"\n                @click.stop=\"deleteNode(index)\"\n              >\n                Delete\n              </v-btn>\n            </div>\n            </v-btn>\n          </template>\n\n          <!-- Popup content -->\n          <v-card>\n            <v-toolbar title=\"New Slave\" style=\"background-color: #a2af9b;\"></v-toolbar>\n\n            <v-card-text>\n              <p class=\"mb-2\"><strong>Node Name:</strong> {{ node.display_name }}</p>\n              <p class=\"mb-2\"><strong>MAC Address:</strong> {{ node.mac_address }}</p>\n              <p>\n                <strong>Description:</strong>\n                <v-text-field v-model=\"description\" label=\"Description\" outlined class=\"mt-2\"></v-text-field>\n              </p>\n            </v-card-text>\n\n            <v-card-actions class=\"justify-space-between\">\n              <v-btn\n                  style=\"background-color: #a2af9b; color: black\"\n                  :loading=\"isLoading\"\n                  :disabled=\"isLoading\"\n                  @click=\"addSlave(node)\"\n                >\n                  <template v-slot:loader>\n                    <v-progress-circular indeterminate color=\"white\" size=\"20\"></v-progress-circular>\n                  </template>\n                  <span v-if=\"!isLoading\">Create</span>\n                  <span v-else>Loading...</span>\n                </v-btn>\n\n              <v-btn\n                @click=\"cancelAddSlave(node)\"\n                style=\"background-color: #90a4ae; color: black\"\n              >\n                Cancel\n              </v-btn>\n            </v-card-actions>\n          </v-card>\n        </v-dialog>\n      </div>\n    </div>\n  </div>\n  <!-- Top notification -->\n    <v-snackbar\n      v-model=\"snackbar\"\n      top\n      absolute\n      :timeout=\"notify_timeout\"\n      :color=\"notify_color\"\n      elevation=\"5\"\n    >\n      {{ message }}\n      <template v-slot:actions>\n        <v-btn text @click=\"snackbar = false\">Close</v-btn>\n      </template>\n    </v-snackbar>\n</template>\n\n<script>\nexport default {\n  props: {\n    msg: {\n      type: Object,\n      required: true\n    }\n  },\n  data() {\n    return {\n      nodes_detected: [],\n      description: \"\",\n      pair_display_name: \"\",\n      pair_mac_addr: \"\",\n      master_status: \"offline\",\n      ping_delay: 0,\n      ping_request: false, // filter msg ping\n      scan_request: false, // filter msg scan\n      pair_request: false, // filter msg pair\n      isLoading: false,\n      snackbar: false, // control notify visibility\n      message: '', // message of notify\n      notify_color: \"teal\",\n      notify_timeout: 0\n    };\n  },\n  mounted() {\n    // invoke logic function\n    this.checkStatus();\n    this.scanNodes();\n\n    // Load saved nodes from localStorage\n    const savedNodes = localStorage.getItem(\"nodes_detected\");\n    if (savedNodes) {\n      try {\n        this.nodes_detected = JSON.parse(savedNodes).map(n => ({\n          ...n,\n          active: false, // ensure active property exists\n        }));\n      } catch (e) {\n        console.error(\"Failed to parse nodes_detected from localStorage\", e);\n      }\n    }\n\n    if (localStorage.getItem(\"loggedIn\") === \"false\") {\n      this.redirectLogin();\n    }\n  },\n  watch: {\n    msg: {\n      handler(newMsg) {\n        // node scan res handler\n        if (newMsg && newMsg.scan && this.scan_request) {\n          const payload = { ...newMsg.payload };\n          payload.result.forEach(item => {\n            const node = { \n              ...item, \n              mesh_slave: false, \n              active: false \n            };\n\n            const exists = this.nodes_detected.some(\n              n => n.mac_address === node.mac_address && n.display_name === node.display_name\n            );\n\n            if (!exists) {\n              this.nodes_detected.push(node);\n              console.log(\"New node detected:\", node);\n            }\n          });\n          this.scan_request = false; \n        }\n\n        // pong handler\n        if (newMsg && newMsg.pong && this.ping_request) {\n          this.master_status = \"online\"\n          if (this.ping_delay < 2) {\n            this.ping_delay += 2;\n          }\n          this.ping_request = false; \n        }\n\n        // pair handler and if have pair successed it will auto allow\n        if (newMsg && newMsg.pair && (this.pair_request || newMsg.payload.mac_address == this.pair_mac_addr)) {\n          this.pair_request = false;\n\n          // check pair status\n          switch (newMsg.payload.info) {\n            case \"pairing to new node.\":\n              console.log(\"Info : Wait for pairing..\");\n              this.showNotification(\"Info : Wait for pairing..\", \"blue\");\n              \n              // wait for paired from esp32\n              break;\n            case \"failed to connect to node.\":\n              console.log(\"Error : Failed to connect to node!!\");\n              this.showNotification(\"Error : Failed to connect to node!!\", \"red\");\n              break;\n            case \"pair success!\":\n              console.log(\"Info : Pair succeed!!\");\n              this.showNotification(\"Info : Pair succeed!!\", \"green\");\n\n              // save to mongoDB database\n              const sendObj = {\n                collection: \"nodes\",\n                payload: { \n                  description: this.description, \n                  display_name: this.pair_display_name,\n                  mac_address: this.pair_mac_addr\n                },\n                operation: \"insertOne\",\n                toMongo: true\n              };\n\n              this.send(sendObj);\n\n              // Set mesh_slave = true so it no longer appears in scan section\n              const targetNode = this.nodes_detected.find(\n                n => n.mac_address === this.pair_mac_addr && n.display_name === this.pair_display_name\n              );\n              if (targetNode) {\n                targetNode.mesh_slave = true;\n                localStorage.setItem(\"nodes_detected\", JSON.stringify(this.nodes_detected));\n              }\n              this.isLoading = false;\n              break;\n            default:\n              console.log(\"Some error occurred!!\");\n              this.showNotification(\"Error : Some error occurred!!\", \"red\");\n          }\n        }\n      },\n      deep: true\n    }\n  },\n  methods: {\n    showNotification(msg = 'Notification shown at the top!', color = \"teal\") {\n      this.notify_timeout += 3000;\n      this.message = msg;\n      this.notify_color = color;\n      this.snackbar = true;\n      // Optional: send message to Node-RED backend\n      this.$emit('send', { payload: 'top_notification_shown' });\n    },\n    redirectLogin() {\n      const base = window.location.origin;\n      window.location.href = `${base}/dashboard/login`;\n    },\n    deleteNode(index) {\n      this.nodes_detected.splice(index, 1);\n      localStorage.setItem(\n        \"nodes_detected\",\n        JSON.stringify(this.nodes_detected)\n      );\n    },\n    deleteAllNodes() {\n      if (confirm(\"Are you sure you want to delete all nodes?\")) {\n        this.nodes_detected = [];\n        localStorage.removeItem(\"nodes_detected\");\n        const sendObj = {\n          collection: \"nodes\",\n          operation: \"drop\",\n          toMongo: true\n        };\n        this.send(sendObj);\n      }\n    },\n    addSlave(node) {\n      this.pair_display_name = node.display_name;\n      this.pair_mac_addr = node.mac_address;\n\n      // send pairing request\n      const sendObj = {\n        payload : node.mac_address,\n        pair : \"true\"\n      };\n      this.pair_request = true;\n      \n      // handle master offline\n      if (this.master_status == \"offline\") {\n        console.log(\"Error : Master is offline!!\");\n        this.showNotification(\"Error : Master is offline!!\", \"red\");\n        return;\n      }\n      this.send(sendObj);\n\n      // change to loading state\n      this.isLoading = true;\n\n      // Send message to Node-RED backend\n      this.$emit('send', { payload: 'button_clicked' });\n    },\n    checkStatus() {\n      // send ping payload to master node\n      setInterval(() => {\n      const sendObj = {\n        payload: \"ping\"\n      };\n      this.ping_request = true; \n      // online & offline logic\n      if (this.ping_delay == 0) {\n        this.master_status = \"offline\";\n      } else {\n        this.master_status = \"online\";\n        this.ping_delay -= 1;\n      }\n      this.send(sendObj);\n      }, 5000); // 1000 ms = 1 second\n    },\n    scanNodes() {\n      const sendObj = {\n        payload: \"scan\"\n      };\n      this.scan_request = true; \n      this.send(sendObj);\n    },\n    cancelAddSlave(node) {\n      // reset pairing node info\n      this.description = \"\";\n      this.pair_display_name = \"\";\n      this.pair_mac_addr = \"\";\n\n      this.isLoading = false;\n      // close dialog pop up\n      node.active = false;\n    }\n  },\n};\n</script>\n\n<style scoped>\n.top-buttons {\n  margin: 10px;\n}\n\n.mesh-detail {\n  display: flex;\n  flex-direction: column;\n  margin: 10px;\n}\n\n.nodes-container {\n  display: flex;\n  flex-wrap: wrap;\n  gap: 10px;\n}\n\n.node-item {\n  display: inline-block;\n}\n\n.v-btn {\n  min-width: 150px;\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1380,
        "y": 1420,
        "wires": [
            [
                "0806859195df2919"
            ]
        ]
    },
    {
        "id": "16396c0943f3bbeb",
        "type": "ui-template",
        "z": "0b6ebac63bd94e18",
        "group": "dd337cb0663d76c3",
        "page": "",
        "ui": "",
        "name": "Slave Template",
        "order": 1,
        "width": 0,
        "height": 14,
        "head": "",
        "format": "<template>\n<div class=\"nodes-container pa-4 rounded-lg\" style=\"background-color: #a2af9b;\">\n    <div\n        v-for=\"(mesh, index) in mesh_list\"\n        :key=\"index\"\n        class=\"mesh-item\"\n    >\n        <v-container>\n    <v-dialog\n      transition=\"dialog-bottom-transition\"\n      width=\"auto\"\n    >\n      <template v-slot:activator=\"{ props: activatorProps }\">\n        <v-btn\n            v-bind=\"activatorProps\"\n            class=\"pt-2 pb-2\"\n            color=\"primary\"\n            outlined\n        >\n            <div class=\"mr-4 text-left\">\n                <p class=\"text-h6 font-weight-bold\" style=\"color:#415936\">Mesh Name: {{ mesh.mesh_name }}</p>\n                <p class=\"text-subtitle-2\">IP Addr: {{ mesh.ip_address }}</p>\n            </div>\n        </v-btn>\n      </template>\n      <template v-slot:default=\"{ isActive }\">\n        <v-card>\n          <v-toolbar title=\"Opening from the Top\"></v-toolbar>\n          <v-card-text class=\"text-h2 pa-12\">\n            Hello world!\n          </v-card-text>\n          <v-card-actions class=\"justify-end\">\n            <v-btn\n              text=\"Close\"\n              @click=\"isActive.value = false\"\n            ></v-btn>\n          </v-card-actions>\n        </v-card>\n      </template>\n    </v-dialog>\n  </v-container>\n    </div>\n  </div>\n</template>\n<script>\nexport default {\n  mounted() {\n    if (localStorage.getItem(\"loggedIn\") === \"false\") {\n        this.redirectLogin();\n    }\n    const sendObj = {\n        collection: \"mesh\",\n        payload: { username: this.username },\n        operation: \"find.toArray\"\n      };\n    this.send(sendObj);\n  },\n  data() {\n    return {\n      mesh_list: {}\n    };\n  },\n  watch: {\n    msg(newMsg) {\n        // receive mesh api\n        if (newMsg && typeof newMsg === \"object\") {\n            this.mesh_list = newMsg.payload;\n        }\n    }\n  },\n  methods: {\n    redirectLogin() {\n      const base = window.location.origin;\n      window.location.href = `${base}/dashboard/login`;\n    }\n  }\n};\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1560,
        "y": 2300,
        "wires": [
            [
                "cffb5b6a61f9d7b7"
            ]
        ]
    },
    {
        "id": "2d9018103451074e",
        "type": "mongodb3 in",
        "z": "0b6ebac63bd94e18",
        "service": "_ext_",
        "configNode": "013c016d2aaac063",
        "name": "mongoDB",
        "collection": "",
        "operation": "",
        "x": 1220,
        "y": 2440,
        "wires": [
            [
                "2e9f90d8dcf789dd"
            ]
        ]
    },
    {
        "id": "cffb5b6a61f9d7b7",
        "type": "mongodb3 in",
        "z": "0b6ebac63bd94e18",
        "service": "_ext_",
        "configNode": "013c016d2aaac063",
        "name": "mongoDB",
        "collection": "",
        "operation": "",
        "x": 1560,
        "y": 2440,
        "wires": [
            [
                "16396c0943f3bbeb"
            ]
        ]
    },
    {
        "id": "f4a1b29d41ccc34c",
        "type": "mongodb3 in",
        "z": "0b6ebac63bd94e18",
        "service": "_ext_",
        "configNode": "013c016d2aaac063",
        "name": "mongoDB",
        "collection": "",
        "operation": "",
        "x": 1460,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "c6730923fcc5ee04",
        "type": "inject",
        "z": "0b6ebac63bd94e18",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "pair",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0C:AD:ER:BE:HU:15\"",
        "payloadType": "str",
        "x": 980,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "40093642ca93ac47",
        "type": "inject",
        "z": "0b6ebac63bd94e18",
        "name": "Pseudo Paired",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"mac_address\":\"0C:AD:ER:BE:HU:15\", \"info\":\"pair success!\"}",
        "payloadType": "json",
        "x": 1270,
        "y": 1960,
        "wires": [
            [
                "abd135364a0a0f4b"
            ]
        ]
    },
    {
        "id": "c25134efa3fa77a6",
        "type": "comment",
        "z": "0b6ebac63bd94e18",
        "name": "mqtt out : res/mesh/pair",
        "info": "",
        "x": 1260,
        "y": 1920,
        "wires": []
    },
    {
        "id": "1fd36e377f4d73a0",
        "type": "debug",
        "z": "0b6ebac63bd94e18",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 1920,
        "wires": []
    },
    {
        "id": "aca3942ab33a873e",
        "type": "ui_spacer",
        "z": "0b6ebac63bd94e18",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "2f692e7cb40097ed",
        "type": "ui-group",
        "name": "Login Group",
        "page": "f721a59bf36641c2",
        "width": 12,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8146a75c4508b858",
        "type": "ui-group",
        "name": "Scan Group",
        "page": "b5fbde398eca86ab",
        "width": 12,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "dd337cb0663d76c3",
        "type": "ui-group",
        "name": "Slave",
        "page": "b820a1f0025766bd",
        "width": 12,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "013c016d2aaac063",
        "type": "mongodb3",
        "uri": "mongodb+srv://tuwaris:5D4Wyu40hIK64EFh@tuwaris.5ynbx.mongodb.net/smart_home?retryWrites=true&w=majority&appName=Tuwaris",
        "name": "smart_home",
        "options": "{ “useNewUrlParser”: true}",
        "parallelism": -1
    },
    {
        "id": "f721a59bf36641c2",
        "type": "ui-page",
        "name": "Login",
        "ui": "9c6816c5eb8f8852",
        "path": "/login",
        "icon": "login",
        "layout": "grid",
        "theme": "6ba0f05d9b3e74ec",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "b5fbde398eca86ab",
        "type": "ui-page",
        "name": "Scan",
        "ui": "9c6816c5eb8f8852",
        "path": "/scan",
        "icon": "wifi",
        "layout": "grid",
        "theme": "6ba0f05d9b3e74ec",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b820a1f0025766bd",
        "type": "ui-page",
        "name": "Slave",
        "ui": "9c6816c5eb8f8852",
        "path": "/mesh",
        "icon": "device",
        "layout": "grid",
        "theme": "6ba0f05d9b3e74ec",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9c6816c5eb8f8852",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "6ba0f05d9b3e74ec",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#a2af9b",
            "primary": "#dccfc0",
            "bgPage": "#faf9ee",
            "groupBg": "#eeeeee",
            "groupOutline": "#e3e3e3"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "77d02f9101d65ffe",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.27.2",
            "node-red-contrib-mongodb3": "2.0.1",
            "node-red-dashboard": "3.6.6"
        }
    }
]